<div>
  <div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Get {{ title }}</h3>
  </div>

  <div class="modal-body">
    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" trace='{{ trace }}' unsafe></alert-message>
    <alert-message ng-show="msg" class="alert-info" msg="{{ msg }}" unsafe></alert-message>
    <alert-message ng-show="submit && !fields" class="alert-info" msg="Downloading pig result file from Amazon S3 and generating pig section fields..." unsafe></alert-message>
    <div ng-hide="noInput">
      <h4>SQL Query Parameters</h4>
      <form name="Form" class="form-horizontal alert-info alert">
        <div ng-repeat="param in params" class="control-group">
          <label class="control-label">{{ param | capfirst }}:</label>
          <div class="controls"  ng-class="{error: Form[param].$invalid}">
            <input ng-model='inputParams[param]' name="{{ param }}" placeholder='Please input {{ param }}' type='text' required />
            <span ng-hide="inputParams[param]" class="help-inline">*</span>
          </div>
        </div>
      </form>
    </div>
    <div ng-show="generated_pig_string || sample_xml">
      <div ng-show="generated_pig_string">
        <h4>Pig Sample</h4>
        <textarea class="small cml-codemirror-refresh" ui-codemirror="$root.codeMirrorConfigs(false)['sql']" ng-model="generated_pig_string" />
      </div>
      <div ng-show="sample_xml">
        <h4>XML Fields Sample</h4>
        <textarea class="small cml-codemirror-refresh" ng-show="sample_xml" ui-codemirror="$root.codeMirrorConfigs(false)['xml']" ng-model="sample_xml" />
      </div>
      <hr />
      <a ng-click="showTable = !showTable"><span ng-hide="showTable">Show</span><span ng-show="showTable">Hide</span> table structure</a>
      <div ng-show="fields && showTable">
        <h4>Table Structure</h4>
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Type</th>
              <th>Max Length</th>
              <th>Nullable</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="field in fields">
              <td>{{ field.column_name }}</td>
              <td>{{ field.data_type }}</td>
              <td>{{ field.character_maximum_length }}</td>
              <td>{{ field.is_nullable }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div ng-show="pig_result_line">
        <a ng-click="showRawData = !showRawData"><span ng-hide="showRawData">Show</span><span ng-show="showRawData">Hide</span> pig result line</a>
        <br />
        <p ng-show="pig_result_line && showRawData">
          {{ pig_result_line }}
        </p>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="$dismiss('cancel')" class="btn btn-primary">Close</button>
    <button ng-hide="noInput" ng-click="getFields()" class="btn btn-success">Load</button>
  </div>
</div>
