<div ng-controller="SaveObjectCtl">
<h2>
  Add New Import Handler
  <small>
      <a ng-href="#/import_handlers">(Cancel)</a>
  </small>
</h2>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<form name="Form" class="form-horizontal">
  <p class="lead">
    Please define name, type and upload json file with defined 
    import handler parameters.
  </p>
  <div class="control-group" ng-class="{error: Form.name.$invalid}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name" required>
      <span ng-show="Form.name.$error.required" class="help-inline">Required</span>
      <span class="help-block">name should be without spaces</span>
    </div>
  </div>
 <div class="control-group" ng-class="{error: Form.type.$invalid}">
    <label class="control-label">Type</label>
    <div class="controls">
      <select ng-model="model.type" required ng-options="value.name for value in types" ng-selected='types[0]'>
      </select>
      <span ng-show="Form.type.$error.required" class="help-inline">Required</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: !data}">
    <label class="control-label">JSON file</label>
    <div class="controls">
      <input type="file" name="data" ng-model="model.data" onchange="angular.element(this).scope().readFile(this, 'data')">
      <span ng-show="!data" class="help-inline">Required</span>
      <span class="help-block">json file with import data details</span>
    </div>
  </div>
  <br />
  <a href="#/import_handlers" class="btn">Cancel</a>
  <button ng-click="save(['name', 'data', 'type'])" ng-disabled="Form.$invalid || !data" class="btn btn-primary">Add new import handler</button> <small>and start using it in your models</small>
</form>
</div>