<div ng-controller="SaveObjectCtl">
  <h2>
    New Query
    <small><a href="#{{ handler.objectUrl() }}">(Cancel)</a></small>
  </h2>

  <loadindicator title="Save import handler..." ng-show="saving" cml-progress="savingProgress"></loadindicator>

  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
 
  <form name="QueryForm" class="form-horizontal query">
    <div class="control-group" ng-class="{error: QueryItemForm.name.$invalid}">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" name="name" ng-model="model.name" required />
        <span ng-show="QueryItemForm.name.$error.required" class="help-inline">*</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: QueryItemForm.sql.$invalid}">
      <label class="control-label">SQL</label>
      <div class="controls">
        <textarea ui-codemirror="codeMirrorConfigs(false)['sql']" ng-model="model.sql"></textarea>
        <span ng-show="QueryItemForm.sql.$error.required" class="help-inline">*</span>
      </div>
    </div>
  </form>
  <button ng-disabled="QueryForm.$invalid" ng-click="save(['name', 'sql'])" class="btn btn-primary"><span>Add</span> query</button>
</div>