<div ng-controller="SaveObjectCtl">
  <h2>
    New Query Item
    <small><a href="#{{ handler.objectUrl() }}">(Cancel)</a></small>
  </h2>

  <loadindicator title="Save import handler..." ng-show="saving" cml-progress="savingProgress"></loadindicator>

  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
 
  <form name="QueryForm" class="form-horizontal query">
    <div class="control-group" ng-class="{error: QueryItemForm.source.$invalid}">
      <label class="control-label">Source</label>
      <div class="controls">
        <input type="text" name="name" ng-model="model.source" required />
        <span ng-show="QueryItemForm.source.$error.required" class="help-inline">*</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: QueryItemForm.process_as.$invalid}">
      <label class="control-label">Process As</label>
      <div class="controls">
        <select name="process_as" ng-model="model.process_as">
          <option>-----</option>
          <option ng-repeat="strategy in PROCESS_STRATEGIES" value="strategy">{{ strategy }}</option>
        </select>
        <span ng-show="QueryItemForm.process_as.$error.required" class="help-inline">*</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: QueryItemForm.is_required.$invalid}">
      <label class="control-label">Is Required</label>
      <div class="controls">
        <input type="checkbox" name="is_required" ng-checked="model.is_required" ng-model="model.is_required" />
      </div>
    </div>
  </form>
  <button ng-disabled="QueryForm.$invalid" ng-click="save(['source', 'process_as', 'is_required'])" class="btn btn-primary"><span>Add</span> query</button>
</div>