<h2>
  Import Handler
  <small title="Title"
    class="title" ng-bind="model.name || 'untitled handler'"
    editable="handler" value="handler.name"
    editable-field="name" editable-input="text"
    editable-placement="right"></small>
  <div class="actions" ng-controller="ImportHandlerActionsCtrl">
    <div ng-init="init({handler: handler})">
      <button ng-click="importData(handler)" class="btn btn-info">
        <i title="Load data" class="icon-tasks"></i>
        Import DataSet
      </button>
      <button ng-click="delete(handler)" class="btn btn-danger">
        <i title="Delete your handler. Be careful - you could not recover it!" class="icon-remove"></i>
        Delete
      </button>
    </div>
  </div>
</h2>

<div title="quick info" ng-init="obj=handler">
  <ng-include src="'/partials/parts/created_tags.html'"></ng-include>
</div>
<p></p>

<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe></alert-message>
<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe></alert-message>

<ul class="nav nav-tabs" ng-show="handler.loaded">
  <li ng-class="{active: action[0] == 'model'}">
    <a ng-click="setSection(['model', 'details'])">Details</a> 
  </li>
  <li ng-class="{active: action[0] == 'dataset'}"><a ng-click="setSection(['dataset', 'list'])">DataSets</a></li>
</ul>
 
<div class="tab-content" ng-show="handler.loaded">
  <div ng-show="action[0] == 'model'">
    <div>
        Type: <span class="value">{{ handler.type }}</span>
    </div>
    <div>
        Import Parameters: <span class="value" ng-repeat="param in handler.import_params">{{ param }}</span>
    </div>
    <div>
        Data Format: <span class="value">{{ handler.format|uppercase }}</span>
    </div>
    <h5>Import Handler JSON data</h5>
    <a href="{{ handler.downloadUrl() }}"><i title="Download import handler file" class="icon-download-alt"></i> Download</a>
    <span ng-click="saveData()" class="btn btn-primary">Save</span>
    <textarea name="data" ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="handler.data"> </textarea>
  </div>

  <div ng-show="action[0] == 'dataset'">
    <h3>DataSets</h3>
    <div ng-controller="DatasetListCtrl" ng-init="init(handler)">
      <ng-include src="'/partials/datasets/list.html'"></ng-include>
    </div>
  </div>
</div>