<h2>
  Import Handler
  <small title="Title"
    class="title" ng-bind="model.name || 'untitled handler'"
    editable="handler" value="handler.name"
    editable-field="name" editable-input="text"
    editable-placement="right"></small>
  <div class="actions" ng-controller="ImportHandlerActionsCtrl">
    <div ng-init="init({handler: handler})">
      <button ng-click="importData(handler)" class="btn btn-info">
        <i title="Load data" class="icon-tasks"></i>
        Import DataSet
      </button>
      <button class="btn btn-info" ng-click="testHandler(handler)"><i class="icon-play"></i> Test Import Handler</button>
      <button ng-click="delete(handler)" class="btn btn-danger">
        <i title="Delete your handler. Be careful - you could not recover it!" class="icon-remove"></i>
        Delete
      </button>
    </div>
  </div>
</h2>

<div title="quick info" ng-init="obj=handler">
  <ng-include src="'/partials/parts/created_tags.html'"></ng-include>
</div>
<p></p>

<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe></alert-message>
<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe></alert-message>

<ul class="nav nav-tabs" ng-show="handler.loaded">
  <li ng-class="{active: action[0] == 'model'}">
    <a ng-click="setSection(['model', 'details'])">Details</a> 
  </li>
  <li ng-class="{active: action[0] == 'dataset'}"><a ng-click="setSection(['dataset', 'list'])">DataSets</a></li>
</ul>
 
<div class="tab-content" ng-show="handler.loaded">
  <div ng-show="action[0] == 'model'">
  <p class="switcher">
    <b>Switch View: </b>
    <a ng-class="{active: action[1] == 'details'}" ng-click="setSection(['model', 'details'])">Standart</a> | 
    <a ng-class="{active: action[1] == 'json'}" ng-click="setSection(['model', 'json']);">JSON File</a>
  </p>
  <div ng-show="action[1] == 'details'">
    <div>
      Target Schema:
      <span title="Target Schema" class="target_schema" ng-bind="handler.target_schema || 'untitled target schema'" editable="handler" value="handler.target_schema"    editable-field="target_schema" editable-input="text" editable-placement="right"></span>
    </div>
    <div>
        Import Parameters: <span class="value" ng-repeat="param in handler.import_params">{{ param }}</span>
    </div>
    <div>
      <h4>
          Data Sources
      </h4>
      <div class="well" ng-repeat="ds in handler.datasource">
        <!-- <a style="float: right;" ng-click="deleteDataSource(handler.datasources, ds)">
          <i title="Delete data source" class="icon-remove"></i>
        </a> -->
        <div>
          Name:
          <span class="value">
             {{ ds.name }} <span><a ng-click="editDataSource(handler, ds)">(edit)</a></span>
          </span>
        </div>
        <div>
          Type:
          <span class="value">{{ ds.type }}</span>
        </div>
        <div>
          Vendor:
          <span class="value">{{ ds.db_settings.vendor }}</span>
        </div>
        <div>
          Connection String:
          <span class="value">{{ ds.db_settings.conn }}</span>
        </div>
      </div>
    </div>
    <h4>
      Queries
      <div class="actions">
        <a class="btn btn-info" href="#/importhandlers/{{ handler._id }}/query/add">
          <i class="status-icon icon-plus"></i> Add Query
        </a>
      </div>
    </h4>
    <div class="clearfix"></div>
    <div ng-init="queries_run_sql={}" class="well query" ng-repeat="query in handler.queries">
      <a style="float: right;" ng-click="deleteQuery(handler.queries, query)">
        <i title="Delete query" class="icon-remove"></i>
      </a>
      <div>
        Name:
        <span title="name" class="name" ng-bind="query.name || 'untitled name'" editable="query" value="query.name" editable-field="name" editable-input="text" editable-placement="right"></span>
      </div>
      <div>
        SQL:
        <p><textarea ui-codemirror="{mode: 'text/x-mysql', indentWithTabs: true, smartIndent: true, lineNumbers: true, matchBrackets : true, height: '100px'}" ng-model="query.sql"></textarea></p>
        <button class="btn btn-primary" ng-click="query.$save({only: ['sql']})">Save</button>
        <button class="btn btn-info" ng-click="runQuery(query)"><i class="icon-play"></i> Run Query</button>
      </div>
      <div class="query-results" ng-show="query.test">
        <h5 ng-init="queries_run_sql[query.num]=1"><a ng-click="queries_run_sql[query.num]=!queries_run_sql[query.num]"><span ng-hide="queries_run_sql[query.num]" ng-bind="'Show'" /><span ng-show="queries_run_sql[query.num]" ng-bind="'Hide'" /> SQL Query Result</a></h5>
        <div style="overflow: auto;" ng-show="queries_run_sql[query.num]">
          <alert-message ng-show="query.test.error" class="alert-error" msg="{{ query.test.error }}" unsafe></alert-message>
          <table class="table table-bordered table-hovered" style="background: white;">
              <tr><th ng-repeat="col in query.test.columns">{{ col }}</th></tr>
              <tr ng-repeat="row in query.test.data">
                  <td ng-repeat="col in query.test.columns">
                      <div style="max-height: 200px; overflow: auto">
                      {{ row[col] }}
                      </div>
                  </td>
              </tr>
          </table>
        </div>
      </div>
      <div>
        <h5>
          Items
          <div class="actions">
            <a class="btn btn-info" href="#/importhandlers/{{ handler._id }}/query/{{ query.num }}/items/add">
              <i class="status-icon icon-plus"></i> Add Item
            </a>
          </div>
        </h5>
        <table class="table table-hover" style="margin-bottom: 0px;">
        <thead>
          <tr>
            <th>Source</th>
            <th>Target Features</th>
            <th>Process As</th>
            <th>Required?</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in query.items">
            <td>
              <span title="source" class="source" ng-bind="item.source || 'no source'" editable="item" value="item.source" editable-field="source" editable-input="text" editable-placement="right"></span><br/>
            </td>
            <td>
              <small>
              <table class="table table-bordered">
                <thead>
                  <tr>
                    <th>
                      Name
                       <a ng-click="editTargetFeature(item, null)" title="add target feature"><i class="icon-plus" title="add" /></a>
                    </th>
                    <th ng-show="['composite', 'json'].indexOf(item.process_as) > -1">Parameters</th>
                    <th style="width:35px;" />
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="feature in item.target_features">
                    <th>
                      <a ng-click="" title="edit feature">{{ feature.name }}</a>
                    </th>
                    <td ng-show="['composite', 'json'].indexOf(item.process_as) > -1">
                      <div ng-show="item.process_as == 'json'">
                        <div ng-show="feature.to_csv">
                          <b>To CSV</b>: {{ feature.to_csv }}
                        </div>
                        <div ng-show="feature.jsonpath">
                          <b>JSON Path</b>: {{ feature.jsonpath }}
                        </div>
                        <div ng-show="feature.key_path">
                          <b>Key Path</b>: {{ feature.key_path }}
                        </div>
                        <div ng-show="feature.value_path">
                          <b>Value Path</b>: {{ feature.value_path }}
                        </div>
                      </div>
                      <div ng-show="item.process_as == 'composite'">
                        <div>
                          <b>Expression Type: </b>
                          {{ feature.expression.type }}
                        </div>
                        <div>
                          <b>Expression Value: </b>
                          {{ feature.expression.value }}
                        </div>
                    </td>
                    <td>
                      <a ng-click="editTargetFeature(item, feature)"><i class="icon-edit" title="edit" /></a>
                      <a ng-click="deleteFeature(item.target_features, feature)" title="remove feature"><i class="icon-remove" /></a>
                    </td>
                  </tr>
                </tbody>
              </table>
              </small>
            </td>
            <td>
              <span title="Process strategy" ng-bind="item.process_as" editable="item" value="item.process_as" editable-field="process_as" editable-placement="right" editable-input="select" source="PROCESS_STRATEGIES"></span>
            </td>
            <td>
              <a ng-show="item.is_required" ng-click="makeRequired(item, false)"><i class="icon-ok" title="Make not required" /> yes</a> <a ng-click="makeRequired(item, true)" ng-hide="item.is_required"><i class="icon-remove" title="Make required" /> no</a>
            </td>
            <td>
              <a ng-click="deleteItem(query.items, item)">
                <i title="Delete query item" class="icon-remove"></i>
              </a>
            </td>
          </tr>
        </tbody>
        </table>
      </div>
    </div>
    </div>
    <div ng-show="action[1] == 'json'">
      <a href="{{handler.downloadUrl()}}">Download</a>
      <textarea name="data" ui-codemirror="{ mode: {name: 'javascript', json: true, readOnly: true} }" ng-model="handler.data"></textarea>
    </div>    
  </div>

  <div ng-show="action[0] == 'dataset'">
    <h3>DataSets</h3>
    <div ng-controller="DatasetListCtrl" ng-init="init(handler)">
      <ng-include src="'/partials/datasets/list.html'"></ng-include>
    </div>
  </div>
</div>