<h2>
  Import Handler List
  <div class="actions">
      <a class="btn btn-info" href="#/importhandlers/add">
        <i class="status-icon icon-plus"></i> Add new import handler
      </a>
  </div>
</h2>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<alert-message ng-show="objects.length == 0" class="alert-info" msg="No import handlers found"></alert-message>

<table ng-controller="BaseListCtrl" ng-init="init(true, 'importhandler')" ng-hide="objects.length == 0" class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Target Schema</th>
    <th>Data Source</th>
    <th>Import Parameters</th>
    <th>Created</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="handler in objects">
    <td><a href="#{{ handler.objectUrl() }}">{{ handler.name }}</a></td>
    <td ng-bind="handler.target_schema" />
    <td>
      <span ng-repeat="ds in handler.datasource" ng-bind="ds.name" />
    </td>
    <td>
      <span ng-repeat="param in handler.import_params">{{ param }} </span>
    </td>
    <td>
        {{ handler.created_on|format_date }}<br>
        <small ng-show="handler.created_by">by {{ handler.created_by.name }} ({{ handler.created_by.uid }})</small>
    </td>
    <td ng-controller="ImportHandlerActionsCtrl">
      <button ng-show="handler.type == 'Db'" ng-click="importData(handler)" class="btn btn-info">
        <i title="Import Data" class="icon-tasks"></i>
      </button>
      <button ng-click="delete(handler)" class="btn btn-danger">
        <i title="Delete your handler. Be careful - you could not recover it!" class="icon-remove"></i>
      </button>
    </td>
  </tr>
</tbody>
</table>