<div>
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Test Import</h3>
  </div>

  <div class="modal-body">
    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
    <form name="Form" class="form-horizontal">
      <div ng-repeat="param in params" class="control-group">
          <label class="control-label">{{ param | capfirst }}:</label>
          <div class="controls"  ng-class="{error: Form.parameters[param].$invalid}">
            <input ng-model='parameters[param]' name="{{ param }}" placeholder='Please input {{ param }}' type='text' required />
            <span ng-show="Form[param].$error.required" class="help-inline">Required</span>
          </div>
        </div>
        <hr ng-show="query.test_params" />
          <div class="control-group" ng-class="{error: Form.limit.$invalid}">
            <label class="control-label">Limit of rows</label>
            <div class="controls">
              <input type="text" name="limit" ng-model="test_limit" />
              <span ng-show="Form.limit.$error.required" class="help-inline">*</span>
            </div>
          </div>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-click="runTestImport()" ng-disabled="Form.$invalid" class="btn btn-primary">Run</button>
  </div>
</div>
