<h2>
    {{ featuresSet.name|capfirst }} Details
</div>
</h2>

<div title="quick info" ng-init="obj=featuresSet">
  <ng-include src="'/partials/parts/created_tags.html'"></ng-include>
</div>
<p></p>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe></alert-message>

<div>Schema Name: <span class="value">{{ featuresSet.schema_name }}</span></div>
<div>Classifier: <a target="_blank" href="#{{ featuresSet.classifier.objectUrl() }}" class="value">
	{{ featuresSet.classifier.name }} ({{ featuresSet.classifier.type }})
</a></div>
<div>Target Variable: <span class="value">{{ featuresSet.target_variable }}</span></div>

<div ng-controller="FeaturesListCtrl" ng-init="init(featuresSet)">
<h4>Features List
	<div class="actions">
      <a class="btn btn-info" ng-click="addFeature()">
        <i class="status-icon icon-plus"></i> Add new Feature
      </a>
  	</div>
</h4>

<div ng-controller="FeatureFieldsSelectsLoader">
<table ng-controller="BaseListCtrl" ng-init="init(true, 'features')" class="table table-hover">
	<thead>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Input Format</th>
		<th>Transformer</th>
		<th>Params</th>
		<th>Required</th>
		<th>Scaler</th>
		<th>Default</th>
		<th>Is Target Variable</th>
		<th>Created</th>
		<th>Actions</th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="feature in objects">
			<td><span title="Feature Name" class="title" ng-bind="feature.name || 'feature name here'" editable="feature" value="feature.name" editable-field="name" editable-input="text" editable-placement="right"></span></td>
			<td><span title="Feature Type" ng-bind="feature.type" editable="feature" value="feature.type" editable-field="type" editable-placement="right" editable-input="select" source="types"></span></td>
			<td><span title="Input Format" ng-bind="feature.input_format" editable="feature" value="feature.input_format" editable-field="input_format" editable-placement="right"editable-input="text"></span></td>
			<td><span title="Transformer" ng-bind="feature.transformer.name" editable="feature" value="feature.transformer.name" editable-field="transformer" editable-placement="right" editable-input="select" source="transformers"></span></td>
			<td>{{ feature.params }}</td>
			<td><a ng-show="feature.is_required"><i class="icon-ok" title="Make not required" /> yes</a><a ng-hide="feature.is_required"><i class="icon-remove" title="Make required" /> no</a></td>
			<td># TODO:</td>
			<td><span title="Default Value" class="title" ng-bind="feature.default || ''" editable="feature" value="feature.default" editable-field="default" editable-input="text" editable-placement="right"></span></td>
			<td><span ng-show="feature.is_target_variable"><i class="icon-ok" /> yes</span><a ng-hide="feature.is_target_variable"><i class="icon-check" title="Make this variable target" /> make target</a></td>
			<td>
		        {{ feature.created_on|format_date }}<br>
		        <small ng-show="feature.created_by">by {{ feature.created_by.name }} ({{ feature.created_by.uid }})</small>
		    </td>
		    <td>del</td>
		</tr>
	</tbody>
</table>
</div>
</div>