<h2>
  Features Set List
  <div class="actions">
      <a class="btn btn-info" href="#/aws/instances/add">
        <i class="status-icon icon-plus"></i> Add new Feature Set
      </a>
  </div>
</h2>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<alert-message ng-show="objects.length == 0" class="alert-info" msg="No AWS instances found"></alert-message>

<table ng-hide="objects.length == 0" class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Schema Name</th>
    <th>Classifier Type</th>
    <th>Features Count</th>
    <th>Created</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="fset in objects">
    <td>
      <a href="#{{ fset.objectUrl() }}">{{ fset.name }}</a>
    </td>
    <td>{{ fset.schema_name }}</td>
    <td>{{ instance.classifier_type }}</td>
    <td>{{ instance.features_count }}</td>
    <td>
        {{ instance.created_on|format_date }}<br>
        <small ng-show="instance.created_by">by {{ instance.created_by.name }} ({{ instance.created_by.uid }})</small>
    </td>
    <td ng-controller="FeaturesActionsCtrl">
    </td>
  </tr>
</tbody>
</table>