<h2>
    Cluster {{ cluster.jobflow_id|capfirst }} Details
    <div class="actions" ng-controller="ClusterActionsCtrl">
      <button ng-hide="cluster.active_tunnel" ng-click="createSshTunnel(cluster)" class="btn btn-info">
        <i title="Create ssh tunnel" class="icon-eye-open"></i>  Create SSH tunnel
      </button>
      <small ng-show="cluster.active_tunnel == -1">
        <i title="Creating ssh tunnel..." class="icon-refresh"></i> Creating SSH Tunnel
      </small>
      <button ng-show="cluster.active_tunnel && cluster.active_tunnel != -1" ng-click="terminateSshTunnel(cluster)" class="btn btn-warning">
        <i title="Terminate ssh tunnel" class=" icon-eye-close"></i> Terminate SSH tunnel
      </button>
      <button ng-show="cluster.status != 'Terminated'" ng-click="terminateCluster(cluster)" class="btn btn-danger">
        <i title="Terminate cluster" class="icon-remove"></i> Terminate cluster
      </button>
    </div>
</h2>

<div title="quick info" ng-init="obj=instance">
  <ng-include src="'partials/parts/created_tags.html'"></ng-include>
</div>
<p></p>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' trace="{{ trace }}" unsafe></alert-message>

<alert-message ng-hide="cluster.active_tunnel && cluster.active_tunnel != -1" class="alert-info" msg='Cluster Web UI not available - please create SSH Tunnel.' unsafe></alert-message>

<alert-message ng-show="cluster.active_tunnel && cluster.active_tunnel != -1" class="alert-info" msg='More logs could be found in the <a href="http://{{ host }}:{{ cluster.port }}" target="_blank">Cluster Web UI</a>'></alert-message>

<div>Master Node DNS: <span class="value">{{ cluster.master_node_dns }}</span></div>
<div>Port: <span class="value">{{ cluster.port }}</span></div>
<div>Status: <span class="value">{{ cluster.status }}</span></div>
<div>Is Default: <span class="value">{{ cluster.is_default }}</span></div>