<h2>
  Clusters List
  <div class="actions">
  </div>
</h2>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<alert-message ng-show="objects.length == 0" class="alert-info" msg="No AWS clusters found"></alert-message>
<table ng-hide="objects.length == 0" class="table table-hover">
<thead>
  <tr>
    <th>Job Flow</th>
    <th>Master Node DNS</th>
    <th>Web ui</th>
    <th>Status</th>
    <th>Default</th>
    <th>Created</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="cluster in objects">
    <td>
      <a href="#{{ cluster.objectUrl() }}">
        {{ cluster.jobflow_id }}
      </a>
    </td>
    <td>{{ cluster.master_node_dns }}</td>
    <td>
      <a ng-show="cluster.active_tunnel && cluster.active_tunnel != -1" href="http://172.27.77.141:{{ cluster.port }}" target="_blank">Link</a>
      <span ng-hide="cluster.active_tunnel && cluster.active_tunnel != -1">not available</span>
    </td>
    <td>{{ cluster.status }}</td>
    <td>{{ cluster.is_default }}</td>
    <td>
        {{ cluster.created_on|format_date }}<br>
        <small ng-show="cluster.created_by">by {{ cluster.created_by.name }} ({{ cluster.created_by.uid }})</small>
    </td>
    <td ng-controller="ClusterActionsCtrl">
      <button ng-hide="cluster.active_tunnel" ng-click="createSshTunnel(cluster)" class="btn btn-info">
        <i title="Create ssh tunnel" class="icon-eye-open"></i>
      </button>
      <i ng-show="cluster.active_tunnel == -1" title="Creating ssh tunnel..." class="icon-refresh"></i>
      <button ng-show="cluster.active_tunnel && cluster.active_tunnel != -1" ng-click="terminateSshTunnel(cluster)" class="btn btn-warning">
        <i title="Terminate ssh tunnel" class=" icon-eye-close"></i>
      </button>
      <button ng-click="terminateCluster(cluster)" class="btn btn-danger">
        <i title="Terminate cluster" class="icon-remove"></i>
      </button>
    </td>
  </tr>
</tbody>
<tfoot>
  <tr>
    <td colspan="7">Found {{ objects.length}} cluster(s).</td>
  </tr>
</tfoot>
</table>