<div ng-controller="FeaturesSetDetailsCtrl" ng-init="init(model)">
	<div class="span4">
		<h4>Features</h4>
		<div>
			Schema Name:
			<span title="Schema Name" class="title" ng-bind="featuresSet.schema_name || 'schema name here'" editable="featuresSet" value="featuresSet.schema_name" editable-field="schema_name" editable-input="text" editable-placement="right"></span>
		</div>
		<div>Target Variable: <span class="value">{{ featuresSet.target_variable }}</span></div>
		<div>Features Count: <span class="value">{{ featuresSet.features_count }}</span></div>
	</div>
	<div class="span3">
		<h4>Segmentation</h4>
		<alert-message ng-show="segmentationMsg" class="alert-info" msg="{{segmentationMsg}}" unsafe></alert-message>
		<div ng-controller="GroupBySelector">
			Group By:
			<input ui-select2="group_by_opts" ng-model="modelObj.featuresSet.group_by" /> 
			<input type="button" class="btn btn-info" value="Save" ng-click="updateGroupBy()" style="margin-left: 5px;" />
		</div>
	</div>
</div>