<h2>
  Features Set List
  <div class="actions">
      <a class="btn btn-info" ng-click="add()">
        <i class="status-icon icon-plus"></i> Add new Feature Set
      </a>
  </div>
</h2>

<div ng-controller="BaseListCtrl" ng-init="init(true, 'feature_sets')">
<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<alert-message ng-show="objects.length == 0" class="alert-info" msg="No feature sets found"></alert-message>

<table ng-hide="objects.length == 0" class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>Schema Name</th>
    <th>Classifier Type</th>
    <th>Features Count</th>
    <th>Created</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="fset in objects">
    <td>
      <a href="#{{ fset.objectUrl() }}">{{ fset.name }}</a>
    </td>
    <td>{{ fset.schema_name }}</td>
    <td>{{ fset.classifier.name }} ({{ fset.classifier.type }})</td>
    <td>{{ fset.features_count }}</td>
    <td>
        <span title="dates in GMT">{{ fset.created_on|format_date }}</span><br>
        <small ng-show="fset.created_by">by {{ fset.created_by.name }} ({{ fset.created_by.uid }})</small>
    </td>
  </tr>
</tbody>
</table>
</div>