<div class="control-group" ng-class="{error: Form.import_handler.$invalid || Form.import_handler_file.$invalid || errorList.import_handler || errorList.import_handler_file}">
  <label class="control-label">Import Handler</label>
  <div class="controls">
    <select name="import_handler"
            ng-model="model.import_handler"
            ng-required='!model.import_handler_file'
            ng-options="handler.value as handler.text for handler in handlers_list">
      <option value="">- nothing selected -</option>
    </select>

    <span>or</span>
    <input type="file" name="import_handler_file" ng-model="model.import_handler_file" not-required-file xml-file ng-required='!model.import_handler' />
    <span ng-show="errorList.import_handler_file" class="help-block" ng-bind="errorList.import_handler_file" />
    <span ng-show="errorList.import_handler" class="help-block" ng-bind="errorList.import_handler" />
    <span ng-show="Form.import_handler_file.$error.xmlFile" class="help-block">Should be a valid XML file</span>
    <span ng-show="Form.import_handler.$invalid || Form.import_handler_file.$invalid" class="help-block">Please select existing import handler or create it from file <go-to-docs page="import_handler"></go-to-docs></span>
    <p><a ng-click="showTestImportHandler=!showTestImportHandler">I would like to use another one for running model tests</a></p>
  </div>
</div>
<div ng-show="showTestImportHandler" class="control-group" ng-class="{error: Form.test_import_handler.$invalid || Form.test_import_handler_file.$invalid || errorList.test_import_handler || errorList.test_import_handler_file}">
  <label class="control-label">Test Import Handler</label>
  <div class="controls">
    <select name="test_import_handler"
            ng-model="model.test_import_handler"
            ng-options="handler.value as handler.text for handler in handlers_list">
      <option value="">- nothing selected -</option>
    </select>
    <span>or</span> 
    <input type="file" name="test_import_handler_file" ng-model="model.test_import_handler_file" xml-file not-required-file />
    <span ng-show="errorList.test_import_handler_file" class="help-block" ng-bind="errorList.test_import_handler_file" />
    <span ng-show="errorList.test_import_handler" class="help-block" ng-bind="errorList.test_import_handler" />
    <span ng-show="Form.test_import_handler_file.$error.xmlFile" class="help-block">Should be a valid XML file</span>
    <span ng-show="Form.test_import_handler.$invalid || Form.test_import_handler_file.$invalid" class="help-block">Please select existing import handler for running tests or create it from file <go-to-docs page="import_handler"></go-to-docs></span>
  </div>
</div>