<div class="control-group" ng-class="{error: Form.test_import_handler.$invalid || Form.test_import_handler_file.$invalid || errorList.test_import_handler || errorList.test_import_handler_file}">
  <label class="control-label">Test Import Handler</label>
  <div class="controls">
    <select name="test_import_handler" ng-model="model.test_import_handler" ng-required='!model.test_import_handler_file'>
      <option ng-repeat="handler in handlers" value="{{ handler.id }}">{{ handler.name }}</option>
    </select>
    <span>or</span> 
    <input type="file" name="test_import_handler_file" ng-model="model.test_import_handler_file" json-file ng-required='!model.test_import_handler' />
    <span ng-show="errorList.test_import_handler_file" class="help-block" ng-bind="errorList.test_import_handler_file" />
    <span ng-show="errorList.test_import_handler" class="help-block" ng-bind="errorList.test_import_handler" />
    <span ng-show="Form.test_import_handler_file.$error.jsonFile" class="help-block">Should be a valid json file</span>
    <span ng-show="Form.test_import_handler.$invalid || Form.test_import_handler_file.$invalid" class="help-block">Please select existing import handler for running tests or create it from file <go-to-docs page="import_handler"></go-to-docs></span>
  </div>
</div>