<div class="control-group" ng-class="{error: (train_import_handler_required && (Form.train_import_handler.$invalid || Form.train_import_handler_file.$invalid)) || errorList.train_import_handler || errorList.train_import_handler_file }">
  <label class="control-label">Train Import Handler</label>
  <div class="controls">
    <select name="train_import_handler" ng-model="model.train_import_handler" ng-required='train_import_handler_required && !model.train_import_handler_file'>
      <option ng-repeat="handler in handlers" value="{{ handler.id }}">{{ handler.name }}</option>
    </select> 
    <span>or</span> 
    <input type="file" name="train_import_handler_file" ng-model="model.train_import_handler_file" json-file ng-required='train_import_handler_required && !model.train_import_handler' />
    <span ng-show="errorList.train_import_handler_file" class="help-block" ng-bind="errorList.train_import_handler_file" />
    <span ng-show="errorList.train_import_handler" class="help-block" ng-bind="errorList.train_import_handler" />
    <span ng-show="Form.train_import_handler_file.$error.jsonFile" class="help-block">Should be a valid json file</span>
    <span ng-show="Form.train_import_handler.$invalid || Form.train_import_handler_file.$invalid" class="help-block"><span ng-show="train_import_handler_required">Please</span><span ng-hide="train_import_handler_required">You could</span> select existing import handler for training classifier or create it from file <go-to-docs page="import_handler"></go-to-docs></span>
  </div>
</div>