*.*~
*.db
*.log
*.pyc
*.swo
*.swp
*.vim
_build
_public
*.bak
local_config.coffee
ve
*.sqlite

**/.DS_Store
nbproject
manifest.mf
build.xml
fabconf.py

.project
.settings
.idea/*

ui/node_modules/*
npm-debug.log
local.json

target

*.sublime-project
*.sublime-workspace

data
test_data
api/local_config.py

.coverage
api/test/cover/*
*_topics.txt
