*.*~
*.db
*.log
*.pyc
*.swo
*.swp
*.vim
_build
_public
*.bak
*.dat
local_config.coffee
ve
*.sqlite

**/.DS_Store
nbproject
manifest.mf
build.xml
fabconf.py

.project
.settings
.idea/*

ui/node_modules/*
npm-debug.log
local.json

target

*.sublime-project
*.sublime-workspace

data
