<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe>
</alert-message>
<alert-message ng-show="err" class="alert-error" msg='{{ err }}' trace="{{ trace }}" unsafe>
</alert-message>

<div ng-init="init({model: schedule})" ng-controller="ScheduleActionsCtrl">
    <h2 class="title">Schedule
      <span title="Title"
        class="title" ng-bind="model.name || 'untitled schedule'"
        editable="model" value="model.name"
        editable-field="name" editable-input="text"
        editable-placement="right" editable-required></span> details
      <div class="actions">
        <button ng-click="delete_schedule(model)" class="btn btn-danger">
          <i title="Delete your task schedule. Be careful - you could not recover it!" class="icon-remove"></i> Delete
        </button>
      </div>
    </h2>
    <p class="clear clearfix"></p>

    <ul class="nav nav-tabs" id="tabs" ng-show="model.loaded">
      <li ng-class="{active: action[0] == 'model'}">
        <a ng-click="setSection(['schedule', 'details'])">Details</a>
      </li>
      <li ng-class="{active: action[0] == 'model'}">
        <a ng-click="setSection(['schedule', 'logs'])">Logs</a>
      </li>
    </ul>

    <div class="tab-content" ng-show="model.loaded">
      <div ng-show="action[0] == 'model'">
        <div ng-show="action[1] == 'details'" >
            <div>
                Description: <span title="Description" class="description" ng-bind="model.description || 'not specified'" editable="model" value="model.description" editable-field="description" editable-input="textarea" editable-placement="right"></span>
            </div>
            <div ng-show="model.created_by">
                Created by:
                <span class="value">{{ model.created_by.name }} ({{ model.created_by.uid }})</span>
            </div>
            <div ng-show="model.updated_by">
                Updated by:
                <span class="value">{{ model.updated_by.name }} ({{ model.updated_by.uid }})</span>
            </div>

            <form name="Form" class="form-horizontal">
              <div class="control-group" ng-class="{error: Form.type.$invalid || errorList.type}">
                <label class="control-label">Schedule Type</label>
                <div class="controls">
                  <select ng-model="model.type" name="type" ng-change="loadScheduleFields(Form.type.$viewValue)" required ng-options="value.name for value in types">
                  </select>
                  <span ng-show="Form.type.$error.required" class="help-block">Select schedule type</span>
                  <span ng-show="errorList.type" class="help-block" ng-bind="errorList.type" />
                </div>
              </div>
              <div ng-show="schedule_config_params">
                <h4>Schedule Parameters</h4>
                <div ng-repeat="item in schedule_config_params" class="control-group">
                  <label class="control-label" title="Please input {{ item.name }}. Type: {{ item.type }}">{{ item.name }}</label>
                  <div class="controls">
                    <parameter-input ng-model="model.schedule" config="item" name="item.name"></parameter-input>
                    <span class="help-block" ng-show="Form[item.name].$invalid">invalid</span>
                  </div>
                </div>
              </div>

              <div class="control-group" ng-class="{error: Form.enabled.$invalid}">
                <label class="control-label">Enabled</label>
                <div class="controls">
                  <input type="checkbox" ng-model="model.enabled" name="enabled" />
                </div>
              </div>

                <input type="hidden" ng-model="model.scenarios" ng-bind="model.scenarios" name="scenarios" />
                <div ng-show="task_config" ng-controller="TasksActionsCtrl">ss
                  <h4>Periodic tasks scenario</h4>
                    <a class="btn btn-info" ng-click="addTask(model.scenario)" ng-show="model.scenarios | isArrayEmpty">Add Task</a>

                    <ul ng-init="tasks=model.scenarios; parent_tasks=model.scenarios;">
                      <li ng-repeat="task in tasks track by $index" ng-include="'partials/schedules/tasks/tasks.html'"></li>
                    </ul>
                </div>
              <div class="span8">
                <button ng-click="save(['type', 'schedule', 'scenario', 'enabled'])" ng-disabled="Form.$invalid || model.scenario | isArrayEmpty" class="btn btn-primary">Add new schedule</button>
              </div>

            </form>
        </div>

        <!--<div ng-show="action[1] == 'logs'">
            <div class="row">
              <div class="span12">
                  Status: <span class="value">{{ model.type }}</span> <a ng-click="showLogs=!showLogs">(logs)</a><br/>
                  <div ng-show="showLogs" class="well" ng-controller="LogMessageListCtrl" ng-init="init('trainmodel_log', model.id, 50)">
                    <div class="message">
                      <ng-include src="'partials/logmessages/list.html'"></ng-include>
                    </div>
                  </div>
              </div>
            </div>
        </div>-->
      </div>
    </div>

</div>