<div>
    <h2>
      <a href="#/schedules/">Periodic Tasks Schedules List</a>
      <div class="actions">
      <a class="btn btn-info" href="#/schedules/add_schedule">
        <i class="status-icon icon-plus"></i> Add new schedule
      </a>
      </div>
    </h2>

    <div>
      <alert-message ng-show="err" class="alert-error" msg="{{ err }}" trace="{{ trace }}" unsafe></alert-message>
      <alert-message ng-show="objects.length == 0" class="alert-info" msg="No periodic tasks schedules found"></alert-message>
        <table ng-hide="objects.length == 0" class="table table-hover">
        <thead>
          <tr>
            <th>Name</th>
            <th>Type</th>
            <th>Status</th>
            <th>Created</th>
            <th>Updated</th>
            <th>Enabled</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="schedule in objects | orderBy:'created'">
            <td>
              <a href="#/schedules/{{ schedule.id }}">
                {{ schedule.name }}
              </a>
            </td>
            <td>{{ schedule.type }}</td>
            <td>{{ schedule.status }}</td>
            <td>
                <span title="dates in GMT">{{ schedule.created_on|format_date }}</span>
                <br>
                <small ng-show="schedule.created_by">by {{ schedule.created_by.name }} ({{ schedule.created_by.uid }})</small>
            </td>
            <td>
                <span title="dates in GMT">{{ schedule.updated_on|format_date }}</span><br>
                <small ng-show="schedule.updated_by">by {{ schedule.updated_by.name }} ({{ schedule.updated_by.uid }})</small>
            </td>
            <td>
              <span ng-show="schedule.enabled">Yes</span>
              <span ng-show="!schedule.enabled">No</span>
            </td>
            <td ng-controller="ScheduleActionsCtrl">
              <a ng-click="changeEnabled(schedule, !schedule.enabled)" title="Enable/Disable" class="btn btn-info"><i class="icon-check"></i></a>
              <button ng-click="delete_schedule(schedule)" class="btn btn-danger">
                  <i title="Delete your task schedule. Be careful - you could not recover it!" class="icon-remove"></i>
              </button>
            </td>
          </tr>
        </tbody>
        </table>
    </div>
</div>