<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Add new feature</h3>
  </div>

  <div class="modal-body" ng-controller="FeatureFieldsSelectsLoader">
    <loadindicator title="Adding named feature..." ng-show="saving" progress="savingProgress"></loadindicator>

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

    <form name="Form" class="form-horizontal">
      <div class="control-group" ng-class="{error: Form.name.$invalid}">
        <label class="control-label">Name</label>
        <div class="controls">
          <input type="text" name="name" ng-model="model.name" required />
          <span ng-show="Form.name.$error.required" class="help-inline">*</span>
        </div>
      </div>
      <div class="control-group" ng-class="{error: Form.type.$invalid}">
        <label class="control-label">Type</label>
        <div class="controls">
          <select name="type" ng-model="model.type" required>
            <option ng-repeat="typeName in types" value="{{ typeName }}">{{ typeName }}</option>
          </select>
          <span ng-show="Form.type.$error.required" class="help-inline">*</span>
        </div>
      </div>
      <div class="control-group" ng-class="{error: Form.input_format.$invalid}">
        <label class="control-label">Input Format</label>
        <div class="controls">
          <input type="text" name="input_format" ng-model="model.input_format" />
          <span ng-show="Form.input_format.$error.required" class="help-inline">*</span>
        </div>
      </div>
      <div class="control-group" ng-class="{error: Form.transformer.$invalid}">
        <label class="control-label">Transformer</label>
        <div class="controls">
          <select name="transformer" ng-model="model.transformer">
            <option ng-repeat="transformer in transformers" value="{{ transformer._id }}">{{ transformer.name }}</option>
          </select>
          <span ng-show="Form.transformer.$error.required" class="help-inline">*</span>
        </div>
      </div>
      <div class="control-group" ng-class="{error: Form.default.$invalid}">
        <label class="control-label">Default</label>
        <div class="controls">
          <input type="text" name="default" ng-model="model.default" />
          <span ng-show="Form.default.$error.required" class="help-inline">*</span>
        </div>
      </div>
      # TODO: params, scaler
    </form>
  </div>

  <div class="modal-footer">
    <button ng-click="save(['name', 'type', 'input_format', 'transformer', 'params', 'required', 'scaler', 'default'])" ng-disabled="Form.$invalid" class="btn btn-primary">Add new feature</button>
  </div>
</div>