<div>
  <h2>
    <span ng-show="feature.id">Edit</span><span ng-hide="feature.id">New</span> Feature <span ng-show="feature.id">{{ feature.name }}</span>
    <small><a href="#{{ modelObj.objectUrl() }}?action=model:details">(Cancel)</a></small>
  </h2>

  <loadindicator title="Save feature..." ng-show="saving" cml-progress="savingProgress"></loadindicator>

  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" trace="{{ trace }}" unsafe></alert-message>
 
  <div class="row">
    <form name="FeatureForm" class="form-horizontal">
      <ng-include src="'partials/features/items/form.html'"></ng-include>
    </form>
  </div>
  <div class="row">
    <div class="span6">
      <form name="TransformerForm" class="form-horizontal">
        <ng-include src="'partials/features/transformers/edit_feature_transformer_body.html'"></ng-include>
      </form>
    </div>
    <div class="span5">
      <form name="ScalerForm" class="form-horizontal">
        <ng-include src="'partials/features/scalers/edit_feature_scaler_body.html'"></ng-include>
      </form>
    </div>
  </div>
  <button ng-disabled="FeatureForm.$invalid || TransformerForm.$invalid || ScalerForm.$invalid"
          ng-click="save(['name', 'type', 'input_format', 'transformer', 'params', 'required', 'scaler', 'default', 'feature_set_id', 'is_target_variable'])"  class="btn btn-primary">
    <span ng-show="feature.id">Save</span><span ng-hide="feature.id">Add</span> feature</button>
</div>