<div>
  <h2>
    <span ng-show="feature.id">Edit</span><span ng-hide="feature.id">New</span> Feature <span ng-show="feature.id">{{ feature.name }}</span>
    <small><a href="#{{ modelObj.objectUrl() }}?action=model:details">(Cancel)</a></small>
  </h2>

  <loadindicator title="Save feature..." ng-show="saving" progress="savingProgress"></loadindicator>

  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
 
  <div class="row">
    <form name="FeatureForm" class="form-horizontal">
      <ng-include src="'/partials/features/items/form.html'"></ng-include>
    </form>
  </div>
  <div class="row">
    <div class="span6">
      <h4>Transformer <a ng-click="clearTransformer()"><small>(clear)</small></a></h4>
      <div ng-controller="ConfigurationLoaderCtrl" ng-init="init( feature, 'transformer')">
        <form name="TransformerForm" class="form-horizontal">
          <ng-include src="'/partials/features/transformers/edit_feature_transformer_body.html'"></ng-include>
        </form>
      </div>
    </div>
    <div class="span5">
      <h4>Scaler <a ng-click="clearScaler()"><small>(clear)</small></a></h4>
      <div ng-controller="ConfigurationLoaderCtrl" ng-init="init( feature, 'scaler')">
        <form name="ScalerForm" class="form-horizontal">
          <ng-include src="'/partials/features/scalers/edit_feature_scaler_body.html'"></ng-include>
        </form>
      </div>
    </div>
  </div>
  <button ng-disabled="FeatureForm.$invalid || TransformerForm.$invalid || ScalerForm.$invalid" ng-click="save(['name', 'type', 'input_format', 'transformer__name', 'transformer__type',  'transformer__params', 'transformer__transformer', 'params', 'required', 'scaler__predefined_selected', 'scaler__name','scaler__type', 'scaler__params', 'default', 'feature_set_id', 'is_target_variable'])"  class="btn btn-primary"><span ng-show="feature.id">Save</span><span ng-hide="feature.id">Add</span> feature</button>
</div>