<div ng-controller="TrainIHFieldsController">
<h4>Features List
	<div class="actions">
      <a class="btn btn-info" href="#/models/{{ modelObj.id }}/features/{{ modelObj.features_set_id }}/add">
        <i class="status-icon icon-plus"></i> Add
      </a>
  	</div>
</h4>
<div ng-controller="NamedFeatureTypesSelectsLoader">
<table class="table table-hover">
	<thead>
	<tr>
		<th>Name</th>
		<th>Type</th>
		<th>Transformer</th>
		<th>Scaler</th>
		<th>Params</th>
		<th>Required</th>
		<th>Default</th>
		<th style="width: 130px;min-width:130px;">Actions</th>
	</tr>
	</thead>
	<tbody>
		<tr ng-repeat="feature in objects | orderBy:'name'" ng-init="init({model: feature})" ng-controller="FeatureActionsCtrl" ng-class="{'error': fieldNames.indexOf(feature.name) == -1, 'target': feature.is_target_variable==true,
		'disabled': feature.disabled==true}">
			<td title="{{ feature.name }}" ng-class="{bold : feature.is_target_variable==true}">
				<span title="Feature Name" class="title" ng-bind="feature.name || 'feature name here'"  value="feature.name" editable="feature" editable-field="name" editable-input="select" source="fieldNames" editable-placement="right"></span>
              	<div  title="Import handler doesn't contains {{ feature.name }} field!" ng-show="fieldNames.indexOf(feature.name) == -1">
              		<small><i class="icon-bell"></i> {{ feature.name }} not found</small>
              	</div>
              	<div ng-show="feature.is_target_variable==true">
              		<small><i class="icon-asterisk" title=""></i> target variable</small>
              	</div>
              	<div ng-show="feature.disabled==true">
              		<a title="Enable {{ feature.name }}. For now feature will not be included in generated JSON, but still active in training and testing" ng-click="toggleFeatureDisabled(feature)"><small><i class="icon-warning-sign" title=""></i> disabled feature</small></a>
              	</div>
			</td>
			<td>
				<span title="Feature Type" ng-bind="feature.type || 'no type'" editable="feature" value="feature.type" editable-field="type" editable-placement="right" editable-input="select" source="types"></span>
				<br />
				<span title="Input Format" ng-bind="feature.input_format || 'input format'" editable="feature" value="feature.input_format || ''" editable-field="input_format" editable-placement="right"editable-input="text"></span>
			</td>
			<td nowrap>
				<div ng-show="feature.transformer.type">
					<a ng-click="editTransformer(feature)">
						<span>{{ feature.transformer.type }}</span>
					</a>
					<a ng-click="deleteTransformer(feature)">
						<i title="Delete transformer from feature" class="icon-remove" />
					</a>
				</div>
				<div ng-hide="feature.transformer.type">
					<a ng-click="editTransformer(feature)" title="add feature transformer" href=""><i class="status-icon icon-plus"></i></a>
				</div>
			</td>
			<td nowrap>
				<div ng-show="feature.scaler.type">
					<a ng-click="editScaler(feature)">
						<span>{{ feature.scaler.type }}</span>
					</a>
					<a ng-click="deleteScaler(feature)">
						<i title="Delete feature scaler" class="icon-remove" />
					</a>
				</div>
				<div ng-hide="feature.scaler.type">
					<a ng-click="editScaler(feature)" title="add feature scaler" href=""><i class="status-icon icon-plus"></i></a>
				</div>
			</td>
			<td ng-init="params = feature.params">
		    	<ng-include src="'partials/parts/params_list.html'"></ng-include>
		    </td>
			<td>
				<a ng-show="feature.required" ng-click="makeRequired(feature, false)"><i class="icon-ok" title="Make not required" /> yes</a>
				<a ng-click="makeRequired(feature, true)" ng-hide="feature.required"><i class="icon-remove" title="Make required" /> no</a></td>
			<td>
				<span title="Default Value" class="title" ng-bind="feature.default || 'no default'" editable="feature" value="feature.default || ''" editable-field="default" editable-input="text" editable-placement="right"></span>
			</td>
			<td>
				<a class="btn btn-info" href="#/models/{{ modelObj.id }}/features/{{ modelObj.features_set_id }}/edit/{{ feature.id }}"><i class="icon-edit" title="edit" /></a>
              	<a class="btn" ng-hide="feature.disabled==true  || feature.is_target_variable" title="Disable {{ feature.name }}: feature will not be included in generated JSON, but still active in training and testing" ng-click="toggleFeatureDisabled(feature)"><i class="icon-warning-sign"></i></a>
				<button ng-click="deleteModel(feature)" class="btn btn-danger"><i title="Delete your feature. Be careful - you could not recover it!" class="icon-remove"></i></button>
			</td>
		</tr>
	</tbody>
</table>
</div>
</div>