<form name="Form" class="form-horizontal" ng-controller="DataSourceChoicesLoader">
  <div class="control-group" ng-class="{error: Form.name.$invalid || errorList.name}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name" ng-change="setFieldError('name')" required />
      <span ng-show="Form.name.$error.required" class="help-block">name is required and should be unique</span>
      <span ng-show="errorList.name" class="help-block" ng-bind="errorList.name" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.type.$invalid || errorList.type}">
    <label class="control-label">Type</label>
    <div class="controls">
      <select name="type" ng-model="model.type" required>
        <option ng-selected="model.type == typeName" ng-repeat="typeName in types" value="{{ typeName }}">{{ typeName }}</option>
      </select>
      <span ng-show="Form.type.$error.required" class="help-inline">*</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.vendor.$invalid || errorList.vendor}">
    <label class="control-label">Vendor</label>
    <div class="controls">
      <select name="vendor" ng-model="model.db.vendor" required>
        <option ng-selected="model.db.vendor == name" ng-repeat="name in vendors" value="{{ name }}">{{ name }}</option>
      </select>
      <span ng-show="errorList.vendor" class="help-block" ng-bind="errorList.vendor" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.conn.$invalid || errorList.conn}">
    <label class="control-label">Connection</label>
    <div class="controls">
      <input type="text" name="conn" ng-model="model.db.conn" required />
      <span ng-show="Form.conn.$error.required" class="help-inline">*</span>
      <span ng-show="Form.vendor.$error.required" class="help-block">A connection string containing the DB connection details</span>
      <span ng-show="errorList.conn" class="help-block" ng-bind="errorList.conn" />
    </div>
  </div>
</form>