'use strict'

### Configuration specific to given environment ###
# See config module for settings and explanations

LOCAL_SETTINGS = {

  apiUrl: 'http://127.0.0.1:5000/cloudml/b/v1/'
}

angular.module('app.local_config', []).constant 'settings', LOCAL_SETTINGS
