<form name="Form" class="form-horizontal" ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Add server model verification.</h3>
  </div>

  <div class="modal-body">
  	<ng-include src="'partials/parts/save_form_messages.html'"></ng-include>
  	<div class="control-group" ng-class="{error: Form.server_id.$invalid || errorList.server_id}">
      <label class="control-label">Server</label>
    	<div class="controls">
      	<select name="server_id" ng-model="model.server_id" ng-required ng-change="serverChanged(Form.server_id.$viewValue)"ng-options="server.id as server.name for server in servers">
        	<option value="">- nothing selected -</option>
      	</select>
      	<span ng-show="Form.server_id.$error.required" class="help-inline">*</span>
      </div>
    </div>
  	<div class="control-group" ng-class="{error: Form.model_id.$invalid || errorList.model_id}">
    	<label class="control-label">Import Handler / Model</label>
    	<div class="controls">
      	<select name="model_id" ng-model="model.model_id" ng-required ng-change="modelChanged(Form.model_id.$viewValue)" ng-options="file.model.id as file.import_handler_name + ' / ' + file.model_name for file in serverFiles" ng-disabled="modelsDisabled">
        	<option value="">- nothing selected -</option>
      	</select>
      	<span ng-show="Form.model_id.$error.required" class="help-inline">*</span>
        <img ng-show="loadingModels" width="30" src="/img/loading.gif" />
    	</div>
  	</div>
  	<div class="control-group" ng-class="{error: Form.test_result_id.$invalid || errorList.data}">
    	<label class="control-label">Data</label>
    	<div class="controls">
      	<select name="test_result_id" ng-model="model.test_result_id" ng-required ng-change="dataChanged(Form.test_result_id.$viewValue)" ng-options="data.id as data.name for data in datas" ng-disabled="datasDisabled">
        	<option value="">- nothing selected -</option>
      	</select>
      	<span ng-show="Form.test_result_id.$error.required" class="help-inline">*</span>
        <img ng-show="loadingTests" width="30" src="/img/loading.gif" />
    	</div>
  	</div>
    <ng-include ng-init="data=model" src="'partials/servers/verification/count_control.html'"></ng-include>
    <ng-include ng-init="data=model" src="'partials/servers/verification/predict_class_control.html'"></ng-include>
    <div ng-show="model.description">
      <h4>Brief info about the model</h4>
      <div>
        <b>Import Handler</b>
        <div>
          Name:
          <span class="value">
            <a target="_blank" href="#/importhandlers/xml/{{ model.description.import_handler_metadata_obj.id }}">{{ model.description.import_handler_metadata.name }}</a>
            <span ng-show="model.description.import_handler_metadata.name != model.description.import_handler_metadata.object_name"> / {{ model.description.import_handler_metadata.object_name }}
            </span>
            <span ng-show="model.description.import_handler_metadata_obj.name != model.description.import_handler_metadata.name"> / {{ model.description.import_handler_metadata_obj.name }}
            </span>
          </span>
        </div>
        <div>
          Uploaded On:
          <span class="value">{{ model.description.import_handler_metadata.uploaded_on|format_date }}</span>
        </div>
        <div>
          User Name:
          <span class="value">{{ model.description.import_handler_metadata.user_name }}</span>
        </div>
      </div>
      <div>
        <b>Model</b>
        <div>
            Model Name:
            <span class="value"><a target="_blank" href="#/models/{{ model.description.model_metadata_obj.id }}">{{ model.description.model_name }}</a></span>
        </div>
        <div>
            Uploaded On:
            <span class="value">{{ model.description.model_metadata.uploaded_on|format_date }}</span>
        </div>
        <div>
            Size:
            <span class="value">{{ model.description.model_metadata.size }}</span>
        </div>
        <div>
            User Name:
            <span class="value">{{ model.description.model_metadata.user_name }}</span>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer" title="{{ Form.$error}}">
    <button ng-click="save(['server_id', 'model_id', 'test_result_id', 'description', 'import_handler_id', 'params_map', 'count', 'clazz'])" ng-disabled="Form.$invalid" class="btn btn-primary">Check the model on the server </button>
  </div>
</form>