<!-- Predict Class specific params -->

<div class="control-group" ng-class="{error: Form.test_result_id.$invalid || errorList.data}">
  <h4>Predict Class Settings</h4>
  <label class="control-label">Predict Class</label>
  <div class="controls">
    <select name="clazz" ng-model="model.clazz" ng-required ng-change="loadIParams(Form.clazz.$viewValue)" ng-options="clazz as clazz for (clazz, params) in predictClassesConfig" required>
      <option value="">- nothing selected -</option>
    </select>
    <span ng-show="Form.clazz.$error.required" class="help-inline">*</span>
  </div>
</div>
<div class="control-group" ng-class="{error: Form.fieldsMap.$invalid}">
  <fields-mapper ng-model="model.params_map" params="importParams" fields="dataFields" name="'Map Parameters'" disabled="(importParams | isArrayEmpty) || (dataFields | isArrayEmpty)"/>
</div>