<div ng-controller="SaveObjectCtl">
<h2>
  Add New Instance
  <small>
      <a ng-href="#/aws/instances">(Cancel)</a>
  </small>
</h2>
<ng-include src="'/partials/parts/save_form_messages.html'"></ng-include>
<form name="UploadInstanceForm" class="form-horizontal">
  <div class="control-group" ng-class="{error: UploadInstanceForm.name.$invalid || errorList.name}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name"  ng-change="setFieldError('name')" required />
      <span ng-show="UploadInstanceForm.name.$error.required" class="help-block">Instance name is required and should be unique</span>
      <span ng-show="errorList.name" class="help-block" ng-bind="errorList.name" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.description.$invalid}">
    <label class="control-label">Description</label>
    <div class="controls">
      <textarea name="description" ng-model="model.description">
      </textarea>
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.ip.$invalid || errorList.ip}">
    <label class="control-label">IP</label>
    <div class="controls">
      <input type="text" name="ip" ng-model="model.ip" required />
      <span ng-show="UploadInstanceForm.ip.$error.required" class="help-block">Please enter valid IP address</span>
      <span ng-show="errorList.ip" class="help-block" ng-bind="errorList.ip" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.type.$invalid || errorList.type}">
    <label class="control-label">Type</label>
    <div class="controls">
      <select ng-model="model.type" name="type" required ng-options="value.name for value in types">
      </select>
      <span ng-show="UploadInstanceForm.type.$error.required" class="help-block">Select instance type</span>
      <span ng-show="errorList.type" class="help-block" ng-bind="errorList.type" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.is_default.$invalid}">
    <label class="control-label">Is default?</label>
    <div class="controls">
      <input type="checkbox" ng-model="model.is_default" name="is_default" />
    </div>
  </div>
  <br />
  <a href="#/aws/instances" class="btn">Cancel</a>
  <button ng-click="save(['name', 'type', 'description', 'ip', 'is_default'])" ng-disabled="UploadInstanceForm.$invalid" class="btn btn-primary">Add</button>
</form>
</div>