<div ng-controller="SaveObjectCtl">
<h2>
  Add New Instance
  <small>
      <a ng-href="#/aws/instances">(Cancel)</a>
  </small>
</h2>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<form name="UploadInstanceForm" class="form-horizontal">
  <div class="control-group" ng-class="{error: UploadInstanceForm.name.$invalid}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name" required>
      <span ng-show="UploadInstanceForm.name.$error.required" class="help-inline">Required</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.description.$invalid}">
    <label class="control-label">Description</label>
    <div class="controls">
      <textarea name="description" ng-model="model.description">
      </textarea>
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.ip.$invalid}">
    <label class="control-label">IP</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.ip" required>
      <span ng-show="UploadInstanceForm.name.$error.required" class="help-inline">Required</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.type.$invalid}">
    <label class="control-label">Type</label>
    <div class="controls">
      <select ng-model="model.type" required ng-options="value.name for value in types" ng-selected='types[0]'>
      </select>
      <span ng-show="UploadInstanceForm.type.$error.required" class="help-inline">Required</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: UploadInstanceForm.is_default.$invalid}">
    <label class="control-label">Is default?</label>
    <div class="controls">
      <input type="checkbox" ng-model="model.is_default" name="is_default" />
    </div>
  </div>
  <br />
  <a href="#/aws/instances" class="btn">Cancel</a>
  <button ng-click="save(['name', 'type', 'description', 'ip', 'is_default'])" ng-disabled="UploadInstanceForm.$invalid" class="btn btn-primary">Add</button>
</form>
</div>