<h2>
    {{ instance.name|capfirst }} Details
    <div class="actions" ng-controller="InstanceActionsCtrl">
    <a ng-click="makeDefault(instance)" title="Make default" ng-hide="instance.is_default" class="btn btn-info"><i class="icon-check"></i> Make default</a>
</div>
</h2>

<div title="quick info" ng-init="obj=instance">
  <ng-include src="'partials/parts/created_tags.html'"></ng-include>
</div>
<p></p>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' trace="{{ trace }}" unsafe>
</alert-message>
<p>{{ instance.description }}</p>
<div>IP: <span class="value">{{ instance.ip }}</span></div>
<div>Type: <span class="value">{{ instance.type }}</span></div>
<div>Is Default: {{ instance.is_default }}</div>