<div ng-controller="InstanceSelectCtrl">
    <p class="text-center" title="Choose existing Amazon instance">Existing Instance</p>
    <label class="control-label">Instance:</label>
    <div class="controls" ng-class="{error: Form.aws_instance.$invalid}">
      <select class="input-small" name="aws_instance" ng-model="parameters.aws_instance">
        <option value="">--- select instance ---</option>
        <option ng-repeat="instance in instances" value="{{ instance._id }}" ng-selected="instance.is_default">{{ instance.name }}: {{ instance.ip }}</option>
      </select>
    </div>
</div>