<div ng-controller="GetInstanceCtrl">
  <ul class="nav nav-pills">
    <li ng-repeat="column in activeColumns" ng-class="{active: currentColumn == column}"><a ng-click="activateColumn(column)">{{ column }}</a></li>
    <li ng-show="activeColumns.indexOf(EXISTED_INSTANCE) == -1"class="disabled"><a title="There aren't active instances">{{ EXISTED_INSTANCE }}</a></li>
  </ul>

  <div ng-hide="activeColumns.indexOf(EXISTED_INSTANCE) == -1">
	  <div ng-show="currentColumn == EXISTED_INSTANCE" class="control-group" ng-class="{error: !formElements[EXISTED_INSTANCE]['aws_instance']}">
	    <select class="input-xlarge" name="aws_instance" ng-change="changeFormData(currentColumn, 'aws_instance')" ng-model="formElements[EXISTED_INSTANCE]['aws_instance']">
	      <option value="">--- select instance ---</option>
	      <option ng-repeat="instance in instances" value="{{ instance._id }}" ng-selected="instance.is_default">{{ instance.name }}: {{ instance.ip }}</option>
	    </select>&nbsp;<i class="icon-question-sign" title="Choose active amazon instance" />
      <span ng-show="!formElements[EXISTED_INSTANCE]['aws_instance']" class="help-inline">required</span>
	  </div>
  </div>

  <div ng-show="currentColumn == REQUEST_SPOT_INSTANCE">
    <div ng-controller="SpotInstanceRequestCtrl">
      <div class="control-group" ng-class="{error: !formElements[REQUEST_SPOT_INSTANCE]['type']}">
        <select class="input-xlarge" title="Choose instance type, when you want to request spot instance." name="spot_instance_type" ng-change="changeFormData(currentColumn, 'type')" ng-model="formElements[REQUEST_SPOT_INSTANCE]['type']">
          <option value="" selected>--- select type ---</option>
          <option ng-repeat="type in types" value="{{type}}">{{ type }}</option>
        </select>&nbsp;<i class="icon-question-sign" title="Choose instance type, when you want to request spot instance." />
        <span ng-show="!formElements[REQUEST_SPOT_INSTANCE]['type']" class="help-inline">required</span>
      </div>
      </div>
  </div>
</div>