<h2>
  AWS Instances List
  <div class="actions">
      <a class="btn btn-info" href="#/aws/instances/add">
        <i class="status-icon icon-plus"></i> Add new AWS Instance
      </a>
  </div>
</h2>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

<alert-message ng-show="objects.length == 0" class="alert-info" msg="No AWS instances found"></alert-message>

<table ng-hide="objects.length == 0" class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th>IP</th>
    <th>Type</th>
    <th>Created</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="instance in objects | orderBy:'name'">
    <td>
      <span title="Instance Name" class="name" ng-bind="instance.name || 'instance name here'" editable="instance" value="instance.name" editable-field="name" editable-input="text" editable-placement="right"></span>
      <a href="#{{ instance.objectUrl() }}">
        ->
      </a>
    </td>
    <td>
      <span title="Instance IP" class="ip" ng-bind="instance.ip || 'instance ip here'" editable="instance" value="instance.ip" editable-field="ip" editable-input="text" editable-placement="right"></span>
    </td>
    <td>{{ instance.type }}</td>
    <td>
        {{ instance.created_on|format_date }}<br>
        <small ng-show="instance.created_by">by {{ instance.created_by.name }} ({{ instance.created_by.uid }})</small>
    </td>
    <td>
        {{ instance.updated_on|format_date }}<br>
        <small ng-show="instance.updated_by">by {{ instance.updated_by.name }} ({{ instance.updated_by.uid }})</small>
    </td>
    <td ng-controller="InstanceActionsCtrl">
      <a ng-click="makeDefault(instance)" title="Make default" ng-hide="instance.is_default" class="btn btn-info"><i class="icon-check"></i></a>
      <span ng-show="instance.is_default" class="text-info">Default instance</span>
    </td>
  </tr>
</tbody>
</table>