<div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Load Data</h3>
    <p class="lead">Please enter import data parameters.</p>
</div>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" trace="{{ trace }}" unsafe></alert-message>

<div class="modal-body">
<form name="DialogForm" class="form-horizontal">
   <div ng-repeat="param in params track by $index" class="control-group">
      <label class="control-label">{{ param | capfirst }}:</label>
      <div class="controls"  ng-class="{error: DialogForm.parameters[param].$invalid}">
        <input ng-model='parameters[param]' name="{{ param }}" placeholder='Please input {{ param }}' type='text' required />
        <span ng-show="DialogForm.start.$error.required" class="help-inline">Required</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: DialogForm.format.$invalid}">
    <label class="control-label">Data Format</label>
    <div class="controls">
      <select name="data_format" ng-model="format" required ng-options="v.value as v.name for v in formats" ng-selected='formats[0]'>
      </select>
      <span ng-show="DialogForm.format.$error.required" class="help-inline">Required</span>
    </div>
  </div>
</form>
</div>
<div class="modal-footer">
    <button ng-click="start(format)" ng-disabled="DialogForm.$invalid" class="btn btn-primary" >Start loading</button>
</div>