<form class="form-search well">
  <input type="text" placeholder="complete word" ng-model="search_form.q" class="input-medium search-query" title="Search by complete stemmed word">
  <select ng-model="search_form.is_positive">
    <option value="0">both</option>
    <option value="1">only positive</option>
    <option value="-1">only negative</option>
  </select>
  <button class="btn" ng-click="loadList(1)">Search</button>
</form>
<small ng-show="total">
  <p>Total model parameters weights: {{ total }}</p>
</small>
<table class="table ordered">
  <thead>
    <tr>
      <th ng-class="{active: sort_by == 'name'}" ng-click="sort('name')">Parameter</th>
      <th ng-class="{active: sort_by == 'value'}" ng-click="sort('value')">Weight</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="row in weights">
      <td>{{ row.name }}</td>
      <td>
        <div class="badge" ng-class="row.css_class">
          {{ row.value }}</div>
      </td>
    </tr>
  </tbody>
  <tfoot>
    <tr ng-hide="weights">
      <td colspan="2">Nothing found</td>
    </tr>
  </tfoot>
</table>
<pagination boundary-links="true" max-size="8" num-pages="pages" current-page="search_form.page"></pagination>
