<h4>
  Parameters Weights<span ng-show="model.labels && model.labels.length > 2"> For : </span>
  <div ng-show="model.labels && model.labels.length > 2" class="btn-group">
    <a class="btn dropdown-toggle class_label" data-toggle="dropdown" href="#">
      Class Label {{class_label}}
      <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li ng-repeat="label in model.labels" ng-show="label != class_label">
        <a ng-click="switchToClassLabel($event, label)">Class Label {{label}}</a></li>
    </ul>
  </div>
</h4>
<ul class="nav nav-tabs" id="weights-tabs">
  <li ng-class="{active: action[1] == 'details'}">
    <a ng-click="setSection([weights_section, 'details'])">Columns</a> 
  </li>
  <li ng-class="{active: action[1] == 'list'}">
    <a ng-click="setSection([weights_section, 'list'])">List</a>
  </li>
  <li ng-class="{active: action[1] == 'tree'}">
    <a ng-click="setSection([weights_section, 'tree'])">Tree</a>
  </li>
</ul>
<div ng-show="action[1] == 'details'" class="details">
  <ng-include src="'partials/weights/columns.html'"></ng-include>
</div>
<div ng-show="action[1] == 'tree'" class="weights-tree">
  <ng-include src="'partials/weights/tree.html'"></ng-include>
</div>
<div ng-show="action[1] == 'list'" class="list">
  <ng-include src="'partials/weights/list.html'"></ng-include>
</div>
<div class="row well">
    <a style="font-weight: normal;" href="{{ model.downloadWeightsUrl() }}" class="btn btn-info">
      <i title="Download weights JSON file" class="icon-download-alt"></i> Download Weighs JSON
    </a>
</div>