<div>
  <div class="row">
    <div class="span5">
      <label>Standard Fields ({{stdFields.length}}): </label>
      <div class="alert-info well">
        <span ng-repeat="f in stdFields">
          <span class="label label-info">{{f}}</span>
        </span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="span5">
      <form name="ExtraFieldsForm" class="form-inline">
      <label>Extra Fields ({{extraFields.length}}): </label>
      <div class="input-append">
        <select name="csv_field" ng-model="csvField" ng-disabled="loading_state || !selectFields.length">
          <option value=''>
            {{ {true:'-- Select Field Name (' + selectFields.length + ') --',
                false:'-- All Fields Selected --'}[selectFields.length > 0] }}
          </option>
          <option ng-repeat="field in selectFields" value="{{ field }}">{{ field }}</option>
        </select>
        <a class="btn btn-info"
           ng-click="appendField(csvField)" ng-disabled="loading_state || !csvField">
            <i class="icon-plus"></i>
        </a>
        <a class="btn btn-info"
           ng-click="addAll()"
           ng-disabled="loading_state || !selectFields.length">Add All</a>
        <a class="btn btn-info"
           ng-click="removeAll()"
           ng-disabled="loading_state || !extraFields.length">Remove All</a>
      </div>
      <span ng-show="loading_state">Loading...</span>
      </form>
    </div>
  </div>
  <div class="row" ng-show="extraFields.length">
    <div class="span5">
      <div class="alert-info well">
        <span ng-repeat="f in extraFields">
          <span class="label label-info">
            {{ f }} <a ng-click="removeField(f)"><i class="icon-remove"></i></a>
          </span>
        </span>
      </div>
    </div>
  </div>
</div>