<div ng-show="test.accuracy">
   <div>
        Classification Accuracy: <span class="value">{{ test.accuracy|number:4 }}</span>
    </div>
    <hr/>
</div>
<div ng-show="test.metrics.log_loss">
   <div>
        Logistic Loss (Cross-Entropy Loss): <span class="value">{{ test.metrics.log_loss|number:4 }}</span>
   </div>
   <hr/>
</div>
<div ng-show="test.metrics.type == 'classification'">
  <h4>Receiver operating characteristic</h4>
  <div class="row">
    <div class="span5" ng-repeat="(clazz, obj) in rocCurves">
      <div class="row">
        <div class="span5">
          <p>The Area Under an ROC Curve:
            <span>{{ obj.roc_auc.toFixed(4) }}</span>
          </p>
        </div>
        <div class="span5">
          <sc-curves xlabel="False-positive rate" ylabel="True-positive rate" curves-dict="obj.curve" show-line="1" width="450"></sc-curves>
        </div>
      </div>
    </div>
  </div>
  <hr/>
</div>
<div ng-show="prCurve || prCurves">
  <h4>Precision-Recall</h4>
  <div class="row">
    <div class="span5">
      <sc-curves xlabel="Recall" ylabel="Precision" curves-dict="prCurves" width="450"></sc-curves>
    </div>
  </div>
  <hr/>
</div>

<!-- regression metrics -->
<div>
  <p ng-show="test.metrics.explained_variance_score">
    Explained variance regression score function: <span class="value">{{ test.metrics.explained_variance_score|number:6 }}</span>
  </p>

  <p ng-show="test.metrics.mean_absolute_error">
    Mean absolute error regression loss: <span class="value">{{ test.metrics.mean_absolute_error|number:6 }}</span>
  </p>

  <p ng-show="test.metrics.mean_squared_error">
    Mean squared error regression loss: <span class="value">{{ test.metrics.mean_squared_error|number:6 }}</span>
  </p>

  <p ng-show="test.metrics.r2_score">
    R^2 (coefficient of determination) regression score function: <span class="value">{{ test.metrics.r2_score|number:6 }}</span>
  </p>
</div>

<hr />

<div ng-show="test.status == 'Completed'">
  <alert-message ng-show="test.examples_placement == 'Do not save'" class="alert-info" msg="Examples data isn't stored for this test at all. So average precision could not be calculated." unsafe></alert-message>
  <a ng-hide="test.examples_placement == 'Do not save'" href="#{{ test.averagePrecisionUrl() }}"><i class="status-icon icon-search"></i> Average precision</a>
</div>