<div ng-controller="BaseModelDataSetActionCtrl">
  <div class="modal-header">
    <button ng-click="close()" class="close" data-dismiss="modal">×</button>
    <h3>Run test</h3>
  </div>

  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

  <div class="modal-body">
    <alert-message ng-hide="handler" class="alert-error" msg="Please define Test Import Handler in model details before!" unsafe></alert-message>

    <form name="Form" class="form-horizontal" ng-show="handler">
      <p class="lead text-center">Choose way of getting testing data</p>
      <ng-include src="'/partials/datasets/dataset_fields.html'"></ng-include>
      <p class="lead text-center">then choose instance that would be used for running test</p>
      <ng-include src="'/partials/aws_instances/instance_select.html'"></ng-include>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-click="start(result)" ng-disabled="Form.aws_instance.$error.required || (Form.dataset.$error.required && !paramsFilled)" class="btn btn-primary" >Start test</button>
  </div>
</div>