<table ng-controller="BaseListCtrl" ng-init="init(false, 'testresult')" class="table table-striped">
  <thead>
      <tr>
        <th>Name</th>
        <th>Status</th>
        <th>Created</th>
        <th>Filter Parameters</th>
        <th>Accuracy</th>
        <th>Examples count</th>
        <th />
      </tr>
  </thead>
  <tbody>
    <tr ng-repeat="test in objects" ng-class="{error : test.status=='Error', warning : test.status=='In Progress', success : test.status =='Completed'}">
      <td><a href="#{{ test.objectUrl() }}">{{ test.name }}</a></td>
      <td title="{{ test.error }}">{{ test.status }}</td>
      <td>
          {{ test.created_on|format_date }}
          <br>
          <small ng-show="test.created_by">by {{ test.created_by.name }} ({{ test.created_by.uid }})</small>
      </td>
      <td><span class="value" ng-repeat="(key, val) in test.parameters">{{ key }}={{ val }}</span></td>
      <td>{{ test.accuracy.toFixed(4) }}</td>
      <td><a href="#{{ test.examplesUrl() }}">{{ test.examples_count }}</a></td>
      <td ng-controller="TestActionsCtrl">
        <div ng-init="init({test: test, model: model})">
        <button ng-click="delete_test(test)" class="btn btn-danger">
          <i title="Delete your test. Be careful - you could not recover it!" class="icon-remove"></i>
        </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>