<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe>
</alert-message>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe>
</alert-message>

<h2 ng-show="test.loaded">
  {{ test.name|capfirst }} Details
  <div class="actions">
    <a ng-show="test.status == 'Completed'" class="btn btn-info" ng-click="downloadCsvResults()">
      <i title="Download test examples" class="icon-download-alt"></i> Classification Results in CSV
    </a>
  </div>
</h2>

<div title="quick info" ng-init="obj=test">
  <ng-include src="'/partials/parts/created_tags.html'"></ng-include>
  <i class="icon-status"></i>
  <span class="badge badge-warning">{{ test.status }}</span>
</div>
<p></p>

<alert-message ng-hide="test.loaded" class="alert-info" msg="Loading..." unsafe></alert-message>

<alert-message ng-show="test.loaded && test.status != 'Completed'" class="alert-warning" msg="Test was not calculated yet. Status: {{ test.status }}" unsafe></alert-message>

<alert-message ng-show="test.error" class="alert-error" msg="{{ test.error }}" unsafe></alert-message>

<div>
  <ul class="nav nav-tabs" id="tabs">
    <li ng-show="showdetails" ng-class="{active: action[0] == 'metrics'}"><a ng-click="setSection(['metrics', 'accuracy'])">Metrics</a></li>
    <li ng-show="showdetails" ng-class="{active: action[0] == 'matrix'}"><a ng-click="setSection(['matrix', 'confusion'])">Confusion Matrix</a></li>
    <li ng-show="showdetails" ng-show="test.status == 'Completed'" ng-class="{active: action[0] == 'examples'}"><a ng-click="setSection(['examples', 'list'])">Examples</a></li>
    <li ng-class="{active: action[0] == 'about'}"><a ng-click="setSection(['about', 'details'])">About</a></li>
    <li ng-class="{active: action[0] == 'logs'}"><a ng-click="setSection(['logs', 'list'])">Logs</a></li>
  </ul>

    <div class="tab-content">
      <div ng-show="action[0] == 'about'">
        <div>
            Import parameters:
            <span class="value">{{ test.parameters }}</span>
        </div>
        <div>
            Classes Set:
            <span class="value">
                <span ng-repeat='cls in test.classes_set'><span class="label">{{ cls }}</span> </span> 
            </span>
        </div>
        <div ng-show="test.dataset" title="DataSet which was used for running test">
          DataSet:
          <span class="value">
            <a href="#{{ test.dataset_obj.objectUrl() }}">
            {{ test.dataset_obj.name }}</a>
          </span>
          <a class="btn btn-info btn-mini"
             ng-init="getDataSetsDownloads(test.model_id)"
             ng-controller="ModelDataSetDownloadCtrl"
             ng-hide="angular.isUndefined(queuedIds)"
             title="{{ {true: 'DataSet already Transformed, Check Model &gt; About for list of datasets transformed using this model and ready for download',
                        false: 'Download Tranformed DataSet'}[queuedIds.indexOf(test.dataset_obj.id) >= 0] }}"
             ng-disabled="queuedIds.indexOf(test.dataset_obj.id) >= 0"
             ng-click="requestDataSetDownload(test.dataset_obj.id, test.model_id)">
            <i class="icon-download-alt"></i> Download
          </a>
        </div>
        <div>
            Examples count: <span class="value">{{ test.examples_count }}</span>
        </div>
        <div>
            Examples placement: <span class="value">{{ test.examples_placement }}</span>
        </div>
        <div>
            Examples fields: <span class="value">
            <span ng-repeat="f in test.examples_fields"><span class="label">{{ f }}</span> </span></span>
        </div>
        <div>
            Memory used: <span class="value">{{ test.memory_usage|number:2 }} Mb</span>
        </div>
        <div>
            Examples Size: <span class="value">{{ test.examples_size|number:2 }} Mb</span>
        </div>
        <div ng-controller="TestExportsCtrl" ng-init="init(test)">
            <div ng-show="exports">
              <h4>CSV Exports</h4>
              <ul class="unstyled">
                <li class="row well well-small" ng-repeat="export in exports">
                  <div class="span10">
                    <i class="icon-calendar"></i> created on <span class="badge badge-info">{{ export.created_on|format_date }}</span>
                    <i class="icon-th"></i><span> fields </span>
                    <span ng-repeat="field in export.args[2]">
                      <span class="label">{{ field }}</span>
                    </span>
                    <span class="badge badge-info">{{ export.status }}</span><br/>
                  </div>
                  <div ng-show="export.status == 'Completed'" class="span1 pull-right">
                    <a class="btn btn-small" href="{{ export.result }}">Download</a>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div ng-show="action[0] == 'metrics'">
        <div>
          <div>
              Classification Accuracy: <span class="value">{{ test.accuracy|number:4 }}</span>
          </div>
          <hr/>
        </div>
        <div>
          <h4>Receiver operating characteristic</h4>
          <div class="row">
            <div class="span5" ng-repeat="(clazz, obj) in rocCurves">
              <div class="row">
                <div class="span5">
                  <p>The Area Under an ROC Curve:
                    <span>{{ obj.roc_auc.toFixed(4) }}</span>
                  </p>
                </div>
                <div class="span5">
                  <sc-curves xlabel="False-positive rate" ylabel="True-positive rate" curves-dict="obj.curve" show-line="1" width="450"></sc-curves>
                </div>
              </div>
            </div>
          </div>
          <hr/>
        </div>
        <div ng-show="prCurve || prCurves">
          <h4>Precision-Recall</h4>
          <sc-curves xlabel="Recall" ylabel="Precision" curves-dict="prCurves" width="500"></sc-curves>
          <hr/>
        </div>
        <div ng-show="test.status == 'Completed'">
          <alert-message ng-show="test.examples_placement == 'Do not save'" class="alert-info" msg="Examples data isn't stored for this test at all. So average precision could not be calculated." unsafe></alert-message>
          <a ng-hide="test.examples_placement == 'Do not save'" href="#{{ test.avaragePrecisionUrl() }}"><i class="status-icon icon-search"></i> Average precision</a>
        </div>
      </div>

      <div ng-show="action[0] == 'examples'" ng-controller="TestExamplesCtrl" ng-init="init(test)">
        <ng-include src="'/partials/examples/example_list.html'"></ng-include>
      </div>

      <div ng-show="action[0] == 'matrix'">
        <div class="row">
            <div class="span6">
                <h4>Confusion Matrix</h4>

                <confusion-matrix matrix=test.metrics.confusion_matrix url=test.examplesUrl()></confusion-matrix>

            </div>
        </div>
        <div ng-controller="TestConfusionMatrixCtrl" ng-init="init(test)" class="row">
            <form name="ConfusionMatrixForm" class="form-inline well">

              <div class="alert alert-error" ng-show="confusion_matrix_weights.error">
                  {{ confusion_matrix_weights.error }}
              </div>

              <label>Weight of &quot;{{ test.model.labels[0] }}&quot;: </label>
              <input type="text" name="weight0" class="input-mini" ng-model="confusion_matrix_weights.w0" required smart-float>

              <label>Weight of &quot;{{ test.model.labels[1] }}&quot;: </label>

              <input type="text" name="weight1" class="input-mini" ng-model="confusion_matrix_weights.w1" required smart-float>

              <button ng-disabled="ConfusionMatrixForm.$invalid" class="btn" ng-click="recalculate(confusion_matrix_weights.w0, confusion_matrix_weights.w1)">
                  Recalculate with weights
              </button>
            </form>


            <div class="span10" ng-show="test.confusion_matrix_calculations">
              <h4>Confusion matrix calculations</h4>
              <ul class="unstyled">
                <li class="row well well-small" ng-repeat="calc in test.confusion_matrix_calculations">
                  <div class="row">
                    <div class="span5">
                        <i class="icon-calendar"></i> created on <span class="badge badge-info">{{ calc.created_on|format_date }}</span>
                        <i class="icon-th"></i><span> weights </span>
                        <span ng-repeat="label in [calc.args[1], calc.args[2]]">
                            <span class="label">{{ label }}</span>
                        </span>
                        <span class="badge badge-info">{{ calc.status }}</span><br/>
                    </div>
                    <div ng-show="calc.status == 'Completed'" class="span2 pull-right">
                      <button class="btn btn-link" ng-click="showResult(calc.id)">
                          Show result
                      </button>
                    </div>
                  </div>
                  <div class="row" ng-show="open_calc_id == calc.id">
                      <div class="span4"><confusion-matrix matrix=calc.result></confusion-matrix></div>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div ng-show="action[0] == 'logs'" ng-controller="LogMessageListCtrl" ng-init="init('runtest_log', test.id)">
        <ng-include src="'/partials/logmessages/list.html'"></ng-include>
      </div>

    </div>
</div>