<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe>
</alert-message>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe>
</alert-message>

<h2 ng-show="test.loaded">
  {{ test.name|capfirst }} Details
  <div class="actions">
    <a ng-show="test.status == 'Completed'" class="btn btn-info" ng-click="exportResultsToDb()">
      <i title="Export test examples to db" class="icon-share"></i> Export Classification Results to DB
    </a>
    <a ng-show="test.status == 'Completed'" class="btn btn-info" ng-click="downloadCsvResults()">
      <i title="Download test examples" class="icon-download-alt"></i> Classification Results in CSV
    </a>
  </div>
</h2>

<div title="quick info" ng-init="obj=test">
  <ng-include src="'partials/parts/created_tags.html'"></ng-include>
  <i class="icon-status"></i>
  <span class="badge badge-warning">{{ test.status }}</span>
</div>
<p></p>

<alert-message ng-hide="test.loaded" class="alert-info" msg="Loading..." unsafe></alert-message>

<alert-message ng-show="test.loaded && test.status != 'Completed'" class="alert-warning" msg="Test was not calculated yet. Status: {{ test.status }}" unsafe></alert-message>

<alert-message ng-show="test.error" class="alert-error" msg="{{ test.error }}" unsafe></alert-message>

<div>
  <ul class="nav nav-tabs" id="tabs">
    <li ng-show="showdetails" ng-show="test.status == 'Completed'" ng-class="{active: action[0] == 'metrics'}"><a ng-click="setSection(['metrics', 'accuracy'])">Metrics</a></li>
    <li ng-show="showdetails" ng-show="test.status == 'Completed'" ng-class="{active: action[0] == 'matrix'}"><a ng-click="setSection(['matrix', 'confusion'])">Confusion Matrix</a></li>
    <li ng-show="showdetails" ng-show="test.status == 'Completed'" ng-class="{active: action[0] == 'examples'}"><a ng-click="setSection(['examples', 'list'])">Examples</a></li>
    <li ng-class="{active: action[0] == 'about'}"><a ng-click="setSection(['about', 'details'])">About</a></li>
    <li ng-class="{active: action[0] == 'weights'}"><a ng-click="setSection(['weights', 'tree'])" ng-show="(test.status == 'Completed' || test.status == 'Storing') && test.fill_weights">Weights</a></li>
    <li ng-class="{active: action[0] == 'logs'}"><a ng-click="setSection(['logs', 'list'])">Logs</a></li>
  </ul>

    <div class="tab-content">
      <div ng-show="action[0] == 'about'">
        <div>
            Import parameters:
            <span class="value">{{ test.parameters }}</span>
        </div>
        <div>
            Classes Set:
            <span class="value">
                <span ng-repeat='cls in test.classes_set'><span class="label">{{ cls }}</span> </span> 
            </span>
        </div>
        <div ng-show="test.dataset" title="DataSet which was used for running test">
          DataSet:
          <span class="value">
            <a href="#{{ test.dataset_obj.objectUrl() }}">
            {{ test.dataset_obj.name }}</a>
          </span>
          <a class="btn btn-info btn-mini"
             ng-init="getDataSetsDownloads(test.model_id)"
             ng-controller="ModelDataSetDownloadCtrl"
             ng-hide="angular.isUndefined(queuedIds)"
             title="{{ {true: 'DataSet already Transformed, Check Model &gt; About for list of datasets transformed using this model and ready for download',
                        false: 'Download Tranformed DataSet'}[queuedIds.indexOf(test.dataset_obj.id) >= 0] }}"
             ng-disabled="queuedIds.indexOf(test.dataset_obj.id) >= 0"
             ng-click="requestDataSetDownload(test.dataset_obj.id, test.model_id)">
            <i class="icon-download-alt"></i> Download
          </a>
        </div>
        <div>
            Examples count: <span class="value">{{ test.examples_count }}</span>
        </div>
        <div>
            Examples placement: <span class="value">{{ test.examples_placement }}</span>
        </div>
        <div>
            Examples fields: <span class="value">
            <span ng-repeat="f in test.examples_fields"><span class="label">{{ f }}</span> </span></span>
        </div>
        <div>
            Memory used: <span class="value">{{ test.memory_usage|number:2 }} Mb</span>
        </div>
        <div>
            Examples Size: <span class="value">{{ test.examples_size|number:2 }} Mb</span>
        </div>
        <div>
            Calculate parameters weights: <span class="value">{{ test.fill_weights|true_false }}</span>
        </div>
        
        <div ng-controller="TestExportsCtrl" ng-init="init(test)">
            <div ng-show="exports">
              <h4>CSV Exports</h4>
              <ul class="unstyled">
                <li class="row well well-small" ng-repeat="export in exports">
                  <div class="span10">
                    <i class="icon-calendar"></i> created on <span class="badge badge-info" title="dates in GMT">{{ export.created_on|format_date }}</span>
                    <i class="icon-th"></i><span> fields </span>
                    <span ng-repeat="field in export.args[2]">
                      <span class="label">{{ field }}</span>
                    </span>
                    <span class="badge badge-info">{{ export.status }}</span><br/>
                  </div>
                  <div ng-show="export.status == 'Completed'" class="span1 pull-right">
                    <a class="btn btn-small" href="{{ export.result }}">Download</a>
                  </div>
                </li>
              </ul>
            </div>
            <div ng-show="db_exports">
              <h4>DB Exports</h4>
              <ul class="unstyled">
                <li class="row well well-small" ng-repeat="export in db_exports">
                  <div class="span10">
                    <i class="icon-calendar"></i> created on <span class="badge badge-info" title="dates in GMT">{{ export.created_on|format_date }}</span>&nbsp;
                    <i class="icon-hdd"></i> <a title="datasource used to connect to the database" target="_blank" href="#/predefined/datasources/?id={{ export.args[2] }}" class="badge badge-info">datasource</a>&nbsp;
                    <i class=" icon-th-list"></i> table <span class="badge badge-info" title="name of the table to store results">{{ export.args[3]}}</span>&nbsp;
                    <i class="icon-th"></i><span> fields </span>
                    <span ng-repeat="field in export.args[4]">
                      <span class="label">{{ field }}</span>
                    </span>
                    <span title="status of the exporting" class="badge badge-info">{{ export.status }}</span>
                    <br/>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div ng-show="action[0] == 'metrics'">
        <ng-include src="'partials/testresults/metrics.html'"></ng-include>
      </div>

      <div ng-show="action[0] == 'examples'" ng-controller="TestExamplesCtrl" ng-init="init(test)">
        <ng-include src="'partials/examples/example_list.html'"></ng-include>
      </div>

      <div ng-show="action[0] == 'matrix'">
        <div class="row">
            <div class="span6">
                <h4>Confusion Matrix</h4>

                <confusion-matrix matrix=test.metrics.confusion_matrix url=test.examplesUrl()></confusion-matrix>

            </div>
        </div>
        <div ng-controller="TestConfusionMatrixCtrl" ng-init="init(test)" >
           <div class="row alert alert-error" ng-show="confusion_matrix_error">
              {{ confusion_matrix_error }}
           </div>

           <div class="row well">
            <form name="ConfusionMatrixForm" class="form-inline">
              <div class="span3" ng-repeat="w in confusion_matrix_weights">
                <div class="p10">
                  <label>Weight of &quot;{{ w.label }}&quot;: </label>
                  <input type="text" name="weight{{ w.label }}" class="input-mini" ng-model="w.value" required smart-float />
                </div>
              </div>

              <div class="span12">
                <div class="p10">
                  <button ng-disabled="ConfusionMatrixForm.$invalid || test.status != 'Completed'" class="btn" ng-click="recalculate()">
                      Recalculate with weights
                  </button>
                  <span class="text-error" ng-show="test.status != 'Completed'">&nbsp;&nbsp;Please, wait until test is fully stored, then confusion matrix recalculation will be available.</span>
                </div>
              </div>
            </form>
           </div>


            <div class="span11" ng-show="test.confusion_matrix_calculations">
              <h4>Confusion matrix calculations</h4>
              <ul class="unstyled">
                <li class="row well well-small" ng-repeat="calc in test.confusion_matrix_calculations">
                  <div class="row">
                    <div class="span7">
                        <i class="icon-calendar"></i> created on <span class="badge badge-info" title="dates in GMT">{{ calc.created_on|format_date }}</span>
                        <i class="icon-th"></i><span> weights: </span>
                        <span ng-repeat="label in calc.args[1] track by $index">
                            <span class="label">"{{ label[0] }}": {{ label[1] }}</span>
                        </span>
                        <br/>
                    </div>
                    <div class="span3 pull-right">
                      <button class="btn btn-link pull-right" ng-click="showLogs(calc.id)">Show logs</button>
                      <button class="btn btn-link pull-right" ng-click="showResult(calc.id)" ng-show="calc.status=='Completed'">Show result</button>
                      <button class="btn btn-link pull-right" ng-click="showResult(calc.id)" ng-show="calc.status=='Error'">Show details</button>
                    </div>
                    <div class="pull-right">
                      <span ng-show="calc.status=='Completed'" class="badge badge-info">{{ calc.status }}</span>
                      <span ng-show="calc.status=='Error'" class="badge badge-error">{{ calc.status }}</span>
                      <span ng-show="calc.status=='In Progress'" class="badge badge-warning">{{ calc.status }}</span>
                    </div>
                  </div>
                  <div class="row" ng-show="open_calc_id == calc.id">
                      <div class="span6">
                          <confusion-matrix ng-show="calc.status=='Completed'" matrix=calc.result></confusion-matrix>
                          <div class="alert alert-error" ng-show="calc.status=='Error'">{{calc.error}}</div>
                      </div>
                  </div>
                  <div class="row" ng-show="open_logs_calc_id == calc.id">
                      <div class="span9">
                          <div ng-controller="LogMessageListCtrl" ng-init="init('confusion_matrix_log', calc.id)">
                            <br/>
                            <ng-include src="'partials/logmessages/list.html'"></ng-include>
                          </div>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
        </div>
      </div>

      <div ng-show="action[0] == 'logs'" ng-controller="LogMessageListCtrl" ng-init="init('runtest_log', test.id)">
        <ng-include src="'partials/logmessages/list.html'"></ng-include>
      </div>

      <div ng-show="test.fill_weights && action[0] == 'weights'"  ng-controller="WeightsCtrl" ng-init="weights_section='weights'; init('weights')">
        <h4>
          Parameters Weights<span ng-show="model.labels && model.labels.length > 2"> For : </span>
          <div ng-show="model.labels && model.labels.length > 2" class="btn-group">
            <a class="btn dropdown-toggle class_label" data-toggle="dropdown" href="#">
              Class Label {{class_label}}
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              <li ng-repeat="label in model.labels" ng-show="label != class_label">
                <a ng-click="switchToClassLabel($event, label)">Class Label {{label}}</a></li>
            </ul>
          </div>
        </h4>
        <div class="weights-tree">
          <ng-include src="'partials/weights/tree.html'"></ng-include>
        </div>
      </div>
    </div>
</div>