<div ng-controller="SaveObjectCtl">
  <h2>
    Add New Model
    <small><a ng-href="#" href="#">(Cancel)</a></small>
  </h2>
  <ng-include src="'/partials/parts/save_form_messages.html'"></ng-include>
  <form name="Form" class="form-horizontal">
  <p class="lead">
    Adding new untrained model
  </p>
  <div class="control-group" ng-class="{error: Form.name.$invalid || errorList.name}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name" ng-change="setFieldError('name')" required />
      <span ng-show="Form.name.$error.required" class="help-block">Model name is required and should be unique</span>
      <span ng-show="errorList.name" class="help-block" ng-bind="errorList.name" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.features.$invalid || errorList.features}">
    <label class="control-label">Features</label>
    <div class="controls">
      <input type="file" name="features" ng-model="model.features" json-file />
      <span ng-show="errorList.features" class="help-block" ng-bind="errorList.features" />
      <span ng-show="Form.features.$error.jsonFile" class="help-block">Should be a valid json file</span>
      <span class="help-block">There should be JSON file with features <go-to-docs page="features"></go-to-docs></span>
    </div>
  </div>
  <div ng-controller="ImportHandlerSelectCtrl">
    <ng-include src="'/partials/models/form/import_handlers.html'"></ng-include>
  </div>
  <br />
  <a href="#/models" class="btn">Cancel</a>
    <button ng-click="save(['name', 'features', 'test_import_handler', 'import_handler', 'import_handler_file', 'test_import_handler_file', 'train_format', 'test_format'])" ng-disabled="Form.$invalid" class="btn btn-primary">Add new model</button> <small>and start training</small>
  </form>
</div>