<div ng-controller="SaveObjectCtl">
  <h2>
    Add New Model
    <small><a ng-href="#" href="#">(Cancel)</a></small>
  </h2>

  <loadindicator title="Adding model..." ng-show="saving" progress="savingProgress"></loadindicator>

  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

  <form name="Form" class="form-horizontal">
  <p class="lead">
    Please upload features and define import handlers.
  </p>
  <div class="control-group" ng-class="{error: Form.name.$invalid}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name" required>
      <span ng-show="Form.name.$error.required" class="help-inline">*</span>
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.features.$invalid}">
    <label class="control-label">Features</label>
    <div class="controls">
      <input type="file" name="features" ng-model="model.features" onchange="angular.element(this).scope().readFile(this, 'features')" required />
      <span ng-show="Form.features.$error.required" class="help-inline">*</span>
      <span class="help-block">json file with features</span>
    </div>
  </div>
  <div ng-controller="ImportHandlerSelectCtrl">
    <div class="control-group" ng-class="{error: Form.train_import_handler.$invalid}">
      <label class="control-label">Train Import Handler</label>
      <div class="controls">
        <select name="train_import_handler" ng-model="model.train_import_handler">
          <option ng-repeat="handler in handlers" value="{{ handler._id }}">{{ handler.name }}</option>
        </select> 
        <span>or</span> 
        <input type="file" name="train_import_handler_file" ng-model="model.train_import_handler_file" onchange="angular.element(this).scope().readFile(this, 'train_import_handler_file')" />
      </div>
    </div>
    <div class="control-group" ng-class="{error: Form.test_import_handler.$invalid}">
      <label class="control-label">Test Import Handler</label>
      <div class="controls">
        <select name="test_import_handler" ng-model="model.test_import_handler">
            <option ng-repeat="handler in handlers" value="{{ handler._id }}">{{ handler.name }}</option>
        </select>
        <span>or</span> 
        <input type="file" name="test_import_handler_file" ng-model="model.test_import_handler_file" onchange="angular.element(this).scope().readFile(this, 'test_import_handler_file')" />
      </div>
    </div>
  </div>

  <br />
  <a href="#/models" class="btn">Cancel</a>
    <button ng-click="save(['name', 'features', 'test_import_handler', 'train_import_handler', 'train_import_handler_file', 'test_import_handler_file'])" ng-disabled="Form.$invalid || !(model.train_import_handler_file || model.train_import_handler) || !(model.test_import_handler_file || model.test_import_handler)" class="btn btn-primary">Add new model</button> <small>and start training</small>
  </form>
</div>