<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe>
</alert-message>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' trace="{{ trace }}" unsafe>
</alert-message>
<div ng-init="init({model: model})" ng-controller="ModelActionsCtrl">
<h2 class="title">
  <span title="Title"
    class="title" ng-bind="model.name || 'untitled model'"
    editable="model" value="model.name"
    editable-field="name" editable-input="text"
    editable-placement="right" editable-required></span> details
  <br/><span ng-show="model.locked && !(model.servers|isArrayEmpty)">(Deployed to {{model.servers[0].type}})</span>
    <span ng-show="model.locked && (model.servers|isArrayEmpty)">(Locked for modifications)</span>
  <div class="actions">
    <button ng-show="model.status == 'Trained'" ng-click="test_model(model)" class="btn btn-success">
      <i title="Apply the classifier to the input provided by the data import handler" class="status-icon icon-play"></i>
      Test
    </button>
    <button ng-click="train_model(model)" class="btn btn-info">
      <i title="Train your model" class="icon-tasks"></i>
      Train
    </button>
    <button ng-click="grid_search_params(model)" class="btn btn-info">
      <i title="Grid search classifier parameters" class="icon-tasks"></i>
      Grid search
    </button>
    <a ng-show="model.status == 'Trained' && model.trainer_s3_url" href="{{ model.trainer_s3_url }}" class="btn btn-info">
        <i title="Download model trainer." class="icon-download-alt"></i> Download
    </a>
    <button ng-show="model.status == 'Trained'" ng-click="uploadModelToPredict(model)" class="btn btn-info">
        <i class="icon-upload"></i> Upload for Predict
    </button>
    <button ng-click="cloneModel(model)" class="btn btn-info">
      <i title="Clone your model." class="icon-tasks"></i> Clone
    </button>
    <button class="btn btn-info" ng-click="import_ih_fields_to_features()"
            ng-show="model.train_import_handler_type.toLowerCase() == 'xml' && model.featuresSet.features_count <= 0 && model.status.toLowerCase() == 'new'">
      <i title="Add XML import handlers fields as mode features" class="icon-remove"></i> Add IH Fields as Features
    </button>
    <button ng-click="delete_model(model)" class="btn btn-danger">
      <i title="Delete your model. Be careful - you could not recover it!" class="icon-remove"></i> Delete
    </button>
  </div>
</h2>
<p class="clear clearfix"></p>

<alert-message ng-show="model.status == 'Queued'" class="alert-info" msg="We queue this model to train. It would be processed soon">
</alert-message>

<alert-message ng-show="model.status != 'Queued' && model.training_in_progress" alert-class="alert-info" msg="Please wait! Model is training now. It could take several minutes.">
</alert-message>

<alert-message ng-show="model.status == 'New'" class="alert-warning" msg='Model is not trained yet. Please start training.' unsafe>
</alert-message>

<div ng-show="model.status == 'Error'">
  <alert-message ng-hide="model.error" class="alert-error" msg='Error occurred while model training. Look at the logs on the Training tab for details' unsafe></alert-message>

  <alert-message ng-show="model.error" class="alert-error" trace="{{ trace }}" msg="Error occurred while model training: {{ model.error }}. Look at the logs on the Training tab for details" unsafe></alert-message>
</div>

<alert-message ng-show="model.status == 'Trained'" class="alert-success" msg='Model is trained. You could start running tests now.' unsafe>
</alert-message>

<ul class="nav nav-tabs" id="tabs" ng-show="model.loaded">
  <li ng-class="{active: action[0] == 'model'}">
    <a ng-click="setSection(['model', 'details'])">Model</a> 
  </li>
  <li ng-class="{active: action[0] == 'training'}">
    <a ng-click="setSection(['training', 'details'])">Training</a>
  </li>
  <li ng-class="{active: action[0] == 'grid_search'}">
    <a ng-click="setSection(['grid_search', 'details'])">Parameters Search</a>
  </li>
  <li ng-class="{active: action[0] == 'test'}">
    <a ng-click="setSection(['test', 'details'])">Test</a>
  </li>
  <li ng-class="{active: action[0] == 'about'}"><a ng-click="setSection(['about', 'details'])">About</a></li>
  <li ng-class="{active: action[0] == 'visualization'}" ng-show="model.status == 'Trained'">
    <a ng-click="setSection(['visualization', 'visual'])">Visualization</a></li>
</ul>
 
<div class="tab-content" ng-show="model.loaded">
  <div ng-show="action[0] == 'model'">
    <p class="switcher">
      <b>Switch View: </b>
      <a ng-class="{active: action[1] == 'details'}" ng-click="setSection(['model', 'details'])">Standard</a> |
      <a ng-class="{active: action[1] == 'json'}" ng-click="setSection(['model', 'json'])">JSON File</a>
    </p>

    <!-- Model tab starts here -->
    <div ng-show="action[1] == 'details'" ng-controller="FeaturesListCtrl" ng-init="init(model)">
      <div ng-controller="BaseListCtrl" ng-init="init(false, 'features')">
        <div class="row" ng-controller="FeaturesSetDetailsCtrl" ng-init="init(model)">
          <div class="span4">
            <h4>
              Classifier {{ model.classifier.name }} <span><a ng-click="editClassifier(model)">(edit)</a></span>
            </h4>
             <div>
                Type:
                <span class="value">{{ model.classifier.type }}</span>
            </div>
             <div>
                Parameters:
                <span ng-repeat="(key, val) in model.classifier.params"><span class="badge badge-info">{{ key }}={{ val }}</span> </span>
            </div>
            <div ng-show="model.created_by">
                Created by:
                <span class="value">{{ model.classifier.created_by.name }} ({{ model.classifier.created_by.uid }})</span>
            </div>
          </div>
          <div class="span3">
            <h4>Features</h4>
            <div>
              Schema Name:
              <span title="Schema Name" class="title" ng-bind="featuresSet.schema_name || 'schema name here'" editable="featuresSet" value="featuresSet.schema_name" editable-field="schema_name" editable-input="text" editable-placement="right"></span>
            </div>
            <div ng-controller="FeatureActionsCtrl">
              Target Variable: <span title="Target Variable" ng-bind="featuresSet.target_variable || 'no type'" editable="featuresSet" value="featuresSet.target_variable" editable-field="target_variable" editable-placement="right" editable-input="select" source="getFeatureNames(objects)"></span>
            </div>
            <!-- <a class="btn btn-info" ng-click="makeTarget(feature)" ng-hide="feature.is_target_variable==true"><i title="Changes target variable (y)" class="icon-star"></i></a> -->
            <div>Features Count: <span class="value">{{ featuresSet.features_count }}</span></div>
          </div>
          <div class="span4">
            <h4>Segmentation</h4>
            <alert-message ng-show="segmentationMsg" class="alert-info" msg="{{segmentationMsg}}" unsafe></alert-message>
            <div ng-controller="GroupBySelector">
              Group By:
              <input ui-select2="group_by_opts" ng-model="modelObj.featuresSet.group_by" style="width: 300px" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="span12">
            <ng-include src="'partials/features/items/list.html'"></ng-include>
          </div>
        </div>
      </div>
    </div>

    <div ng-show="action[1] == 'json'" cml-has-codemirror="action[1] == 'json'">
      <form name="FeaturesJsonForm" ng-controller="ModelFeaturesJsonEditCtrl">
        <textarea ng-model="model.features" name="fJson" ui-codemirror="codeMirrorConfigs(false)['json']" class="cml-codemirror-refresh"></textarea><br/>
        <button ng-click="saveJson()" class="btn btn-info" ng-disabled="FeaturesJsonForm.fJson.$pristine || !model.features">Save</button>
        <button ng-click="resetJsonChanges()" class="btn btn-info" ng-disabled="FeaturesJsonForm.fJson.$pristine">Cancel Changes</button>
      </form>
    </div>

    <div class="row well">
        <a style="font-weight: normal;" href="{{ model.downloadFeaturesUrl() }}" class="btn btn-info">
          <i title="Download features JSON file" class="icon-download-alt"></i> Download Features
        </a>
    </div>

  </div>

  <!-- Training tab starts here -->
  <div ng-show="action[0] == 'training'" ng-controller="WeightsCtrl">
    <div class="row">
      <div class="span12">
          Status: <span class="value">{{ model.status }}</span> <a ng-click="showLogs=!showLogs">(logs)</a><br/>
          <a ng-show="model.new_dataset" target="_blank" href='#/importhandlers/xml/{{model.train_import_handler}}/datasets/{{model.new_dataset}}?action=log:details'>[Dataset import logs]</a>
          <br/>
          <div ng-show="showLogs" class="well" ng-controller="LogMessageListCtrl" ng-init="init('trainmodel_log', model.id, 50)">
            <div class="message">
              <ng-include src="'partials/logmessages/list.html'"></ng-include>
            </div>
          </div>
      </div>
    </div>
    <div class="row">
      <div class="span4">
        <div ng-show="model.status == 'Trained'">
          Memory used:
          <span class="value">{{ model.memory_usage }} Mb</span>
        </div>
        <div ng-show="model.status == 'Trained'">
            Trained by:
            <span class="value">{{ model.trained_by.name }} ({{ model.trained_by.uid }})</span>
        </div>
        <div ng-if="model.status == 'Trained'">
            Training time:
            <span class="value">{{ model.training_time|humanize_time }}</span>
        </div>
        <div ng-if="model.status == 'Trained'">
            Trainer file size:
            <span class="value">{{ model.trainer_size|bytes }}</span>
        </div>
      </div>
      <div class="span4">
          <div ng-show="model.datasets" title="Data sets which was used for training">
            Data sets:
            <div ng-repeat="ds in model.datasets_obj">
                <span class="value" >
                  <a href="#{{ ds.objectUrl() }}">
                  {{ ds.name }}</a>
                </span>
                <a class="btn btn-info btn-mini" ng-class="downloadRequested ? 'link-inactive' : ''"
                   ng-init="getDataSetsDownloads(ds.id)"
                   ng-controller="ModelDataSetDownloadCtrl"
                   title="Download Tranformed DataSet"
                   ng-disabled="downloadRequested"
                   ng-click="requestDataSetDownload(ds.id, model.id)">
                  <i class="icon-download-alt"></i> Download
                </a>
                <alert-message ng-show="dl_msg" class="alert-info" style="margin-top:10px;" msg="{{dl_msg}}" unsafe></alert-message>
            </div>
            Records count: <span class="value">{{ model.train_records_count }}</span>
          </div>
      </div>
      <div class="span3">
        <div ng-show="model.status == 'Trained'">
              Segments:
              <div ng-repeat="segment in model.segments">
                <span class="value">
                  "{{ segment.name }}" - {{segment.records}} records
                </span>
              </div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="row">
      <div class="span11" ng-show="model.status == 'Trained'" ng-controller="FeaturesTransformersDataCtrl">
        <h4>Features Transformers data</h4>
        <form name="TransformerDlForm" class="form-horizontal">
          <span>Segment:</span>
          <select name="segment" ng-model="tf_segment" ng-required>
            <option ng-repeat="s in model.segments" value="{{ s.name }}">{{ s.name }}</option>
          </select>
          &nbsp;&nbsp;
          <span>Format:</span>
          <select name="file_format" ng-model="tf_format" ng-required>
            <option ng-repeat="ft in formats" value="{{ ft.value }}">{{ ft.name }}</option>
          </select>
          &nbsp;&nbsp;
          <a class="btn btn-small" ng-class="!tf_format || !tf_segment ? 'link-inactive' : ''"
             title="Download Tranformers Data"
             ng-click="requestTransformersDownload(model.id)">
            <i class="icon-download-alt"></i> Download
          </a>
          <alert-message ng-show="tf_dl_msg" class="alert-info" style="margin-top:10px;" msg="{{tf_dl_msg}}" unsafe></alert-message>
        </form>
      </div>
    </div>

    <div ng-controller="FeaturesTransformersDataCtrl"
         ng-init="getTransformersDownloads(model.id)"
         ng-show="tf_downloads.length > 0">
      <div class="row">
        <div class="span10">
          <h4>Transformers Data Requests</h4>
          <div class="row" ng-repeat="download in tf_downloads">
            <div class="span10 well">
              <i class="icon-calendar"></i> created on <span class="badge badge-info" title="dates in GMT">{{ download.task.created_on|format_date }}</span>
              <i class="icon-th"></i>transformers data for segment <span class="label">{{ download.segment.name }}</span>
              <span class="badge badge-info">{{ download.task.status }}</span>
              <a ng-show="download.task.status == 'Completed'" class="btn btn-small" href="{{ download.task.result }}" target="_blank">Download</a>
              <div class="span3 pull-right">
                  <button class="btn btn-link pull-right" ng-click="showLogs(download.task.id)">Show logs</button>
              </div>
              <div class="row" ng-show="open_logs_task_id == download.task.id">
                  <div class="span9">
                      <div ng-controller="LogMessageListCtrl" ng-init="init('prepare_transformer_for_download_log', download.task.id)">
                        <br/>
                        <ng-include src="'partials/logmessages/list.html'"></ng-include>
                      </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    <hr />
    <div ng-show="model.weights_synchronized">
      <div ng-show="model.status == 'Trained'" ng-init="weights_section='training'">
        <ng-include src="'partials/weights/weights_view_switcher.html'"></ng-include>
      </div>
    </div>

    <alert-message ng-hide="model.weights_synchronized" class="alert-warning" msg='Model weights are unavailable or not synchronized'></alert-message>
    <hr />
  </div>

  <!-- Tests tab -->
  <div ng-show="action[0] == 'test'" id="tests">
    <h3>Tests</h3>
    <div ng-controller="TestListCtrl" ng-init="init(model)">
      <ng-include src="'partials/testresults/test_list.html'"></ng-include>
    </div>
  </div>

  <!-- Grid Search tab -->
  <div ng-show="action[0] == 'grid_search'" id="grid_search" ng-controller="GridSearchResultsCtrl">
    <h3>Classifier grid search parameters</h3>
    <div ng-repeat="grid_param in model.classifier_grid_params | orderBy:'-id'" class="well">
      <i class="icon-calendar"></i> created on <span class="badge badge-info" title="dates in GMT">{{ grid_param.created_on|format_date }}</span>
      scoring <span class="badge badge-info">{{ grid_param.scoring || 'N/A' }}</span>
      <span ng-show="grid_param.status!='Error'" class="badge badge-info">{{ grid_param.status }}</span>
      <span ng-show="grid_param.status=='Error'" class="badge badge-error">{{ grid_param.status }}</span>
      <div class="span3 pull-right">
        <button class="btn btn-link pull-right" ng-click="showLogs(grid_param.id)">Show logs</button>
      </div>

      <div class="row" ng-show="open_logs_calc_id == grid_param.id">
        <div class="span9">
          <div ng-controller="LogMessageListCtrl" ng-init="init('gridsearch_log', grid_param.id)">
            <br/><ng-include src="'partials/logmessages/list.html'"></ng-include>
          </div>
        </div>
      </div>

      <div ng-hide="grid_param.parameters_grid">
        <h4>Parameters</h4>
        <div ng-repeat="(k,v) in grid_param.parameters">  
          {{ k }}: <span ng-repeat="val in v">{{ val }} </span>
        </div>
      </div>
      <div ng-show="grid_param.parameters_grid">
        <div ng-repeat="(segment, grid) in grid_param.parameters_grid">
          <h4 ng-hide="Object.keys(grid_param.parameters_grid).length == 1">Segment: {{ segment }}</h4>
          <table class="table">
            <thead>
              <tr>
                <th>Parameters</th>
                <th>Mean</th>
                <th>Std</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in grid">
                <td><span  ng-repeat="(k,v) in item.parameters">{{ k }}: <span>{{ v }} </span></span></td>
                <td>{{ item.mean|number:4 }}</td>
                <td>{{ item.std|number:4 }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <!-- About tab -->
  <div ng-show="action[0] == 'about'" ng-controller="ObjEditCtrl">
    <div title="tags" ng-init="obj=model">
      <span ng-repeat="tag in model.tags">
        <span class="badge">
          <a href="#/models/?tag={{ tag }}" style="color: white;">{{ tag }}</a>
        </span> 
      </span>
      <ng-include src="'partials/parts/created_tags.html'"></ng-include>
      <br/><br/>
      <ng-include src="'partials/parts/deployed_servers.html'"></ng-include>
    </div>
    <div class="row">
      <div class="span6">
        <h5>Edit tags</h5>
        <input ui-select2="select2params" ng-model="params['tags']" style="width: 300px" />
        <input type="button" class="btn btn-info" value="Save" ng-click="updateTags()" style="margin-left: 5px;" />

        <div ng-controller="ImportHandlerSelectCtrl">
          <h5>Import Handlers</h5>
          <div>
            For Train:
            <span title="Select Train Import Handler"
                  ng-bind="model.train_import_handler_obj.name || 'not specified'"
                  editable="model" value="model.train_import_handler_obj.id"
                  editable-field="train_import_handler" editable-input="select"
                  editable-placement="right" is-empty="_isEmpty"
                  source="handlers_list"
                  display="model.train_import_handler_obj.name"></span>
            <a target="_blank" href="#{{ model.train_import_handler_obj.objectUrl() }}"><i class="icon-arrow-right"></i></a>
          </div>
          <div>
            For Tests:
            <span title="Select Test Import Handler"
                  ng-bind="model.test_import_handler_obj.name || 'not specified'"
                  editable="model" value="model.test_import_handler_obj.id"
                  editable-field="test_import_handler" editable-input="select"
                  editable-placement="right"
                  source="handlers_list"
                  display="model.test_import_handler_obj.name"></span>
            <a target="_blank" href="#{{ model.test_import_handler_obj.objectUrl() }}"><i class="icon-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="span5">
        <h5>Data Examples Titles</h5>
        <div ng-show="model.sorted_data_fields.length">
          Examples label field name:
          <span title="Label Field Name" ng-bind="model.example_label || 'not specified'" editable="model" value="model.example_label" editable-field="example_label" editable-placement="right" editable-input="select" source="model.sorted_data_fields"></span>
        </div>
        <div ng-show="!model.sorted_data_fields.length">
          Examples label field name:
          <span title="Label Field Name" ng-bind="model.example_label || 'not specified'" editable="model" value="model.example_label" editable-field="example_label" editable-placement="right" editable-input="text" source="model.sorted_data_fields"></span>
        </div>
        <div ng-show="model.sorted_data_fields.length">
          Examples id field name:
          <span title="ID Field Name" ng-bind="model.example_id || 'not specified'" editable="model" value="model.example_id" editable-field="example_id" editable-placement="right" editable-input="select" source="model.sorted_data_fields"></span>
        </div>
        <div ng-show="!model.sorted_data_fields.length">
          Examples id field name:
          <span title="ID Field Name" ng-bind="model.example_id || 'not specified'" editable="model" value="model.example_id" editable-field="example_id" editable-placement="right" editable-input="text" source="model.sorted_data_fields"></span>
        </div>
        <div>
            Target variable:
            <span class="value">{{ model.target_variable }}</span>
        </div>
        <div>
            Classes:
            <span class="value">
              <span ng-repeat="label in model.labels"><span class="badge badge-info" ng-bind="label"></span> </span>
            </span>
        </div>
        <div>
            Count of features:
            <span class="value">{{ model.feature_count }}</span>
        </div>
        <div ng-show="model.created_by">
            Created by:
            <span class="value">{{ model.created_by.name }} ({{ model.created_by.uid }})</span>
        </div>
        <div ng-show="model.updated_by">
            Updated by:
            <span class="value">{{ model.updated_by.name }} ({{ model.updated_by.uid }})</span>
        </div>
      </div>
    </div>
    <div ng-controller="ModelDataSetDownloadCtrl"
         ng-init="getDataSetsDownloads(model.id)"
         ng-show="downloads.length > 0">
      <hr/>
      <div class="row">
        <div class="span10">
          <h4>DataSet Transform Requests</h4>
          <div class="row" ng-repeat="download in downloads">
            <div class="span10 well">
              <i class="icon-calendar"></i> created on <span class="badge badge-info" title="dates in GMT">{{ download.task.created_on|format_date }}</span>
              <i class="icon-th"></i>dataset <span class="label">{{ download.dataset.name }}</span>
              <span class="badge badge-info">{{ download.task.status }}</span>
              <a class="btn btn-small" href="{{ download.task.result }}" target="_blank">Download</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Visualization  Tab -->
  <div ng-show="action[0] == 'visualization' && model.status == 'Trained'">
    <ng-include src="'partials/models/training_visualization.html'"></ng-include>
  </div>

</div>
</div>