<div class="modal-header">
<button ng-click="close()" class="close" data-dismiss="modal">×</button>
<h3>Train the model</h3>
<alert-message ng-show="model.status == 'Trained'" class="alert-warning" msg='Be carefull. All model metadata will be removed after re-trainging!' unsafe>
</alert-message>
<p class="lead">
    Please enter import parameters
</p>
</div>
<div class="modal-body">
<form name="TrainDialogForm" class="form-horizontal">
  <div class='alert alert-error' ng-show='httpError'>
    An Error occured trying to send request.
  </div>
   <div ng-repeat="param in params" class="control-group">
        <label class="control-label">{{ param | capfirst }}:</label>
        <div class="controls"  ng-class="{error: TrainDialogForm.parameters[param].$invalid}">
          <input ng-model='parameters[param]' placeholder='Please input {{ param }}' type='text' required />
          <span ng-show="TrainDialogForm.parameters[param].$error.required" class="help-inline">Required</span>
        </div>
    </div>
</form>
</div>
<div class="modal-footer">
<button ng-click="start(result)" ng-disabled="TrainDialogForm.$invalid" class="btn btn-primary" >Start training</button>
</div>