<alert-message ng-show="model.status == 'Queued'" class="alert-info" msg="We queue this model to train. It would be processed soon">
</alert-message>

<alert-message ng-show="model.status == 'Training'" alert-class="alert-info" msg="Please wait! Model is training now. It could take several minutes.">
</alert-message>

<alert-message ng-show="model.status == 'New'" class="alert-warning" msg='Model is not trained yet. Please start training.' unsafe>
</alert-message>

<alert-message ng-show="model.status == 'Error'" class="alert-error" msg='Error occures while model training. Look at celery tasks for details' unsafe>
</alert-message>

<alert-message ng-show="model.error" class="alert-error" msg="{{ model.error }}" unsafe></alert-message>

<alert-message ng-show="model.status == 'Trained'" class="alert-success" msg='Model is trained. You could start running tests now.' unsafe>
</alert-message>

<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe>
</alert-message>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe>
</alert-message>

<h2 class="title">
  <span title="Title"
    class="title" ng-bind="model.name || 'untitled model'"
    editable="model" value="model.name"
    editable-field="name" editable-input="text"
    editable-placement="right"></span> details
  <div class="actions" ng-controller="ModelActionsCtrl">
  <div ng-init="init({model: model})">
    <button ng-show="model.status == 'Trained'" ng-click="test_model(model)" class="btn btn-success">
      <i title="Apply the classifier to the input provided by the data import handler" class="status-icon icon-play"></i>
      Run test
    </button>
    <button ng-click="train_model(model)" class="btn btn-info">
      <i title="Train your model" class="icon-tasks"></i>
      Start training
    </button>
    <button ng-click="reload_model(model)" class="btn btn-info">
      <i title="Reload model" class="icon-tasks"></i>
      Reload model
    </button>
    <a ng-show="model.status == 'Trained'" href="{{ model.downloadUrl() }}?field=trainer" class="btn btn-info">
        <i title="Download model trainer." class="icon-download-alt"></i> Download Trainer
      </a>
    <button ng-click="delete_model(model)" class="btn btn-danger">
      <i title="Delete your model. Be careful - you could not recover it!" class="icon-remove"></i> Delete model
    </button>
  </div>
  </div>
</h2>
<p class="lead">
  <span title="Description"
    ng-bind="model.description || 'no description'"
    editable="model" value="model.description"
    editable-field="description" editable-input="textarea"
    editable-placement="right"></span>
</p>
<div title="Date Created" class="date-created">
    <i class="icon-calendar"></i>
    created on <span class="badge badge-info">{{ model.created_on|format_date }}</span>
    <span ng-hide="model.created_on == model.updated_on">
      updated on <span class="badge badge-info">{{ model.updated_on|format_date }}</span>
    </span>
    <i class="icon-status"></i>
    <span class="badge badge-warning">{{ model.status }}</span>
  </div>
</div>
<p></p>
<ul class="nav nav-tabs" id="tabs" ng-show="model.loaded">
  <li  ng-class="{active: action[0] == 'model'}">
    <a ng-click="setSection(['model', 'details'])">Details</a> 
  </li>
  <li ng-class="{active: action[0] == 'weights'}"><a  ng-click="setSection(['weights', 'columns'])">Parameters Weights</a></li>
  <li ng-class="{active: action[0] == 'test'}"><a ng-click="setSection(['test', 'list'])">Tests</a></li>
  <li ng-class="{active: action[0] == 'features'}"><a ng-click="setSection(['features', 'file'])">Features</a></li>
  <li ng-class="{active: action[0] == 'log'}"><a ng-click="setSection(['log', 'details'])">Logs</a></li>
</ul>
 
<div class="tab-content" ng-show="model.loaded">
  <div ng-show="action[0] == 'model'" ng-controller="ObjEditCtrl">
    <div class="row">
      <div class="span4" ng-controller="ImportHandlerSelectCtrl">
        <div>
            Target variable:
            <span class="value">{{ model.target_variable }}</span>
        </div>
        <div>
            Classes:
            <span class="value">{{ model.labels }}</span>
        </div>
      </div>
      <div class="span4">
        <h5>Import Handlers</h5>
        <div>
          For Train:
          <span title="Select Train Import Handler" ng-bind="model.train_import_handler_obj.name" editable="model" value="model.train_import_handler_obj._id" editable-field="train_import_handler" editable-input="select" editable-placement="right" source="handlers_list" display="model.train_import_handler_obj.name"></span>
          <a target="_blank" href="#{{ model.train_import_handler_obj.objectUrl() }}"><i class="icon-arrow-right"></i></a>
        </div>
        <div>
          For Tests:
          <span title="Select Test Import Handler" ng-bind="model.test_import_handler_obj.name" editable="model" value="model.test_import_handler_obj._id" editable-field="test_import_handler" editable-input="select" editable-placement="right" source="handlers_list" display="model.test_import_handler_obj.name"></span>
          <a target="_blank" href="#{{ model.test_import_handler_obj.objectUrl() }}"><i class="icon-arrow-right"></i></a>
        </div>
        <div ng-show="model.dataset" title="DataSet which was used for training">
            DataSet:
            <span class="value">
              <a href="#{{ model.dataset_obj.objectUrl() }}">
              {{ model.dataset_obj.name }}</a>
            </span>
        </div>
      </div>
      <div class="span3">
        <h5>Data Examples Titles</h5>
        <div>
          Examples label field name:
          <span title="Label Field Name" ng-bind="model.example_label || 'not specified'" editable="model" value="model.example_label" editable-field="example_label" editable-input="text" editable-placement="right"></span>
        </div>
        <div>
            Examples id field name:
            <span title="ID Field Name" ng-bind="model.example_id" editable="model" value="model.example_id" editable-field="example_id" editable-input="text" editable-placement="right"></span>
        </div>
      </div>
    </div>
  </div>

  <div ng-show="action[0] == 'log'" ng-controller="LogMessageListCtrl" ng-init="init('trainmodel_log', model._id)">
    <ng-include src="'/partials/logmessages/list.html'"></ng-include>
  </div>

  <div ng-show="action[0] == 'test'" id="tests">
    <h3>Tests</h3>
    <div>
      <ng-include src="'/partials/testresults/test_list.html'"></ng-include>
    </div>  
  </div>

  <div ng-show="action[0] == 'weights'" ng-controller="WeightsCtrl">
    <p class="switcher">
      <b>Switch View: </b>
      <a ng-class="{active: action[1] == 'columns'}" ng-click="action = ['weights', 'columns']">Columns</a> | 
      <a ng-class="{active: action[1] == 'list'}" ng-click="action = ['weights', 'list']">List</a> |
      <a ng-class="{active: action[1] == 'tree'}" ng-click="action = ['weights', 'tree']">Tree</a>
    </p>
    <alert-message ng-show="model.status == 'Trained' && !model.weights_synchronized" class="alert-warning" msg="Please wait! Model parameters weights aren't filled.">
    </alert-message>
    <alert-message ng-show="model.status != 'Trained'" class="alert-warning" msg="Please train model to get parameters weights.">
    </alert-message>
    <div ng-show="action[1] == 'columns'" class="columns">
        <div class="row">
          <div class="span5">
            <h4>Positive Weights</h4>
            <weights-table weights="positive">
            </weights-table>
            <a class="btn" ng-click="morePositiveWeights()">Load More...</a>
          </div>
          <div class="offset1 span5">
            <h4>Negative Weights</h4>
            <weights-table weights="negative">
            </weights-table>
            <a class="btn" ng-click="moreNegativeWeights()">Load More...</a>
          </div>
        </div>
    </div>
    <div ng-show="action[1] == 'tree'" class="tree">
        <ng-include src="'/partials/weights/tree.html'"></ng-include>
    </div>
    <div ng-show="action[1] == 'list'" class="list">
        <ng-include src="'/partials/weights/list.html'"></ng-include>
    </div>
  </div>
  <div ng-show="action[0] == 'features'"  id="features">
    <a href="{{ model.downloadUrl() }}?field=features"><i title="Download features file" class="icon-download-alt"></i> Download
      </a>
    <textarea ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="model.features"> </textarea>
  </div>
</div>