<div ng-controller="TagCtrl">
<h2>
  <a href="#/models/">Model List</a> <small ng-show="currentTag">tagged with {{ currentTag }}</small>
  <div class="actions">
  <a class="btn btn-info" href="#/models/upload_model">
    <i class="status-icon icon-upload"></i> Upload trained model
  </a>
  <a class="btn btn-info" href="#/models/add_model">
    <i class="status-icon icon-plus"></i> Add new model
  </a>
<!--   <a class="btn btn-info" href="#/compare_models">
    <i class="icon-th-large"></i> Compare models
  </a> -->
  </div>
</h2>

<div>
  <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

  <div ng-hide="tag_list.length == 0" ng-controller="TagCloudCtrl" class="alert-info well">
    <span ng-repeat="tag in tag_list">
      <span ng-show="tag.count > 0">
        <a href="#/models/?tag={{ tag.text }}">{{ tag.text }} ({{ tag.count }})</a> 
      </span>&nbsp;
    </span>
  </div>

  <alert-message ng-show="msg" class="alert-info" msg="{{ msg }}"></alert-message>

  <h4>My recently updated</h4>
  <div ng-controller="ModelListCtrl" ng-init="init(true, 'my_models', 'updated_on', 'desc')">
    <ng-include ng-controller="BaseListCtrl" ng-init="init(false, 'my_models', false)" src="'partials/models/table.html'"></ng-include>
  </div>
  <h4>All models</h4>
  <div ng-controller="ModelListCtrl" ng-init="init(null, 'models', 'name', 'asc')">
    <ng-include ng-controller="BaseListCtrl" ng-init="init(false, 'models', true)" src="'partials/models/table.html'"></ng-include>
  </div>
</div>
</div>