<div ng-show="model.visualization_data.classifier_type">
  <b>Classifier used for training:</b> {{ model.visualization_data.classifier_type }}
</div>
<div class="visualization-tree" ng-show="model.visualization_data.tree">
  <alert class="alert alert-info">Use mosue wheel to zoom in/out. Drag to move the tree around. Hover on nodes to show tooltips. Click on nodes to exapnd.</alert>
  <cml-decision-tree root="model.visualization_data.tree" class="cml-decision-tree"></cml-decision-tree>
</div>

<div ng-init="show_tree = {}" class="visualization-trees" ng-show="model.visualization_data.trees">
  <alert class="alert alert-info">Use mosue wheel to zoom in/out. Drag to move the tree around. Hover on nodes to show tooltips. Click on nodes to exapnd.</alert>
  <div ng-repeat="tree in model.visualization_data.trees" class="visualization-tree">
  	<h5><a href="" ng-click="show_tree[$index] = !show_tree[$index]">Tree #{{ $index }}</a></h5>
  	<cml-decision-tree ng-show="show_tree[$index]" root="tree" class="cml-decision-tree"></cml-decision-tree>
  </div>
</div>