<div ng-controller="ModelVisualizationCtrl">
<p class="switcher" ng-show="model.segments.length">
  <b>Segment: </b>
  <span ng-repeat="segment in model.segments">
    <a ng-class="{active: action[2] == segment.name || action[2] == undefined && $first}" ng-click="setSection(['visualization', mode, segment.name])">{{segment.name}}</a> <span ng-hide="$last">|</span></span>
</p>

<div ng-repeat="segment in model.segments" ng-show="action[2] == segment.name || action[2] == undefined && $first">
	<div ng-show="model.visualization_data[segment.name].classifier_type">
	  <b>Classifier used for training:</b> {{ model.visualization_data[segment.name].classifier_type }}
	</div>

	<div ng-controller="TreeDeepFormCtrl" ng-init="init(model, segment)" ng-show="model.visualization_data[segment.name].tree || model.visualization_data[segment.name].trees" class="well">
		<!-- Trees visualization here -->
		<h4 ng-show="model.visualization_data[segment.name].tree">Decision Tree</h4>
		<h4 ng-show="model.visualization_data[segment.name].trees">Decision Trees</h4>
		<alert-message ng-show="msg" alert-class="alert-info" msg="{{ msg }}"></alert-message>

		<p class="switcher">
			<b>Switch View: </b>
			<a ng-class="{active: (action[1] == 'visual' || action[1] == undefined && mode)}" ng-click="setSection(['visualization', 'visual', segment.name])">Visual</a> |
			<a ng-class="{active: action[1] == 'text'}" ng-click="setSection(['visualization', 'text', segment.name])">Text</a>&nbsp;
			<i class="icon-arrow-down"></i><b>Tree Deep:</b> {{ treeDeep }} <a ng-click="showTreeDeepForm = !showTreeDeepForm">(change)</a>
		</p>
		<div ng-show="showTreeDeepForm" class="form">
			<form name="TreeDeepForm" class="well">
			  <fieldset>
			    <label>Visualization Tree Deep</label>
			    <input name="tree_deep" type="text" ng-model="treeDeep">
			    <span class="help-block">You would change only visualization of the classifier tree. Also keep in mind that re-generation of the tree view will take some time.</span>
			    <button class="btn btn-success" type="submit" ng-click="generate()">Generate</button>
			  </fieldset>
			</form>
		</div>

		<div class="visualization-tree" ng-show="model.visualization_data[segment.name].tree">
			<swt-decision-tree root="model.visualization_data[segment.name].tree" mode="mode" class="cml-decision-tree"></swt-decision-tree>
		</div>

		<div ng-init="show_tree = {}" class="visualization-trees" ng-show="model.visualization_data[segment.name].trees">
		  <div ng-repeat="tree in model.visualization_data[segment.name].trees" class="visualization-tree">
		  	<h5><a href="" ng-click="show_tree[$index] = !show_tree[$index]">Tree #{{ $index }}</a></h5>
		  	<swt-decision-tree ng-show="show_tree[$index]" root="tree" mode="mode" class="cml-decision-tree"></swt-decision-tree>
		  </div>
		</div>
	</div>
</div>
</div>