<div class="control-group"
  ng-class="{error: Form.type.$invalid && !model.type}">
    <label class="control-label">Type</label>
    <div class="controls">
      <select ng-change="loadParameters(true);target_model.classifier.name='';" name="type" ng-model="model.type" ng-options="item['name'] as item['name'] group by item['support_description'] for item in configuration_list" ng-selected="model.type" required>
      </select>
      <span ng-show="Form.type.$error.required" class="help-inline">*</span>
    </div>
  </div>