<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe></alert-message>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' trace='{{ trace }}' unsafe></alert-message>

<h2 class="title">
  {{ classifier.name }} details
</h2>

<div title="quick info" ng-init="obj=classifier">
  <ng-include src="'partials/parts/created_tags.html'"></ng-include>
</div>
<p></p>

<div>
  <div>
      Type: <span class="value">{{ classifier.type }}</span>
  </div>
  <div>
      Params: <span class="value">{{ classifier.params }}</span>
  </div>
</div>