<form name="Form" class="form-horizontal" ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Edit classifier</h3>
  </div>

  <div class="modal-body" ng-controller="ClassifiersSelectLoader">
    <ng-include src="'partials/parts/save_form_messages.html'"></ng-include>

    <ul ng-init="model.predefined_selected=false;currentTab='custom'" class="nav nav-pills" ng-init="currentTab='custom'">
      <li ng-class="{active: currentTab == 'custom'}">
        <a ng-click="currentTab='custom';target_model.classifier.predefined_selected=false">Custom</a>
      </li>
      <li ng-hide="classifiers.length == 0" ng-class="{active: currentTab == 'predefined'}">
        <a ng-click="currentTab='predefined';target_model.classifier.predefined_selected=true">Predefined</a>
      </li>
      <li ng-show="classifiers.length == 0" class="disabled"><a title="There aren't predefined classifiers in the system">Predefined</a></li>
    </ul>
    <div ng-show="currentTab=='predefined'" class="control-group">
      <alert-message class="alert-info" msg='Please choose predefined classifier. You could add other predefined classifiers at <a target="_blank" href="#/predefined/classifiers/">Classifiers List</a> page.' safe></alert-message>
      <div class="control-group" ng-class="{error: Form.classifier.$invalid}">
        <label class="control-label">Classifier</label>
        <div class="controls">
          <select name="classifier" ng-model="target_model.classifier.classifier" ng-required="currentTab=='predefined'">
            <option value="" selected>--- select classifier ---</option>
            <option ng-repeat="clr in classifiers" value="{{ clr.id }}">{{ clr.name }}</option>
          </select>
          <span ng-show="Form.classifier.$error.required" class="help-inline">*</span>
        </div>
      </div>
    </div>
    <div ng-show="currentTab=='custom'" class="control-group">
      <div class="control-group"
      ng-class="{error: Form.type.$invalid && !model.type}">
        <label class="control-label">Type</label>
        <div class="controls">
          <select ng-change="loadParameters(true)" name="type" ng-model="model.type" required>
            <option ng-selected="typeName == model.type" ng-repeat="(typeName, conf) in configuration" value="{{ typeName }}">{{ typeName }}</option>
          </select>
          <span ng-show="Form.type.$error.required" class="help-inline">*</span>
        </div>
      </div>
      <div ng-show="model.config.parameters">
        <h4>Classifier Parameters</h4>
        <div ng-repeat="item in model.config.parameters" class="control-group">
          <label class="control-label" title="Please input {{ item.name }}. Type: {{ item.type }}">{{ item.name }}</label>
          <div class="controls">
            <parameter-input ng-model="model.params[item.name]" config="item" name="item.name"></parameter-input>
            <span class="help-block" ng-show="Form[config.name].$invalid">invalid</span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer" title="{{ Form.$error }}">
    <button ng-click="save(['name', 'type', 'params', 'model_id', 'predefined_selected', 'classifier', 'is_predefined'])" ng-disabled="Form.$invalid" class="btn btn-primary">Save</button>
  </div>
</form>
