<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Edit classifier</h3>
  </div>

  <div class="modal-body">
    <loadindicator title="Saving classifier..." ng-show="saving" progress="savingProgress"></loadindicator>

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

    <ul ng-init="model.predefined_selected=false;currentTab='custom'" class="nav nav-pills" ng-init="currentTab='custom'">
      <li ng-class="{active: currentTab == 'custom'}">
        <a ng-click="currentTab='custom';target_model.classifier.predefined_selected=false">Custom</a>
      </li>
      <li ng-class="{active: currentTab == 'predefined'}">
        <a ng-click="currentTab='predefined';target_model.classifier.predefined_selected=true">Predefined</a>
      </li>
    </ul>

    <div ng-show="currentTab=='predefined'" class="control-group">
      <alert-message class="alert-info" msg='Please choose predefined classifier. You could add other predefined classifiers at <a target="_blank" href="#/predefined/classifiers/">Classifiers List</a> page.' unsafe></alert-message>
      <div class="control-group" ng-class="{error: Form.classifier.$invalid}">
        <label class="control-label">Classifier</label>
        <div class="controls"  ng-controller="ClassifiersSelectLoader">
          <select name="classifier" ng-model="target_model.classifier.classifier" ng-required="currentTab=='predefined'">
            <option ng-repeat="clr in classifiers" value="{{ clr._id }}">{{ clr.name }}</option>
          </select>
          <span ng-show="Form.classifier.$error.required" class="help-inline">*</span>
        </div>
      </div>
    </div>

    <div ng-show="currentTab=='custom'" class="control-group">
      <form name="Form" class="form-horizontal">
        <div class="control-group" ng-class="{error: Form.type.$invalid}">
          <label class="control-label">Type</label>
          <div class="controls">
            <select ng-change="loadParameters(true)" name="type" ng-model="model.type" required>
              <option ng-selected="typeName == model.type" ng-repeat="(typeName, conf) in configuration" value="{{ typeName }}">{{ typeName }}</option>
            </select>
            <span ng-show="Form.type.$error.required" class="help-inline">*</span>
          </div>
        </div>
        <div ng-show="model.config.parameters">
          <h4>Classifier Parameters</h4>
          <div ng-repeat="name in model.config.parameters" class="control-group">
            <label class="control-label">{{ name }}</label>
            <div class="controls">
              <input ng-model="model.params[name]" name="{{ name }}" type='text' />
            </div>
          </div>
        </div>
      </form>
    </div>

  </div>

  <div class="modal-footer">
    <button ng-click="save(['name', 'type', 'params', 'model_id', 'predefined_selected', 'classifier', 'is_predefined'])" ng-disabled="Form.$invalid" class="btn btn-primary">Save</button>
  </div>
</div>
