<!-- Predefined Classifier Form -->
  <div class="control-group" ng-class="{error: Form.name.$invalid || errorList.name}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name" ng-change="setFieldError('name')" required />
      <span ng-show="Form.name.$error.required" class="help-block">name is required and should be unique</span>
      <span ng-show="errorList.name" class="help-block" ng-bind="errorList.name" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.type.$invalid || errorList.type}">
    <label class="control-label">Type</label>
    <div class="controls">
      <select ng-change="loadParameters(true)" name="type" ng-model="model.type" required>
        <option ng-repeat="(type_, conf) in configuration" value="{{ type_ }}" ng-selected="type_ == model.type">{{ type_ }}</option>
      </select>
      <span ng-show="Form.type.$error.required" class="help-inline">type is required <go-to-docs page="features" section="feature-types-defined-in-cloudml-core"></go-to-docs></span>
      <span ng-show="errorList.type" class="help-block" ng-bind="errorList.type" />
    </div>
  </div>
  <div ng-show="model.config.parameters">
    <h4>Classifier Parameters</h4>
    <div ng-repeat="item in model.config.parameters" class="control-group">
      <label class="control-label" title="Please input {{ item.name }}. Type: {{ item.type }}">{{ item.name }}</label>
      <div class="controls">
        <parameter-input ng-model="model.params[item.name]" config="item" name="item.name"></parameter-input>
        <span class="help-block" ng-show="Form[item.name].$invalid">invalid</span>
      </div>
    </div>
  </div>