<h2>
  Predefined Classifiers List
  <div class="actions">
      <a class="btn btn-info" ng-click="add()">
        <i class="status-icon icon-plus"></i> Add new classifier
      </a>
  </div>
</h2>

<div ng-controller="BaseListCtrl" ng-init="init(true, 'classifiers')">
	<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

	<alert-message ng-show="objects.length == 0" class="alert-info" msg="No classifiers found"></alert-message>

	<table ng-hide="objects.length == 0" class="table table-hover">
	<thead>
	  <tr>
	    <th>Name</th>
	    <th>Type</th>
	    <th>Params</th>
	    <th>Created</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-repeat="classifier in objects">
	    <td>
	      <a href="#{{ classifier.objectUrl() }}">{{ classifier.name }}</a>
	    </td>
	    <td>{{ classifier.type }}</td>
	    <td>{{ classifier.params }}</td>
	    <td>
	        {{ classifier.created_on|format_date }}<br>
	        <small ng-show="classifier.created_by">by {{ classifier.created_by.name }} ({{ classifier.created_by.uid }})</small>
	    </td>
	  </tr>
	</tbody>
	</table>
</div>