<div ng-app="ng-app" ng-controller="ObjectListCtrl">
  <div ng-init="init({objectLoader: loadDatas()})">
    <alert-message ng-show="total == 0" class="alert-warning" msg="No examples to display."></alert-message>

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

    <form class="form-inline well">
      <label>Label: </label>
      <select class="input-small" ng-model="simple_filters.label">
        <option value="">--- any ---</option>
        <option ng-repeat="label in labels" ng-value="label" ng-selected="label==simple_filters.label">{{ label }}</option>
      </select> &nbsp;
      <label>Predicted Label: </label>
      <select class="input-small" ng-model="simple_filters.pred_label">
        <option value="">--- any ---</option>
        <option ng-repeat="label in labels" ng-value="label" ng-selected="label==simple_filters.pred_label">{{ label }}</option>
      </select> 
      <b> Data filters:</b>
      <span>
        <span ng-repeat="item in data_filters">
          <select class="input-small" ng-model="data_filters[$index].name">
            <option value=''>-- select field name --</option>
            <option ng-repeat="field in fields" value="data_input.{{ field }}" ng-selected="'data_input.' + field==item.name">{{ field }}</option>
          </select> : 
          <input type="text" value="{{ item.value }}" ng-model="data_filters[$index].value" />
          &nbsp;
        </span>
      </span>
      <a ng-click="addFilter()">add</a>
      <a class="btn btn-info" ng-click="filter()">Filter</a>
    </form>

    <pagination boundary-links="true" max-size="8" num-pages="pages" current-page="page" style="margin:0;"></pagination>

    <small ng-show="total">
      <p>Total examples : {{ total }}</p>
    </small>

    <table class="table table-striped">
        <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Original</th>
            <th>Predict</th>
          </tr>
        </thead>
        <tbody ng-show="loading_state">
          <tr ng-show="loading_state">
              <td colspan="4"><span class="badge">Loading... Please wait.</span></td>
          </tr>
        </tbody>
        <tbody ng-show="!loading_state">
          <tr ng-repeat="data in objects | filter:search | orderBy:'id'" ng-class="{success : data.label==data.pred_label, error : !(data.label==data.pred_label)}">
            <td><a href="#{{ data.objectUrl() }}">{{ data.id }}</a></td>
            <td><a href="#{{ data.objectUrl() }}">{{ data.name }}</a></td>
            <td><span>{{ data.label }}</span></td>
            <td><span>{{ data.pred_label }}</span></td>
          </tr>
        </tbody>
    </table>
    pages: {{ pages }}
    page: {{ page }}
    <pagination boundary-links="true" num-pages="pages" max-size="8" current-page="page"></pagination>
  </div>
</div>
