<ng-include src="'/partials/parts/pager.html'"></ng-include>

<h2>
  Test Example <span ng-show="data.loaded">"{{ data.test_name|capfirst }}:{{ data.example_id }}"</span> Details
</h2>
<div title="quick info" ng-show="data.loaded" ng-init="obj=data">
  <span ng-repeat="tag in model.tags">
    <span class="badge">
      <a href="#/models/?tag={{ tag }}" style="color: white;">{{ tag }}</a>
    </span> 
  </span>
  <ng-include src="'/partials/parts/created_tags.html'"></ng-include>
  <i class="icon-status"></i>
  <span class="badge badge-warning">{{ model.status }}</span>
  <i class="icon-screenshot"></i> target variable
  <span class="badge badge-info">{{ data.model.target_variable }}</span>
  <i class="icon-screenshot"></i> label
  <span class="badge badge-info">{{ data.label }}</span>
  <i class="icon-screenshot"></i> predicted label
  <span ng-show="data.label == data.pred_label" class="badge badge-success">{{ data.pred_label }}</span>
  <span title="predicted invalid value" ng-show="data.label != data.pred_label" class="badge badge-important">{{ data.pred_label }}</span>
  </div>
</div>
<p/>

<alert-message ng-show="data.isLoadedToS3() == false" class="alert-info" msg="This example data is storing to Amazon S3 now... Please take a look to details page later to get example parameters with weights" unsafe></alert-message>

<alert-message ng-show="data.test_result.examples_placement == 'Do not save'" class="alert-info" msg="Examples data isn't stored for this test at all." unsafe></alert-message>

<alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
<sc-chart chart-dict="data.probChartData" width="150" height="150"></sc-chart>
<div ng-show="data.loaded">
  <ul class="nav nav-tabs" id="tabs">
    <li ng-class="{active: action[0] == 'model'}">
      <a ng-click="setSection(['model', 'details'])">Features</a>
    </li>
    <li ng-class="{active: action[0] == 'weighted'}">
      <a ng-click="setSection(['weighted', 'details'])">Weighted Data</a>
    </li>
    <li ng-class="{active: action[0] == 'raw'}">
      <a ng-click="setSection(['raw', 'details'])">Raw Data</a>
    </li>
  </ul>
  <div class="tab-content">
    <!-- Parameters table view -->
    <div ng-show="action[0] == 'model'">
      <table class="table">
        <thead>
        <tr>
          <th>Name</th>
          <th>Model Weight</th>
          <th>Vectorized Value</th>
          <th>Weight</th>
        </tr>
        </thead>
        <tbody>
          <tr ng-repeat="val in data.parameters_weights">
            <td>
              {{ val.name }}
            </td>
            <td>
              {{ val.model_weight }}
            </td>
            <td>
              {{ val.vect_value }}
            </td>
            <td>
              <span class="badge {{ val.css_class }}">{{ val.weight }}</span>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <!-- Weighted parameters -->
    <div ng-show="action[0] == 'weighted'">
      <table class="table">
      <thead>
          <tr>
            <th class="span2">Parameter</th>
            <th class="span7">Value</th>
          </tr>
      </thead>
      <tbody>
          <tr ng-repeat="(title, val) in data.weighted_data_input" ng-class="val.2">
            <td>{{ title }}</td>
            <td style="max-width: 200px;">
              <span ng-show="!val.weights" title="Weight: {{ val.model_weight }}. Vectorized value: {{ val.vect_value }}. Parameters weight: {{ val.weight }}" class="badge {{ val.css_class }}">{{ val.value }}</span>

              <div ng-show="val.weights">
                <span ng-show="val.type == 'list'" ng-init="lword=word.toLowerCase()" ng-repeat="word in val.value|words">
                  <span ng-show="val.weights[lword].weight" title="Weight: {{ val.weights[lword].model_weight }}. Vectorized value: {{ val.weights[lword].vect_value }}. Parameters weight: {{ val.weights[lword].weight }}" class="badge {{ val.weights[lword].css_class }}">{{ word }}</span>
                  <span ng-show="!val.weights[lword].weight">{{ word }}</span>
                </span>

                <span ng-show="val.type == 'dict'" ng-repeat="(key, dval) in val.weights">
                  <span title="Weight: {{ dval.model_weight }}. Vectorized value: {{ dval.vect_value }}. Parameters weight: {{ dval.weight }}" class="badge {{ dval.css_class }}">{{ key }}={{ dval.value }}</span>
                </span>
              </div>
            </td>
          </tr>
      </tbody>
      </table>
    </div>

    <div ng-show="action[0] == 'raw'">
      <textarea name="data" ui-codemirror="codeMirrorConfigs(true)['json']" ui-refresh="action" ng-model="data.raw_data"></textarea>
    </div>
</div>

<ng-include ng-show="data.loaded" src="'/partials/parts/pager.html'"></ng-include>