<div ng-app="ng-app" ng-controller="ObjectListCtrl">
  <div ng-init="init({objectLoader: loadDatas()})">

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

    <form class="form-inline">
      <label>Label: </label>
      <select class="input-small" ng-change="filter()" ng-model="simple_filters.label">
        <option value="">--- any ---</option>
        <option ng-repeat="label in labels" ng-value="label" ng-selected="label==simple_filters.label">{{ label }}</option>
      </select> &nbsp;
      <label>Predicted Label: </label>
      <select class="input-small" ng-change="filter()" ng-model="simple_filters.pred_label">
        <option value="">--- any ---</option>
        <option ng-repeat="label in labels" ng-value="label" ng-selected="label==simple_filters.pred_label">{{ label }}</option>
      </select>
      <button ng-class="{'btn btn-success': showDataFiltering, 'btn': !showDataFiltering}" ng-click="showDataFiltering = !showDataFiltering">Data Filters</button>
      <div ng-show="showDataFiltering">
        <hr />
        <div class="input-append">
          <select class="input-small" ng-model="dataField">
            <option value=''>-- select field name --</option>
            <option ng-repeat="field in fields" value="data_input->>{{ field }}">{{ field }}</option>
          </select>
          <span class="add-on">:</span>
          <input type="text" ng-model="dataValue" />
          <a class="btn btn-info" ng-click="appendDataFieldFilter(dataField, dataValue)" ng-disabled="loading_state || !(dataField)">
              <i class="icon-plus"></i>
          </a>
        </div>
      </div>
    </form>
    <div ng-show="keysf(filter_opts).length" title="keysf(filter_opts)">
      <label>Filtering by:</label>
      <div class="alert-info well">
        <span ng-repeat="(name, value) in simple_filters">
          <span class="label label-info">
            {{ name }} : {{ value }} <a ng-click="removeSimpleFieldFilter(name)"><i class="icon-remove"></i></a> 
          </span>
        </span>
        <span ng-repeat="(name, value) in data_filters">
          <span class="label label-info">
            {{ name }} : {{ value }} <a ng-click="removeDataFieldFilter(name)"><i class="icon-remove"></i></a> 
          </span>
        </span>
      </div>
    </div>
    <table class="table table-striped ordered">
        <thead>
          <tr>
            <th width="20px">#</th>
            <th ng-show="exclude_fields.indexOf('example_id')==-1" ng-class="{active: sort_by == 'example_id'}" ng-click="sort('example_id')">
                Id
                <i ng-show="sort_by == 'example_id' && !asc_order" class="icon-arrow-down"></i>
                <i ng-show="sort_by == 'example_id' && asc_order" class="icon-arrow-up"></i>
            </th>
            <th ng-show="exclude_fields.indexOf('name')==-1" ng-class="{active: sort_by == 'name'}" ng-click="sort('name')">
                Name
                <i ng-show="sort_by == 'name' && !asc_order" class="icon-arrow-down"></i>
                <i ng-show="sort_by == 'name' && asc_order" class="icon-arrow-up"></i>
            </th>
            <th ng-class="{active: sort_by == 'label'}" ng-click="sort('label')">
                Original
                <i ng-show="sort_by == 'label' && !asc_order" class="icon-arrow-down"></i>
                <i ng-show="sort_by == 'label' && asc_order" class="icon-arrow-up"></i>
            </th>
            <th ng-class="{active: sort_by == 'pred_label'}" ng-click="sort('pred_label')">
                Predict
                <i ng-show="sort_by == 'pred_label' && !asc_order" class="icon-arrow-down"></i>
                <i ng-show="sort_by == 'pred_label' && asc_order" class="icon-arrow-up"></i>
            </th>
            <th ng-repeat="label in test.classes_set" ng-class="{active: sort_by == 'prob[' + ($index + 1) + ']'}" ng-click="sort('prob[' + ($index + 1) + ']')">
                &laquo;{{ label }}&raquo; probability
                <i ng-show="sort_by == 'prob[' + ($index + 1) + ']' && !asc_order" class="icon-arrow-down"></i>
                <i ng-show="sort_by == 'prob[' + ($index + 1) + ']' && asc_order" class="icon-arrow-up"></i>
            </th>
          </tr>
        </thead>
        <tbody ng-show="loading_state">
          <tr ng-show="loading_state">
              <td colspan="6"><span class="badge">Loading... Please wait.</span></td>
          </tr>
        </tbody>
        <tbody ng-show="!loading_state">
          <tr ng-repeat="data in objects | filter:search" ng-class="{success : data.label==data.pred_label, error : !(data.label==data.pred_label)}">
            <td><a href="#{{ getExampleUrl(data) }}">{{ $index + 1 }}</a></td>
            <td ng-show="exclude_fields.indexOf('example_id')==-1">{{ data.example_id }}</td>
            <td ng-show="exclude_fields.indexOf('name')==-1">{{ data.name }}</td>
            <td><span>{{ data.label }}</span></td>
            <td><span>{{ data.pred_label }}</span></td>
            <td ng-repeat="label in labels">{{ data.prob[$index] }}</td>
          </tr>
        </tbody>
        <tfoot>
          <tr ng-hide="total">
            <td colspan="6">No examples found</td>
          </tr>
          <tr ng-show="total">
            <td colspan="6">
              Total examples : {{ total }}. Pages: {{ pages }}
            </td>
          </tr>
        </tfoot>
    </table>
    <pagination ng-show="total" boundary-links="true" total-items="total" max-size="8" page="page"></pagination>
  </div>
</div>
