<div>
  <div>
    <h2>{{ test.name|capfirst }} Examples List</h2>
    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
    <form name="GroupedExamplesSearchForm" class="form-inline well">
      <label>Field Name:</label>
      <select title='could be field from raw data (use "data_input->{{ fieldname }}") or any other field like "label", "pred_label".' ng-model="form.field" name="field" ng-options="name for name in fields" required>
        <option value="">--- select field ---</option>
      </select>
      &nbsp;
      <label>N:</label>
      <input type=text ng-model="form.count" name="count"/>
      <button ng-click="update()" ng-disabled="GroupedExamplesSearchForm.$invalid" class="btn btn-success">
          <i title="Apply" class="status-icon icon-play"></i>
          Update
      </button>
    </form>

    Mean avarage precision: {{ mavp.toFixed(4) || mavp }}
    <table class="table table-striped">
        <thead>
          <tr>
            <th>Group By Field: {{ field_name }}</th>
            <th>Count of examples</th>
            <th>Average precision</th>
          </tr>
          </thead>
          <tbody>
          <tr ng-repeat="data in objects">
            <td><a href="#{{ test.examplesUrl() }}&data_input->>{{ form.field }}={{ data.group_by_field }}">{{ data.group_by_field }}</a></td>
            <td><span>{{ data.count }} </span></td>
            <td><span>{{ data.avp.toFixed(4) || data.avp }} </span></td>
          </tr>
        </tbody>
    </table>
  </div>
</div>
