NameVirtualHost *:{{ apache_port }}
<VirtualHost *:{{ apache_port }}>
    ServerName {{ server_name }}
    ServerAlias www.{{ server_name }}
    ServerAdmin {{ server_admin }}

    WSGIDaemonProcess {{ instance_name }} user={{ user }} group={{ user }} processes={{ apache_processes }} threads={{ apache_threads }}
    
    WSGIScriptAlias /api {{ wsgi_filepath }}
    <Directory {{ wsgi_path }}>
        WSGIApplicationGroup %{GLOBAL}
        WSGIProcessGroup {{ instance_name }}
        Order deny,allow
        allow from all
    </Directory>

    Alias /docs {{ active_docs_link }}
    <Directory {{ active_docs_link }}>
        Order allow,deny
        Allow from all
    </Directory>
    
    DocumentRoot {{ active_public_link }}
    <Directory {{ active_public_link }}>
        Order allow,deny
        Allow from all
    </Directory>

    ErrorLog /var/log/apache2/{{ instance_name }}-error.log

    LogLevel error
</VirtualHost>
