<div ng-controller="ServersSelectLoader">
  <div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Upload to cloudml-predict</h3>
  </div>

  <div class="modal-body">
    <form name="Form" class="form-horizontal">
      <div class="control-group" ng-class="{error: Form.server.$invalid || errorList.server}">
        <label class="control-label">Server</label>
        <div class="controls">
            <select name="server" ng-model="model.server" ng-required
                    ng-change="serverChanged(Form.server.$viewValue)"
                    ng-options="server.id as server.name for server in servers">
              <option value="">- nothing selected -</option>
            </select>
          <span ng-show="Form.server.$error.required" class="help-inline">*</span>
        </div>
      </div>
    </form>
    <hr ng-show="selectedServer"/>
    <div ng-show="selectedServer"><b>Server Memory: </b>{{selectedServer.memory_mb}} MB</div>
    <div ng-show="selectedServer.memoryStatsLoaded"><b>Models Count: </b>{{selectedServer.models.length}}</div>
    <div ng-show="selectedServer.memoryStatsLoaded"><b>Models Trainers: </b>{{selectedServer.totalTrainers}} MB</div>
    <p ng-show="selectedServer.modelAlreadyUploaded || selectedServer.modelWillExceed">
      <div class="alert alert-warning" ng-show="selectedServer.modelAlreadyUploaded">
        The model <b>{{model.name}}</b> is already uploaded to server <b>{{selectedServer.name}}</b>
      </div>
      <div class="alert alert-error" ng-show="selectedServer.modelWillExceed">
        Uploading the model <b>{{model.name}}</b> to server <b>{{selectedServer.name}}</b> will <b>Exceed</b> the server's memory.</b>
      </div>
    </p>
  </div>

  <div class="modal-footer">
    <button class="btn btn-primary"
            ng-click="upload()"
            ng-disabled="Form.$invalid || !model.server || !selectedServer || !selectedServer.memoryStatsLoaded">
      Upload
    </button>
  </div>
</div>
