<div>
  <div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Upload to cloudml-predict</h3>
  </div>

  <div class="modal-body">
    <form name="Form" class="form-horizontal" ng-controller="ServersSelectLoader">
      <div class="control-group" ng-class="{error: Form.server.$invalid || errorList.server}">
        <label class="control-label">Server</label>
        <div class="controls">
            <select name="server" ng-model="model.server" ng-required>
              <option ng-selected="s.is_default" ng-repeat="s in servers" value="{{ s.id }}">{{ s.name }}</option>
            </select>
          <span ng-show="Form.server.$error.required" class="help-inline">*</span>
        </div>
      </div>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-click="upload()" ng-disabled="Form.$invalid || !model.server" class="btn btn-primary">Upload</button>
  </div>
</div>
