<div ng-controller="BaseDeleteCtrl">
<div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
<h3>{{ model.name }} file metadata</h3>
</div>
<div class="modal-body">
    <div class='alert alert-error' ng-show='err'>{{ err }}</div>
    <div>
        Object Name: <span class="value">{{ model.object_name }}</span><br/>
        Metadata Name: <span title="Name" class="name" ng-bind="model.name || 'not specified'" editable="model" value="model.name" editable-field="name" editable-input="text" editable-placement="right" editable-required></span><br/>
        Size: <span class="value">{{ model.size }}</span><br/>
        Uploaded On: <span class="value">{{ model.uploaded_on }}</span><br/>
        Object Id: <span class="value">{{ model.object_id }}</span><br/>
        Type: <span class="value">{{ model.object_type }}</span><br/>
        User Id: <span class="value">{{ model.user_id }}</span><br/>
        User Name: <span class="value">{{ model.user_name }}</span><br/>
        Crc32: <span class="value">{{ model.crc32 }}</span><br/>
        Max response time: <span title="Max response time" class="name" ng-bind="model.max_response_time || 'not specified'" editable="model" value="model.max_response_time" editable-field="max_response_time" editable-input="text" editable-placement="right"></span><br/>
        Requests: <span title="Requests" class="name" ng-bind="model.requests || 'not specified'" editable="model" value="model.requests" editable-field="requests" editable-input="text" editable-placement="right"></span><br/>
        Count 400 response: <span class="value">{{ model.count_400 || 0 }}</span><br/>
        Count 500 response: <span class="value">{{ model.count_500 || 0}}</span><br/>
        Count of max response: <span class="value">{{ model.count_of_max_response || 0}}</span><br/>
        Longest response count: <span class="value">{{ model.longest_resp_count || '-'}}</span><br/>
        Longest response time: <span class="value">{{ model.longest_resp_time || '-'}}</span><br/>
        Loading error: <span class="value">{{ model.loading_error || 'No error'}}</span><br/>

    </div>

</div>
<div class="modal-footer">
<button ng-click="$dismiss('cancel')" class="btn btn-primary">Close</button>
</div>
</div>
