<table class="table table-hover">
<thead>
  <tr>
    <th>Name</th>
    <th title="stored in Amazon S3 key metadata">Metadata Name</th>
    <th>Size</th>
    <th>User</th>
    <th>Updated</th>
    <th>Actions</th>
  </tr>
</thead>
<tbody>
  <tr ng-repeat="file in objects">
    <td title="Key UUID {{ file.id }}">
      <a href="#{{ file.obj.objectUrl() }}">{{ file.obj.name }}</a>
    </td>
    <td>
      <span title="Name" class="name" ng-bind="file.name || 'not specified'" editable="file" value="file.name" editable-field="name" editable-input="text" editable-placement="right"></span>
    </td>
    <td>{{ file.size|bytes }}</td>
    <td>
      <span title="User id is {{ file.user_id }}">{{ file.user_name }}</span>
    </td>
    <td title="dates in GMT">{{ file.last_modified|format_date }}</td>
    <td>
      <button ng-click="reloadFile(file)" class="btn btn-info">
        <i title="Reloads this file at Predict" class="icon-upload"></i>
      </button>
      <button ng-click="deleteFile(file)" class="btn btn-danger">
        <i title="Remove file" class="icon-remove"></i>
      </button>
    </td>
  </tr>
</tbody>
</table>