
<li class="divider-vertical"></li>
<li>

    <p ng-show="user" class="navbar-text">
        <a class="username" href="{{ user.odesk_url }}" target="_blank" title="Click to go to your oDesk profile">
            <img src="{{ user.portrait_32_img }}">
            {{ user.name }} ({{ user.uid }})
        </a>
    </p>

    <p ng-show="!user" class="navbar-text">
        Not logged in
    </p>

</li>

<li ng-show="user" class="divider-vertical"></li>
<li ng-show="user">
    <div class="controls">
        <button class="btn btn-small" ng-click="logout()">logout</button>
    </div>
</li>
