<ul class="nav pull-right">
  <li class="dropdown" ng-show="user">
    <a class="dropdown-toggle" dropdown-toggler>
        <img width="20px" height="20px" src="{{ user.portrait_32_img }}" />
        <span>{{ user.name }}</span>
        <b class="caret"></b>
    </a>
    <ul class="dropdown-menu">
        <li>
            <a href="{{ user.odesk_url }}" target="_blank" title="Click to go to your oDesk profile"><i class="icon-user"></i> Profile</a>
        </li>
        <li><a ng-click="logout()" class="disabled"><i class="icon-off"></i> Log out</a></li>
    </ul>
  </li>
  <li ng-hide="user">
    Not logged in
  </li>
</ul>