{{ detailsLoaded}}
<h2>
  {{ model.name|capfirst }} Details
  <div class="actions" ng-controller="ModelActionsCtrl">
    <div ng-init="init({model: model})">
      <button ng-show="model.status == 'Trained'" ng-click="test_model(model)" class="btn btn-success">
        <i title="Apply the classifier to the input provided by the data import handler" class="status-icon icon-play"></i>
        Run test
      </button>
      <button ng-show="model.status == 'New' || model.status == 'Error'" ng-click="train_model(model)" class="btn btn-info">
        <i title="Train your model" class="icon-tasks"></i>
        Start training
      </button>
      <button ng-click="delete_model(model)" class="btn btn-danger">
        <i title="Delete your model. Be careful - you could not recover it!" class="icon-remove"></i> Delete model
      </button>
    </div>
</div>
</h2>

<alert-message ng-show="model.status == 'Queued'" class="alert-info" msg="We queue this model to train. It would be processed soon">
</alert-message>

<alert-message ng-show="model.status == 'Training'" alert-class="alert-info" msg="Please wait! Model is training now. It could take several minutes.">
</alert-message>

<alert-message ng-show="model.status == 'New'" class="alert-warning" msg='Model is not trained yet. Please start training.' unsafe>
</alert-message>

<alert-message ng-show="model.status == 'Error'" class="alert-error" msg='Error occures while model training. Look at celery tasks for details' unsafe>
</alert-message>

<alert-message ng-show="model.error" class="alert-error" msg="{{ model.error }}" unsafe></alert-message>

<alert-message ng-show="model.status == 'Trained'" class="alert-success" msg='Model is trained. You could start running tests now.' unsafe>
</alert-message>

<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe>
</alert-message>

<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe>
</alert-message>

<ul class="nav nav-tabs" id="tabs">
  <li  ng-class="{active: action[0] == 'model'}"><a ng-click="action = ['model', 'details']">Details</a></li>
  <li ng-class="{active: action[0] == 'weights'}"><a  ng-click="action = ['weights', 'columns']">Parameters Weights</a></li>
  <li ng-class="{active: action[0] == 'test'}"><a  ng-click="action = ['test', 'list']">Tests</a></li>
  <li ng-class="{active: action[0] == 'features'}"><a ng-click="action = ['features', 'file']">Features</a></li>
  <li ng-class="{active: action[0] == 'import_handlers'}"><a ng-click="action = ['import_handlers', 'train']">Import Handlers</a></li>
</ul>
 
<div class="tab-content">
  <div ng-show="action[0] == 'model'" id="details">
    <div class="row">
        <div class="span6">
            <div>
                Created at:
                <span class="value">
                    {{ model.created_on|format_date }}
                </span>
            </div>
            <div>
                Status:
                <span class="value">
                    {{ model.status }}
                </span>
            </div>
            <div>
                Target variable:
                <span class="value">
                    {{ model.target_variable }}
                </span>
            </div>
            <div>
                Classes:
                <span class="value">
                    {{ model.labels }}
                </span>
            </div>
        </div>
    </div>
  </div>

  <div ng-show="action[0] == 'test'" id="tests" ng-controller="ObjectListCtrl">
    <h3>Tests</h3>
    <div>
      <ng-include src="'/partials/test_list.html'"></ng-include>
    </div>  
  </div>

  <div ng-show="action[0] == 'weights'" id="weights" ng-controller="WeightsCtrl">
    <p class="switcher">
      <b>Switch View: </b>
      <a ng-class="{active: action[1] == 'columns'}" ng-click="action = ['weights', 'columns']">Columns</a> | 
      <a ng-class="{active: action[1] == 'list'}" ng-click="action = ['weights', 'list']">List</a> |
      <a ng-class="{active: action[1] == 'tree'}" ng-click="action = ['weights', 'tree']">Tree</a>
    </p>
    <alert-message ng-show="model.status == 'Trained' && !model.weights_synchronized" class="alert-warning" msg="Please wait! Model parameters weights aren't filled.">
    </alert-message>
    <alert-message ng-show="model.status != 'Trained'" class="alert-warning" msg="Please train model to get parameters weights.">
    </alert-message>
    <div ng-show="action[1] == 'columns'" class="columns">
        <div class="row">
          <div class="span5">
            <h4>Positive Weights</h4>
            <weights-table weights="positive">
            </weights-table>
            <a class="btn" ng-click="morePositiveWeights()">Load More...</a>
          </div>
          <div class="offset1 span5">
            <h4>Negative Weights</h4>
            <weights-table weights="negative">
            </weights-table>
            <a class="btn" ng-click="moreNegativeWeights()">Load More...</a>
          </div>
        </div>
    </div>
    <div ng-show="action[1] == 'tree'" class="tree">
        <ng-include src="'/partials/weights/tree.html'"></ng-include>
    </div>
    <div ng-show="action[1] == 'list'" class="list">
        <ng-include src="'/partials/weights/list.html'"></ng-include>
    </div>
  </div>
  <div ng-show="action[0] == 'import_handlers'">
    <div class="switcher">
      <a ng-click="action = ['import_handlers', 'train']" ng-class="{active: action[1] == 'train'}">for training</a> |
      <a ng-click="action = ['import_handlers', 'test']" ng-class="{active: action[1] == 'test'}">for testing</a>
    </div>
    <div ng-show="action[1] == 'train'">
      <h5>Here is import handler file for running tests:</h5>
      <span ng-click="saveTrainHandler()" class="btn btn-primary">Save</span>
      <textarea name="train_import_handler" ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="model.train_importhandler"> </textarea>
    </div>
    <div ng-show="action[1] == 'test'">
      <h5>Here is import handler file for running tests:</h5>
      <span ng-click="saveTestHandler()" class="btn btn-primary">Save</span>
      <textarea name="test_import_handler" ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="model.importhandler"> </textarea>
    </div>
  </div>
  <div ng-show="action[0] == 'features'"  id="features">
    <textarea ui-codemirror="{ mode: {name: 'javascript', json: true} }" ng-model="model.features"> </textarea>
  </div>
</div>