
<ul class="nav nav-pills" ng-show="user">
	<li ng-class="getClass('/dashboard')"><a ng-href="#/dashboard">dashboard</a></li>
  <li ng-class="getClass('/models')"><a ng-href="#/models">models</a></li>
  <li ng-class="getClass('/importhandlers')"><a ng-href="#/importhandlers">import handlers</a></li>
  <li ng-class="getClass('/aws/instances')"><a ng-href="#/aws/instances">instances</a></li>
  <li ng-class="getClass('/features')" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#">predefined models <b class="caret"></b></a>
    <ul class="dropdown-menu">
      <li ng-class="getClass('/predefined/classifiers')">
        <a ng-href="#/predefined/classifiers">classifiers</a>
      </li>
      <li ng-class="getClass('/predefined/types')">
        <a ng-href="#/predefined/types">named feature types</a>
      </li>
      <li ng-class="getClass('/predefined/transformers')">
        <a ng-href="#/predefined/transformers">feature transformers</a>
      </li>
      <li ng-class="getClass('/predefined/scalars')">
        <a ng-href="#/predefined/scalars">feature scalars</a>
      </li>
    </ul>
  </li>
</ul>

<ul class="nav pull-right" ng-include="'/partials/login/user.html'" ng-controller="UserCtl" ng-init="init()"></ul>
