<form name="myForm">
<h4>mappings:</h4>
<dict-parameter ng-model="theDict" name="model"
                input-key-class="input-medium"
                input-value-class="input-medium"></dict-parameter>

<div class="alert alert-danger" ng-show="myForm.model.$error.error_no_keys">At least one key/value pair is required</div>
<div class="alert alert-danger" ng-show="myForm.model.$error.error_keys">All keys should have valid non empty string name</div>
<div class="alert alert-danger" ng-show="myForm.model.$error.error_values">All values should have valid non empty string value</div>

<div>The Dictionary is Now</div>
<div>{{theDict}}</div>
</form>