<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Datasource</h3>
  </div>

  <div class="modal-body">
    <ng-include src="'/partials/parts/save_form_messages.html'"></ng-include>
    <div class="control-group">
      <form name="Form" class="form-horizontal">
        <div class="control-group" ng-class="{error: Form.name.$invalid || errorList.name}">
          <label class="control-label">Name</label>
          <div class="controls">
            <input type="text" name="name" ng-model="model.name" ng-change="setFieldError('name')" required />
            <span ng-show="Form.name.$error.required" class="help-inline">*</span>
            <span ng-show="errorList.name" class="help-block" ng-bind="errorList.name" />
          </div>
        </div>

        <div ng-controller="DatasourcesTypesLoader" class="control-group" ng-class="{error: Form.type.$invalid || errorList.type}">
          <label class="control-label">Type</label>
          <div class="controls">
            <select name="type" ng-model="model.type" ng-change="loadParameters(true);model.params={}" required>
              <option ng-selected="model.type == typeName" ng-repeat="typeName in types" value="{{ typeName }}">{{ typeName }}</option>
            </select>
            <span ng-show="Form.name.$error.required" class="help-block">type is required <go-to-docs page="features" section="classifier"></go-to-docs></span>
            <span ng-show="errorList.type" class="help-block" ng-bind="errorList.type" />
          </div>
        </div>

        <div ng-show="model.config">
            <h4>Datasource Parameters</h4>
            <div ng-repeat="param in model.config" class="control-group">
            <label class="control-label">{{ param.name }}</label>
            <div class="controls">
                <input ng-model="model.params[param.name]" name="{{ param.name }}" type='text' />
            </div>
        </div>
      </div>
      </form>
    </div>

  </div>

  <div class="modal-footer">
    <button ng-click="save(['name', 'type', 'params', 'import_handler_id'])" ng-disabled="Form.$invalid" class="btn btn-primary">Save</button>
  </div>
</div>
