<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Edit feature scaler</h3>
  </div>

  <div class="modal-body">
    <loadindicator title="Saving feature scaler..." ng-show="saving" progress="savingProgress"></loadindicator>

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

    <ul class="nav nav-pills" ng-init="currentTab='custom'">
      <li ng-class="{active: currentTab == 'custom'}">
        <a ng-click="currentTab='custom';model.predefined_selected=false">Custom</a>
      </li>
      <li ng-class="{active: currentTab == 'predefined'}">
        <a ng-click="currentTab='predefined';model.predefined_selected=true">Predefined</a>
      </li>
    </ul>

    <div ng-show="currentTab=='predefined'" class="control-group">
      <form name="Form2" class="form-horizontal">
        <alert-message class="alert-info" msg='Please choose predefined scaler. You could add other predefined scalers at <a target="_blank" href="#/features/scalers/">Scalers List</a> page.' unsafe></alert-message>
        <div class="control-group" ng-class="{error: Form2.scaler.$invalid}">
          <label class="control-label">Scaler</label>
          <div class="controls"  ng-controller="ScalersSelectLoader">
            <select name="scaler" ng-model="model.scaler" required>
              <option ng-repeat="name in transformers" value="{{ name }}">{{ name }}</option>
            </select>
            <span ng-show="Form2.scaler.$error.required" class="help-inline">*</span>
          </div>
        </div>
      </form>
    </div>

    <div ng-show="currentTab=='custom'" class="control-group">
      <ng-include src="'/partials/features/scalers/form.html'"></ng-include>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="save(['name', 'type', 'params', 'feature_id', 'predefined_selected', 'scaler'])" ng-disabled="Form.$invalid && Form2.$invalid" class="btn btn-primary">Save</button> <small></small>
  </div>
</div>