<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Edit scaler</h3>
  </div>

  <div class="modal-body">
    <loadindicator title="Editing scaler..." ng-show="saving" progress="savingProgress"></loadindicator>

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>
    <form name="ScalerForm" class="form-horizontal">
    <ng-include src="'partials/features/scalers/form.html'"></ng-include>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-click="save(['name', 'type', 'params', 'is_predefined'])" ng-disabled="Form.$invalid" class="btn btn-primary">Save</button>
  </div>
</div>