<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="dialog.close()" class="close" data-dismiss="modal">×</button>
    <h3>Edit feature transformer</h3>
  </div>

  <div class="modal-body">
    <loadindicator title="Adding feature transformer..." ng-show="saving" progress="savingProgress"></loadindicator>

    <alert-message ng-show="err" class="alert-error" msg="{{ err }}" unsafe></alert-message>

    <form name="TransformerForm" class="form-horizontal">
      <ng-include src="'partials/features/transformers/edit_feature_transformer_body.html'"></ng-include>
    </form>
  </div>

  <div class="modal-footer">
    <button ng-click="save(['name', 'type', 'params', 'feature_id', 'predefined_selected', 'transformer', 'is_predefined'])" ng-disabled="TransformerForm.$invalid" class="btn btn-primary">Save</button> <small></small>
  </div>
</div>