<ul  ng-init="model.predefined_selected=false;currentTab='custom'" class="nav nav-pills" ng-init="currentTab='custom'">
  <li ng-class="{active: currentTab == 'custom'}">
    <a ng-click="currentTab='custom';feature.transformer.predefined_selected=false">Custom</a>
  </li>
  <li ng-class="{active: currentTab == 'predefined'}">
    <a ng-click="currentTab='predefined';feature.transformer.predefined_selected=true">Predefined</a>
  </li>
</ul>

<div ng-show="currentTab=='predefined'" class="control-group">
  <alert-message class="alert-info" msg='Please choose predefined transformer. You could add other predefined transformers at <a target="_blank" href="#/features/transformers/">Transformers List</a> page.' unsafe></alert-message>
  <div class="control-group" ng-class="{error: TransformerForm.transformer.$invalid}">
    <label class="control-label">Transformer</label>
    <div class="controls"  ng-controller="TransformersSelectLoader">
      <select name="transformer" ng-model="feature.transformer.transformer" ng-required="currentTab=='predefined'">
        <option ng-repeat="name in transformers" value="{{ name }}">{{ name }}</option>
      </select>
      <span ng-show="TransformerForm.transformer.$error.required" class="help-inline">*</span>
    </div>
  </div>
</div>

<div ng-show="currentTab=='custom'" class="control-group">
  <div class="control-group" ng-class="{error: TransformerForm.type.$invalid}">
    <label class="control-label">Type</label>
    <div class="controls" ng-controller="TransformersTypesLoader">
      <select ng-change="loadParameters()" name="type" ng-model="feature.transformer.type" ng-required="currentTab == null || currentTab=='custom'">
        <option value="">-----</option>
        <option ng-selected="typeName == feature.transformer.type" ng-repeat="typeName in types" value="{{ typeName }}">{{ typeName }}</option>
      </select>
      <span ng-show="TransformerForm.type.$error.required" class="help-inline">*</span>
    </div>
  </div>
  <div ng-show="feature.transformer.type">
    <h4>Transformer Parameters</h4>
    <div ng-repeat="name in feature.transformer.config.parameters" class="control-group">
      <label class="control-label">{{ name }}</label>
      <div class="controls">
        <input ng-model="feature.transformer.params[name]" name="{{ name }}" type='text' />
      </div>
    </div>
  </div>
</div>
</div>