<ul class="nav nav-tabs" ng-init="model.json_selected=true">
  <li ng-class="{active: model.json_selected}">
    <a ng-click="model.json_selected=true">From JSON file</a>
  </li>
  <li ng-class="{active: model.json_selected == false">
    <a ng-click="model.json_selected=false">Form</a>
  </li>
</ul>

<div class="tab-content">
  <div ng-show="model.json_selected == false">
    <div class="control-group" ng-class="{error: Form.name.$invalid}">
      <label class="control-label">Name</label>
      <div class="controls">
        <input type="text" name="name" ng-model="model.name" ng-required="model.json_selected == false" />
        <span ng-show="Form.name.$error.required" class="help-block">name is required and should be unique</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: Form.name.$invalid}">
      <label class="control-label">Field Name</label>
      <div class="controls">
        <input type="text" name="name" ng-model="model.field_name" ng-required="model.json_selected == false" />
        <span ng-show="Form.field_name.$error.required" class="help-block">field name is required</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: Form.feature_type.$invalid}">
      <label class="control-label">Feature Type</label>
      <div class="controls">
        <input type="text" name="feature_type" ng-model="model.feature_type" ng-required="model.json_selected == false" />
        <span ng-show="Form.feature_type.$error.required" class="help-block">feature type is required</span>
      </div>
    </div>
    <div class="control-group" ng-class="{error: Form.type.$invalid}">
      <label class="control-label">Type</label>
      <div class="controls" ng-controller="TransformersTypesLoader">
        <select ng-change="loadParameters()" name="type" ng-model="model.type" ng-required="model.json_selected == false">
          <option ng-selected="typeName == model.type" ng-repeat="typeName in types" value="{{ typeName }}">{{ typeName }}</option>
        </select>
        <span ng-show="Form.type.$error.required" class="help-block">type is required</span>
      </div>
    </div>
    <div ng-show="model.config.parameters">
      <h4>Transformer Parameters</h4>
      <div ng-repeat="name in model.config.parameters" class="control-group">
        <label class="control-label">{{ name }}</label>
        <div class="controls">
          <input ng-model="model.params[name]" name="{{ name }}" type='text' />
        </div>
      </div>
    </div>
  </div>

  <div ng-show="model.json_selected == true">
    <div class="control-group" ng-class="{error: Form.json.$invalid}">
      <label class="control-label">JSON Config</label>
      <div class="controls">
        <input type="file" name="json" ng-model="model.json" json-file />
        <span ng-show="Form.json.$error.jsonFile" class="help-block">Should be a valid json file</span>
        <span class="help-block">There should be JSON file with transformer config</span>
      </div>
    </div>
  </div>
</div>
<hr />
<div ng-controller="ImportHandlerSelectCtrl" class="control-group" ng-class="{error: Form.train_import_handler.$invalid}">
  <label class="control-label">Import Handler</label>
  <div class="controls">
    <select name="train_import_handler" ng-model="model.train_import_handler">
      <option ng-repeat="handler in handlers_list" value="{{ handler.value }}">{{ handler.text }}</option>
    </select>
    <span ng-show="Form.train_import_handler.$invalid" class="help-block">Please select existing import handler</span>
  </div>
</div>
