@red_color: #f97777;
@green_color: #92fc6c;
@blue:                  #049cdb;
@blueDark:              #0064cd;
@green:                 #46a546;
@red:                   #9d261d;
@yellow:                #ffc40d;
@orange:                #f89406;
@pink:                  #c3325f;
@purple:                #7a43b6;

.darkest(@c) when (iscolor(@c)) {
  background-color: darken(@c, 40%);
}

.darker(@c) when (iscolor(@c)) { 
  background-color: darken(@c, 30%);
}

.dark(@c) when (iscolor(@c)) { 
  background-color: darken(@c, 15%);
}

.light(@c) when (iscolor(@c)) { 
  background-color: lighten(@c, 5%);
}

.lighter(@c) when (iscolor(@c)) { 
  background-color: lighten(@c, 10%);
}

.lightest(@c) when (iscolor(@c)) { 
  background-color: lighten(@c, 15%);
}

.red { 
  background-color: @red_color;
}

.red.darkest { 
  .darkest(@red_color);
}

.red.darker { 
  .darker(@red_color);
}

.red.dark { 
  .dark(@red_color);
}

.red.light { 
  .light(@red_color);
}

.red.lighter { 
  .lighter(@red_color);
}

.red.lightest { 
  .lightest(@red_color);
}


.green { 
  background-color: @green_color;
}

.green.darkest { 
  .darkest(@green_color);
}

.green.darker { 
  .darker(@green_color);
}

.green.dark { 
  .dark(@green_color);
}

.green .light { 
  .light(@green_color);
}

.green.lighter { 
  .lighter(@green_color);
}

.green.lightest { 
  .lightest(@green_color);
}
/*
.block {
  background-color: whiteSmoke;
  border: 1px solid #e3e3e3;
  border-width: 1px 2px 2px 1px;
  border-radius: 4px;
  padding: 5px;
  margin: 1em 0;
}*/

.breadcrumb {
  margin: 0;
}

.wrapper > .container {
  padding-top: 0px;
}

.pointer {
  cursor: pointer;
}

.icon-train {
  background: url("../img/books-icon.png");
}

.icon-sigma {
  background: url("../img/sigma.png");
}

.icon-beta {
  background: url("../img/beta.png");
}

.icon-test {
  background: url("../img/chart-icon.png");
}

.normalized-weight-formula {
  background: url("../img/normalized_weight.png");
}

.switcher .active {
  font-weight: bold;
}

.logging {
  padding: 10px;
  width: 99%;
  height: 250px;
  overflow-y: scroll;
  border: 1px solid #ccc;
}

th.active {
  text-decoration: underline;
}

table.ordered thead th {
  cursor: pointer;  
}

h2.title {
  margin: 0;
}

.lead {
  margin-bottom: 5px;
}

div.columns .controls {
  margin-left: 70px;
}

div.columns .control-label {
  width: 50px;
}
div.row {
  margin-left: -20px;
}
.modal.large {
  width: 680px;
}
.form-horizontal .control-group {
    margin-bottom: 8px;
}

.select2-search-choice-close, .select2-container .select2-choice abbr, .select2-container .select2-choice div b, .select2-search input {
  background-image: url('../img/select2.png');
}

.nav .username {
  color: #fff;
  font-size: 12px;
  text-decoration: none;
}

.form-signin {
  max-width: 400px;
  padding: 19px 29px 29px;
  margin: 40px auto 20px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
  box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.bold
{
  font-weight: bold;
}

textarea.params {
  width: 300px; height: 150px;
}

.query {
  clear: both;
  margin: 5px;
}
.query .CodeMirror {
  height: 100px;
}

.params-editor .control-label {
  text-transform:capitalize;
  text-align: left;
  width: auto;
}

.params-editor .keyinput {
  margin-bottom: 5px;
}

.params-editor .help_text {
  display: block;
}

.query-results {
  margin-top: 10px;
}

.error_message {
  color: #b94a48;
}
.modal-body form.form-horizontal .help-block {
  margin-top: 0px;
}

#imports .CodeMirror {
  height: 100px;
}

.tree li {
  border: 1px solid #e5e5e5;
  margin-bottom: 10px;
}

.tree li, .weights-tree li {
  list-style-type: none;
}
.tree li>div {
  padding: 10px;
  padding-top: 0px;
}
.tree h4 {
  
}

/* scrollable table with fixed first column */
@th_width: 250px;
.scrollable table {

  width: 100%;
  *margin-left: -@th_width;/*ie7*/
}
.scrollable thead tr th:first-child {
  position:absolute;
  *position: relative; /*ie7*/
  left:0; 
  width:@th_width;
}
.scrollable tbody tr th {
  position:absolute;
  *position: relative; /*ie7*/
  left:0; 
  width:@th_width;
}
.scrollable .outer {position:relative}
.scrollable .inner {
  overflow-x:scroll;
  overflow-y:visible;
  width:850px; 
  margin-left:@th_width;
}

.value {
  font-size: 110%;
  font-weight: 700;
  margin: 0 1em 0 1em;
}

.actions {
  float: right;
}

.button-in-header {
  margin-top: 5px;
  margin-bottom: 10px;
  margin-right: 5px;
}

div.spinner {
  position: relative;
  width: 54px;
  height: 54px;
  display: inline-block;

  div {
    width: 12%;
    height: 26%;
    background: #000;
    position: absolute;
    left: 44.5%;
    top: 37%;
    opacity: 0;
    -webkit-animation: fade 1s linear infinite;
    animation: fade 1s linear infinite;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0 0 3px rgba(0,0,0,0.2);
    box-shadow: 0 0 3px rgba(0,0,0,0.2);

    &.bar1 {-webkit-transform:rotate(0deg) translate(0, -142%); -webkit-animation-delay: 0s; transform:rotate(0deg) translate(0, -142%); animation-delay: 0s;}
    &.bar2 {-webkit-transform:rotate(30deg) translate(0, -142%); -webkit-animation-delay: -0.9167s; transform:rotate(30deg) translate(0, -142%); animation-delay: -0.9167s;}
    &.bar3 {-webkit-transform:rotate(60deg) translate(0, -142%); -webkit-animation-delay: -0.833s; transform:rotate(60deg) translate(0, -142%); animation-delay: -0.833s;}
    &.bar4 {-webkit-transform:rotate(90deg) translate(0, -142%); -webkit-animation-delay: -0.75s; transform:rotate(90deg) translate(0, -142%); animation-delay: -0.75s;}
    &.bar5 {-webkit-transform:rotate(120deg) translate(0, -142%); -webkit-animation-delay: -0.667s; transform:rotate(120deg) translate(0, -142%); animation-delay: -0.667s;}
    &.bar6 {-webkit-transform:rotate(150deg) translate(0, -142%); -webkit-animation-delay: -0.5833s; transform:rotate(150deg) translate(0, -142%); animation-delay: -0.5833s;}
    &.bar7 {-webkit-transform:rotate(180deg) translate(0, -142%); -webkit-animation-delay: -0.5s; transform:rotate(180deg) translate(0, -142%); animation-delay: -0.5s;}
    &.bar8 {-webkit-transform:rotate(210deg) translate(0, -142%); -webkit-animation-delay: -0.41667s; transform:rotate(210deg) translate(0, -142%); animation-delay: -0.41667s;}
    &.bar9 {-webkit-transform:rotate(240deg) translate(0, -142%); -webkit-animation-delay: -0.333s; transform:rotate(240deg) translate(0, -142%); animation-delay: -0.333s;}
    &.bar10 {-webkit-transform:rotate(270deg) translate(0, -142%); -webkit-animation-delay: -0.25s; transform:rotate(270deg) translate(0, -142%); animation-delay: -0.25s;}
    &.bar11 {-webkit-transform:rotate(300deg) translate(0, -142%); -webkit-animation-delay: -0.1667s; transform:rotate(300deg) translate(0, -142%); animation-delay: -0.1667s;}
    &.bar12 {-webkit-transform:rotate(330deg) translate(0, -142%); -webkit-animation-delay: -0.0833s; transform:rotate(330deg) translate(0, -142%); animation-delay: -0.0833s;}
  }
}

@-webkit-keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}
@keyframes fade {
  from {opacity: 1;}
  to {opacity: 0.25;}
}


// As per http://angular-ui.github.io/bootstrap/ The CSS section
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }
a[ng-click] {cursor: pointer;}

a.link-inactive {
  pointer-events: none;
  cursor: default;
  color: #333;
}

.category {
  color: #000;
  text-decoration: none;
}

.category:hover {
  color: #000;
  text-decoration: none;
}

.category-tree [class*="span"] {
  margin-left: 20px;
}

.form-horizontal {
  .no-horizontal-form-param {
    .control-label {
      float: none;
      width: inherit;
      padding-top: inherit;
      text-align: inherit;
    }
  }
}

.p10 {
  padding: 10px;
}

.text-debug {
  color: #434B0E;
}

.badge-debug {
  background-color: #434B0E;
}

.badge-error {
  background-color: #b94a48;
}

.cml-decision-tree {

  .link {
    fill: none;
    stroke: #ccc;
    stroke-width: 2px;
  }

  svg {
    height: 760px;
    margin: 0;
  }
}

.target {
  background-color: #dff0d8;
}

.disabled {
  background-color: #eee;
  color: #aaa;
}

.input-medium2 {
  width: 105px;
}

.feature_value .badge {
  white-space: normal;
}

i.icon img {
  width: 20px;
}

.empty {
  font-style: italic;
}

a.server {
  color: #ffffff;
}

.production {
  background-color: @green;
}

.development {
  background-color: @orange;
}

.staging {
  background-color: @blue;
}

.analytics {
  background-color: @pink;
}

.alert-in-table {
  font-size: 13px;
  margin-bottom: 0px;
  padding: 2px 28px 2px 8px;
}

.releasenotes {
  margin-left: 25px;
  margin-bottom: 20px;
  padding: 1px;
  border: thin solid lightgray;
}

.releasenotes pre {
  margin: 0;
}

.navbar .custom-padding > li > a {
  padding: 10px 13px 10px;
}