<div ng-controller="SaveObjectCtl">
  <div class="modal-header">
    <button ng-click="$dismiss('cancel')" class="close" data-dismiss="modal">×</button>
    <h3>Entity "{{ model.name }}" DataSource</h3>
  </div>

  <div class="modal-body">
    <ng-include src="'partials/parts/save_form_messages.html'"></ng-include>
    <div class="control-group">
      <form name="Form" class="form-horizontal">

          <div class="control-group" ng-class="{error: Form.datasource.$invalid || errorList.datasource}" ng-controller="XmlDataSourceSelectCtrl" ng-init="init(model.import_handler_id)">
              <label class="control-label">Data Source (global)</label>
              <div class="controls">
                <select name="datasource" ng-model="model.datasource" ng-change="model.transformed_field = undefined">
                  <option ng-selected="ds.id == model.datasource" value="{{ ds.id }}" ng-repeat="ds in datasources">{{ ds.name }}</option>
                </select>
                <span ng-show="Form.datasource.$error.required" class="help-inline">*</span>
                <span ng-show="errorList.datasource" class="help-block" ng-bind="errorList.datasource" />
              </div>
            </div>

            <div ng-controller="XmlTransformedFieldSelectCtrl" ng-init="init(model)" ng-show="transformed_fields">

            <div class="control-group">
              <label class="control-label">or</label>
            </div>

            <div class="control-group" ng-class="{error: Form.transformed_field.$invalid || errorList.transformed_field}">
              <label class="control-label">Transformed field</label>
              <div class="controls">
                <select name="transformed_field" ng-model="model.transformed_field" ng-change="model.datasource = undefined">
                  <option ng-selected="field.id == model.transformed_field" value="{{ field.id }}" ng-repeat="field in transformed_fields">{{ field.name }}</option>
                </select>
                <span ng-show="Form.transformed_field.$error.required" class="help-inline">*</span>
                <span ng-show="errorList.transformed_field" class="help-block" ng-bind="errorList.transformed_field" />
              </div>
            </div>

            </div>

      </form>
    </div>
  </div>

  <div class="modal-footer">
    <button ng-click="save(['datasource', 'transformed_field'])" ng-disabled="Form.$invalid" class="btn btn-primary">Save</button>
  </div>
</div>