<div class="form-inline">
  <div ng-repeat="item in items" class="control-group">
    <span class="badge">{{ item }}</span>
    <button title="delete item" ng-click="deleteItem($index)" class="btn">
        <i class="icon-trash"></i></button>
  </div>
</div>
<alert-message ng-show="err" class="alert-error" msg="{{err}}" trace="{{ trace }}" unsafe></alert-message>
<div class="input-append">
  <input class="span2" ng-model="newItem" type="text">
  <button class="btn" type="button" ng-click="addItem()" ng-disabled="!newItem">add</button>
</div>