<i class="help_text" ng-show="hasNoFields">
  There are no parameters to edit
</i>

<div class="jsonContents">
  <div class="block control-group" ng-hide="fieldName.indexOf('_') == 0" ng-repeat="(fieldName, field) in fields"
       ng-class="{error: !field.valid}" ng-init="field.valid=true;field.required=isRequired(fieldName)">
    <label class="control-label">{{fieldName}}<span>: &nbsp;</span></label>

    <span ng-switch on="field.type" >
      <div ng-switch-when="dict">
      </div>
      <span ng-switch-when="text" class="jsonLiteral">
        <textarea name="{{fieldName}}" ng-model="data[fieldName]"
                  class="span5"
                  rows="3"
                  ng-model-onblur
                  name="{{fieldName}}">
        </textarea>
      </span>
      <span ng-switch-default class="jsonLiteral">
        <input type="text" ng-model="data[fieldName]" ng-model-onblur
               placeholder="Empty" class="input-medium" dynamic-name="fieldName"
                parameter-validator=""/>
      </span>
      <span ng-show="field.required && !field.valid" class="help-inline">*</span>
      <div ng-hide="field.valid">
        <i class="help_text help-block"> {{ field.help_text }} </i>
      </div>
    </span>
  </div>
</div>