<ul class="category-tree">
  <li ng-show="!row.value" ng-init="show=false" ng-repeat="(key, row) in tree['categories']" >
      <a class="category" ng-click="show=!show;innerLoad()(row['details'].name, show)">
      	<strong>{{ key }}</strong>
	      <span ng-show="options.show_model_weights" title="Sum bi xi by the subfeatures: {{ row['details'].normalized_weight }}">
	      	<i class="icon-sigma"></i>
	      	<span class="badge">{{ row['details'].normalized_weight|number:6 }}</span>
	      </span>
	      <i ng-class="{false:'icon-arrow-right',true:'icon-arrow-down'}[show]"></i>
      </a>
      <recursive ng-show="show">
        <span tree="row" custom-click="innerLoad()" options=options></span>
      </recursive>
  </li>
  <li ng-repeat="(name, w) in tree['weights']">
  	<div class="row">
	    <em class="span3" title="Segment ID {{ w.segment_id }}">
	    	{{ w.name }}
	    </em>
	    <span class="span1" ng-show="options.show_model_weights">
	    	<span class="badge" title="Model coefficient {{ w.value2 }}" ng-class="w.css_class">{{ w.value|number:6 }}</span>
	    </span>
	    <span class="span2" ng-show="options.show_normalized_model_weights">
	    	<i class="icon-hand-right"></i>
	    	<span class="badge badge-info" title="Sum |beta_i * x_i| / m: {{ w.value2 }}">{{ w.value2|number:6 }}</span>
	    </span>

	    <span class="span2" ng-show="options.show_test_weights">
	    	<span class="badge badge-info" title="test_weight: {{ w.test_weight }}">{{ w.test_weight|number:6 }}</span>
	    </span>
	    <span class="span2" style="color: red;" ng-show="options.show_hints && !w.value">
	    	<i class="icon-flag"></i> zero weight
	    </span>
	</div>
  </li>
</ul>