<div ng-controller="SaveObjectCtl">
<h2>
  Add New XML Import Handler
  <small>
      <a ng-href="#/importhandlers/xml">(Cancel)</a>
  </small>
</h2>
<ng-include src="'partials/parts/save_form_messages.html'"></ng-include>
<form name="Form" class="form-horizontal">
  <div class="control-group" ng-class="{error: Form.name.$invalid || errorList.name}">
    <label class="control-label">Name</label>
    <div class="controls">
      <input type="text" name="name" ng-model="model.name"  ng-change="setFieldError('name')" required />
      <span ng-show="Form.name.$error.required" class="help-block">Import Handler name is required and should be unique</span>
      <span ng-show="errorList.name" class="help-block" ng-bind="errorList.name" />
    </div>
  </div>
  <div class="control-group" ng-class="{error: Form.data.$invalid || errorList.data}">
    <label class="control-label">XML file</label>
    <div class="controls">
      <input type="file" name="data" ng-model="model.data" not-required-file />
      <span ng-show="Form.data.$error.xmlFile" class="help-block">Should be a valid xml file</span>
      <span class="help-block">You could choose XML file in valid format</span>
      <span ng-show="errorList.data" class="help-block" ng-bind="errorList.data" />
    </div>
  </div>
  <br />
  <a href="#/xml_import_handlers" class="btn">Cancel</a>
  <button ng-click="save(['name', 'data'])" ng-disabled="Form.$invalid" class="btn btn-primary">Add new XML import handler</button> <small>and start using it in your models</small>
</form>
</div>