<h2>
  XML Import Handler
  <small title="Title"
    class="title" ng-bind="handler.name || 'untitled handler'"
    editable="handler" value="handler.name"
    editable-field="name" editable-input="text"
    editable-placement="right" editable-required></small>
  <small ng-show="handler.locked && handler.server_type != None">(Deployed to {{ handler.server_type }})</small>
  <small ng-show="handler.locked && handler.server_type == None">(Locked for modifications)</small>
  <div class="actions" ng-controller="ImportHandlerActionsCtrl">
    <div ng-init="init({handler: handler})">
      <button ng-click="importData(handler)" class="btn btn-info">
        <i title="Load data" class="icon-tasks"></i>
        Import DataSet
      </button>
      <button ng-click="uploadHandlerToPredict(handler)" class="btn btn-info">
        <i title="Upload for Predict" class="icon-upload"></i> Upload for Predict
      </button>
      <a style="font-weight: normal;" href="{{ handler.downloadXmlUrl() }}" class="btn btn-info">
        <i title="Download import handler XML file" class="icon-download-alt"></i> Download XML
      </a>
      <button ng-click="clone(handler)" class="btn btn-info">
        <i title="Clone your import handler." class="icon-tasks"></i> Clone
      </button>
      <!-- <button class="btn btn-info" ng-click="testHandler(handler)"><i class="icon-play"></i> Test Import Handler</button> -->
      <button ng-click="delete(handler)" class="btn btn-danger">
        <i title="Delete your handler. Be careful - you could not recover it!" class="icon-remove"></i>
        Delete
      </button>
    </div>
  </div>
</h2>

<div title="quick info" ng-init="obj=handler">
  <ng-include src="'partials/parts/created_tags.html'"></ng-include>
</div>
<br/>
<div title="Servers where import handler is deployed" ng-init="obj=handler">
    <ng-include src="'partials/parts/deployed_servers.html'"></ng-include>
</div>
<br/>
<alert-message ng-show="msg" class="alert-info" msg='{{ msg }}' unsafe></alert-message>
<alert-message ng-show="err" class="alert-error" msg='{{ err }}' unsafe></alert-message>
<alert-message ng-show="handler.error" class="alert-error" msg="{{ handler.error }}" unsafe></alert-message>

<ul class="nav nav-tabs" ng-show="handler.loaded">
  <li ng-class="{active: action[0] == 'model'}">
    <a ng-click="setSection(['model', 'details'])">Details</a> 
  </li>
  <li ng-class="{active: action[0] == 'dataset'}"><a ng-click="setSection(['dataset', 'list'])">DataSets</a></li>
</ul>
 
<div class="tab-content" ng-show="handler.loaded">
  <div ng-show="action[0] == 'model'">
    <p class="switcher">
      <b>Switch View: </b>
      <a ng-class="{active: action[1] == 'details'}" ng-click="setSection(['model', 'details'])">Standard</a> | 
      <a ng-class="{active: action[1] == 'xml'}" ng-click="setSection(['model', 'xml']);">XML File</a>
    </p>
    <div ng-show="action[1] == 'details'">
      <accordion close-others="false">

          <!-- datasources -->
        <accordion-group is-open="true">
          <accordion-heading>DataSources</accordion-heading>
          <div id="datasouces" ng-controller="DatasourcesListCtrl" ng-init="init(handler)">
            <div>
              <div class="actions">
                <a class="btn btn-info" ng-click="add()" ng-show="handler.can_edit">
                  <i class="status-icon icon-plus"></i> add datasource
                </a>
              </div>
              <div class="clearfix">
                <table class="table table-hover" ng-controller="BaseListCtrl" ng-init="init(false, 'datasources', false)">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th ng-show="handler.can_edit">Parameters</th>
                      <th ng-show="handler.can_edit">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in objects | orderBy:'name'" ng-hide="item.type=='input'">
                      <td>
                        {{ item.name }}
                      </td>
                      <td>
                        {{ item.type }}
                      </td>
                      <td ng-show="handler.can_edit">
                        {{ item.params | json }} 
                      </td>
                      <td ng-show="handler.can_edit">
                          <button ng-click="edit(item)" class="btn btn-info">
                            <i title="Edit datasource" class="icon-edit"></i>
                          </button>
                          <button ng-click="delete(item)" class="btn btn-danger">
                            <i title="Delete datasource. Be careful - you could not recover it!" class="icon-remove"></i>
                          </button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot ng-hide="objects">
                    <tr><td colspan="4">No datasources found</td></tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </accordion-group>

        <!-- inputs -->
        <accordion-group is-open="true">
          <accordion-heading>Input Parameters</accordion-heading>
          <div id="inputs" ng-controller="InputParametersListCtrl" ng-init="init(handler)">
            <div>
              <div class="actions">
                <a class="btn btn-info" ng-click="add(handler)" ng-show="handler.can_edit">
                  <i class="status-icon icon-plus"></i> add parameter
                </a>
              </div>
              <div class="clearfix">
                <table class="table table-hover" ng-controller="BaseListCtrl" ng-init="init(false, 'input_parameters', false)">
                  <thead>
                    <tr>
                      <th>Name</th>
                      <th>Type</th>
                      <th>Regex</th>
                      <th>Format</th>
                      <th width="100px" ng-show="handler.can_edit">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr ng-repeat="item in objects | orderBy:'name'">
                      <td>
                        <span title="name" class="name" ng-bind="item.name || 'no name'" editable="item" value="item.name" editable-field="name" editable-input="text" editable-placement="right" editable-required></span>
                      </td>
                      <td ng-controller="InputParameterTypesLoader">
                        <span title="Input Format Type" ng-bind="item.type || 'not specified'" editable="item" value="item.type" editable-field="type" editable-placement="right" editable-input="select" source="types"></span>
                      </td>
                      <td>
                        <span title="Input Parameter Regex" class="regex" ng-bind="item.regex || 'not specified'" editable="item" value="item.regex" editable-field="regex" editable-input="text" editable-placement="right"></span>
                      </td>
                      <td>
                        <span title="format" class="format" ng-bind="item.format || 'no format'" editable="item" value="item.format" editable-field="format" editable-input="text" editable-placement="right"></span>
                      </td>
                      <td ng-show="handler.can_edit">
                        <button ng-click="delete(item)" class="btn btn-danger"><i title="Delete your input parameter. Be careful - you could not recover it!" class="icon-remove"></i></button>
                      </td>
                    </tr>
                  </tbody>
                  <tfoot ng-hide="objects">
                    <tr><td colspan="5">No input parameters found</td></tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </accordion-group>

        <!-- scripts -->
        <accordion-group is-open="true">
          <div  ng-controller="ScriptsListCtrl" ng-init="init(handler)">
          <accordion-heading>
            <div class="row">
              <div class="span8">Scripts</div>
              <div class="span3 pull-right">
                <div class="actions button-in-header">
                  <a class="btn btn-info" ng-click="add(handler)" stop-event="click" ng-show="handler.can_edit">
                    <i class="status-icon icon-plus"></i> add script
                  </a>
                </div>
              </div>
            </div>
          </accordion-heading>
          <div id="scripts">
            <div ng-controller="BaseListCtrl" ng-init="init(false, 'xml_scripts', false)">
              <div ng-repeat="item in objects | orderBy:'id'">
                <div class="row">
                  <div class="span9" ng-show="item.type=='python_code'">
                    <textarea class="small" ui-codemirror="codeMirrorConfigs('nocursor')['python']" ng-model="item.data" class="cml-codemirror-refresh" />
                  </div>
                  <div class="span9" ng-show="item.type=='python_file'">
                      File: <a ng-click="preview(item)" stop-event="click">{{ item.data }}</a>
                  </div>
                  <div class="span2">
                    <button ng-click="edit(item)" class="btn btn-info" ng-show="handler.can_edit">
                      <i title="Edit script" class="icon-edit"></i>
                    </button>
                    <button ng-click="delete(item)" class="btn btn-danger" ng-show="handler.can_edit">
                      <i title="Delete script. Be careful - you could not recover it!" class="icon-remove"></i>
                    </button>
                  </div>
                  <div class="row" ng-show="!$last">
                    <div class="span11"><hr/></div>
                  </div>
                </div>
              </div>

            </div>
          </div>
          </div>
        </accordion-group>

        <!-- imports -->
        <accordion-group is-open="true">
          <accordion-heading>Import</accordion-heading>
          <div id="imports" ng-controller="EntitiesTreeCtrl" ng-init="init(handler)">
            <entities-tree handler="handler" entity="objects"
                           add-entity="addEntity"
                           add-field="addField"
                           delete-entity="delete"
                           delete-field="delete"
                           edit-data-source="editDataSource"
                           save-query-text="saveQueryText"
                           run-query="runQuery"
                           add-sqoop="addSqoop"
                           get-pig-fields="getPigFields"
                           delete-sqoop="delete"
                           save-model="saveModel"></entities-tree>
          </div>
        </accordion-group>

        <!-- predict -->
        <accordion-group is-open="true">
          <accordion-heading>Predict</accordion-heading>

          <div id="predict">
            <ng-include src="'partials/importhandlers/xml/predict/details.html'"></ng-include>
          </div>
        </accordion-group>

      </accordion>
    </div>
  </div>

  <div ng-show="action[1] == 'xml'" cml-has-codemirror="action[1] == 'xml'">
    <form name="XmlIHXmlForm" ng-controller="XmlIHXmlEditCtrl">
      <textarea name="ihXml" class="cml-codemirror-refresh" ng-model="handler.xml"
                ui-codemirror="codeMirrorConfigs(!handler.can_edit, '100%', '100%')['xml']"></textarea>

      <button ng-click="saveXml()" class="btn btn-info" ng-disabled="XmlIHXmlForm.ihXml.$pristine" ng-show="handler.can_edit">Save</button>

      <button ng-click="resetXmlChanges()" class="btn btn-info" ng-disabled="XmlIHXmlForm.ihXml.$pristine" ng-show="handler.can_edit">Cancel Changes</button>

    </form>
  </div>

  <div ng-show="action[0] == 'dataset'">
    <div ng-controller="DatasetListCtrl" ng-init="init(handler)">
      <ng-include src="'partials/datasets/list.html'"></ng-include>
    </div>
  </div>
</div>